<div class="app-container">

  <!-- ✅ Sidebar Overlay for mobile -->
  <div class="sidebar-overlay" [class.show]="sidebarOpen" *ngIf="isMobile" (click)="toggleSidebar()"></div>


  <aside class="sidebar" [class.closed]="!sidebarOpen" [class.mobile-open]="isMobile && sidebarOpen">
    <!-- Header -->
    <div class="sidebar-header">
      <img [src]="sidebarOpen ? '/assets/images/login/sidemenulogo.png' : '/assets/images/login/logo.svg'" alt="Logo"
        routerLink="/admin/dashboard" class="sidebar-logo" />
      <img src="/assets/images/icons/arrow-right.svg" *ngIf="isMobile" (click)="toggleSidebar()" alt="Arrow"
        class="card-arrow">
    </div>
    <!-- Main navigation -->

    <nav class="sidebar-nav">
      <a *ngFor="let item of menuItems" [routerLink]="item.route" routerLinkActive="active" #rla="routerLinkActive"
        [routerLinkActiveOptions]="{ exact: true }" [class.active]="rla.isActive" class="nav-item">
        <span class="nav-icon">
          <img [src]="rla.isActive && sidebarOpen ? item.iconActive : item.icon" alt="{{ item.label }}"
            class="menu-icon">
        </span>
        <span class="nav-label">{{ item.label }}</span>
        <span class="nav-icon-arrow">
          <img *ngIf="sidebarOpen" src="/assets/images/icons/arrow-down.svg" alt="Expand" class="arrow-icon" height="15"
            width="15" />
        </span>
      </a>
    </nav>


    <!-- Footer buttons -->
    <div class="sidebar-footer">
      <button class="btn btn-sidebar">
        <img [src]="sidebarOpen ? '/assets/images/icons/setting.svg' : '/assets/images/icons/setting-icon.svg' "
          alt="setting" class="menu-icon sidebar-footer-btn">
      </button>

      <button class="btn btn-sidebar" (click)="logout()">
        <img [src]=" sidebarOpen ? '/assets/images/icons/logout.svg' : '/assets/images/icons/logout-icon.svg' "
          alt="logout" class="menu-icon sidebar-footer-btn">
      </button>
    </div>


  </aside>


  <!-- Main Content Area -->
  <div class="main-content">
    <!-- Header -->
    <header class="header">
      <button class="menu-toggle" (click)="toggleSidebar()">
        <span class="hamburger"></span>
        <span class="hamburger"></span>
        <span class="hamburger"></span>
      </button>

      <div class="header-title">
        Welcome
      </div>

      <div class="header-actions">
        <button class="header-actions-icons search-btn">
          <img src="/assets/images/icons/search-normal.svg" alt="Message" class="card-image" />
        </button>
        <div class="header-divider"></div>
        <button class="header-actions-icons notification-btn">
          <img src="/assets/images/icons/notification-bing.svg" alt="Message" class="card-image" />
        </button>
        <div class="header-divider"></div>
        <div class="user-profile">
          <app-dropdown class="profile-dropdown" [options]="myOptions" placeholder="Harry John"
            [(selectedValue)]="selectedOption" [showSubtext]="true" subtext="NCID-2424"
            (selectedValueChange)="onSelectionChange($event)" [avatarUrl]="avatarUrl" [hasAvatar]="hasAvatar">
          </app-dropdown> <!-- [(selectedValue)]="selectedOption" -->
        </div>

        <!-- <div class="header-divider"></div>
        <button class="settings-btn">
          <span class="settings-icon">⚙️</span>
        </button> -->
      </div>
    </header>

    <!-- Routed Content -->
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>