<div class="base-layout">
    <form [formGroup]="incomeForm" (ngSubmit)="submit()" id="kycForm" class="w-100">

        <div class="accordion d-flex flex-column gap-4 mb-4">

            <div class="accordion-item b-0" *ngFor="let acc of accordions; let i = index">

                <h2 class="accordion-header">
                    <button class="accordion-button table-head" [class.collapsed]="openIndex !== i" type="button"
                        (click)="toggle(i)">
                        {{ acc.title }}
                    </button>
                </h2>

                <div class="accordion-collapse collapse" [class.show]="openIndex === i">

                    <div class="accordion-body p-0" *ngIf="openIndex === i">

                        <ng-container *ngIf="i === 0">
                            <ng-container *ngTemplateOutlet="incomeTemplate; context:{index:i}">
                            </ng-container>
                        </ng-container>

                    </div>
                </div>

            </div>

        </div>

        <ng-template #incomeTemplate let-i="index">
            <!-- salaried person -->
            <div class="row  d-flex  align-items-start pt-4 common-details-box d-flex flex-column"
                *ngIf="loanformservice.issalaried">

                <div class="row ">
                    <div class="text-label fw-bold mt-20">Salary Slips (Last 3 Months)</div>

                    <hr class="hrclass">
                    <div class=" mt-20 info-box">
                        <div class="col-lg-6 col-sm-12">
                            <p class="text-label">If you are applying in February 2026, please upload salary slips for:
                            </p>
                            <ul class="text-label">
                                <li class="text-label">November 2025 </li>
                                <li class="text-label">December 2025</li>
                                <li class="text-label">January 2026</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-20">
                        <div class="col-lg-4 col-sm-12">



                            @if(handleresponse && hasDocument('salary1')){
                            <label class="text-label">Salary Slip 1<span class="text-danger">*</span></label>
                            <div class="addcust-img-box mt-2">
                                <p class="text-label">{{ getDocumentName('salary1') }}</p>
                                <div class="icons">
                                    <span class="view" (click)="viewImage(getDocumentUrl('salary1'))"><img
                                            src="/assets/images/icons/eyered.svg" alt="view"></span>
                                    <span class="download"
                                        (click)="downloadImage(getDocumentUrl('salary1'), getDocumentName('salary1'))"><img
                                            src="/assets/images/icons/import-red.svg" alt="Download"></span>
                                    <span (click)="deleteImage('salary1')"><img src="/assets/images/icons/close.svg"
                                            alt="Download"></span>
                                </div>
                            </div>

                            } @else{
                            <app-uploadbtn [config]="basicConfig" [uploadViaApi]="true" [required]="true"
                                label="Salary Slip 1"
                                (uploadStarted)="onUploadStarted($event, 'salary1','INCOME','LAST_3_MONTHS','SALARY_SLIP')"
                                [fileuploadresponse]="handleresponse">
                            </app-uploadbtn>
                            }

                        </div>
                        <div class="col-lg-4 col-sm-12">
                            @if(handleresponse && hasDocument('salary2')){
                            <label class="text-label">Salary Slip 2<span class="text-danger">*</span></label>
                            <div class="addcust-img-box mt-2">
                                <p class="text-label">{{ getDocumentName('salary2') }}</p>
                                <div class="icons">
                                    <span class="view" (click)="viewImage(getDocumentUrl('salary2'))"><img
                                            src="/assets/images/icons/eyered.svg" alt="view"></span>
                                    <span class="download"
                                        (click)="downloadImage(getDocumentUrl('salary2'), getDocumentName('salary2'))"><img
                                            src="/assets/images/icons/import-red.svg" alt="Download"></span>
                                    <span (click)="deleteImage('salary2')"><img src="/assets/images/icons/close.svg"
                                            alt="Download"></span>
                                </div>
                            </div>

                            } @else{
                            <app-uploadbtn [config]="basicConfig"
                                (uploadStarted)="onUploadStarted($event, 'salary2' ,'INCOME' ,'LAST_3_MONTHS','SALARY_SLIP')"
                                [uploadViaApi]="true" [fileuploadresponse]="handleresponse" [required]="true"
                                label="Salary Slip 2">
                            </app-uploadbtn>
                            }
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            @if(handleresponse && hasDocument('salary3')){
                            <label class="text-label">Salary Slip 3<span class="text-danger">*</span></label>
                            <div class="addcust-img-box mt-2">
                                <p class="text-label">{{ getDocumentName('salary3') }}</p>
                                <div class="icons">
                                    <span class="view" (click)="viewImage(getDocumentUrl('salary3'))"><img
                                            src="/assets/images/icons/eyered.svg" alt="view"></span>
                                    <span class="download"
                                        (click)="downloadImage(getDocumentUrl('salary3'), getDocumentName('salary3'))"><img
                                            src="/assets/images/icons/import-red.svg" alt="Download"></span>
                                    <span class="delete" (click)="deleteImage('salary3')"><img
                                            src="/assets/images/icons/close.svg" alt="Download"></span>
                                </div>
                            </div>

                            } @else{
                            <app-uploadbtn [config]="basicConfig"
                                (uploadStarted)="onUploadStarted($event, 'salary3','INCOME' , 'LAST_3_MONTHS','SALARY_SLIP')"
                                [uploadViaApi]="true" [fileuploadresponse]="handleresponse" [required]="true"
                                label="Salary Slip 3">
                            </app-uploadbtn>
                            }
                        </div>
                    </div>



                </div>

                <div class="row ">
                    <div class="text-label fw-bold mt-20">Form 16</div>

                    <hr class="hrclass">
                    <div class=" mt-20 info-box">
                        <div class="col-lg-6 col-sm-12">
                            <p class="text-label">If you are applying in February 2026, Most recent available would be:
                            </p>
                            <ul class="text-label">
                                <li class="text-label">Financial Year 2024-25 </li>
                                <li class="text-label">Assessment Year 2025-26</li>
                            </ul>
                            <p class="text-label">(Form 16 for FY 2026-26 will only be available after March 2026)</p>

                        </div>
                    </div>
                    <div class="row mt-20">
                        <div class="col-lg-4 col-sm-12">
                            @if(handleresponse && hasDocument('Form16')){
                            <label class="text-label">Form 16<span class="text-danger">*</span></label>
                            <div class="addcust-img-box mt-2">
                                <p class="text-label">{{ getDocumentName('Form16') }}</p>
                                <div class="icons">
                                    <span class="view" (click)="viewImage(getDocumentUrl('Form16'))"><img
                                            src="/assets/images/icons/eyered.svg" alt="view"></span>
                                    <span class="download"
                                        (click)="downloadImage(getDocumentUrl('Form16'), getDocumentName('Form16'))"><img
                                            src="/assets/images/icons/import-red.svg" alt="Download"></span>
                                    <span (click)="deleteImage('Form16')"><img src="/assets/images/icons/close.svg"
                                            alt="Download"></span>
                                </div>
                            </div>

                            } @else{
                            <app-uploadbtn [config]="basicConfig"
                                (uploadStarted)="onUploadStarted($event, 'Form16' ,'INCOME','FORM_16','FORM_16')"
                                [uploadViaApi]="true" [fileuploadresponse]="handleresponse" [required]="true"
                                label="Form 16">
                            </app-uploadbtn>
                            }
                        </div>

                    </div>



                </div>

                <div class="row ">
                    <div class="text-label fw-bold mt-20">1 Year bank statement</div>

                    <hr class="hrclass">
                    <div class=" mt-20 info-box">
                        <div class="col-lg-6 col-sm-12">
                            <p class="text-label">If you are applying in February 2026, upload bank statement covering:
                            </p>
                            <ul class="text-label">
                                <li class="text-label">01 February 2025 to 31 January 2026 </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-20">
                        <div class="col-lg-4 col-sm-12">
                            @if(handleresponse && hasDocument('oneyearbankstatement')){
                            <label class="text-label">1 Year bank statement<span class="text-danger">*</span></label>
                            <div class="addcust-img-box mt-2">
                                <p class="text-label">{{ getDocumentName('oneyearbankstatement') }}</p>
                                <div class="icons">
                                    <span class="view" (click)="viewImage(getDocumentUrl('oneyearbankstatement'))"><img
                                            src="/assets/images/icons/eyered.svg" alt="view"></span>
                                    <span class="download"
                                        (click)="downloadImage(getDocumentUrl('oneyearbankstatement'), getDocumentName('oneyearbankstatement'))"><img
                                            src="/assets/images/icons/import-red.svg" alt="Download"></span>
                                    <span (click)="deleteImage('oneyearbankstatement')"><img
                                            src="/assets/images/icons/close.svg" alt="Download"></span>
                                </div>
                            </div>

                            } @else{
                            <app-uploadbtn [config]="basicConfig"
                                (uploadStarted)="onUploadStarted($event, 'oneyearbankstatement','INCOME','BANK_STATEMENT_1_YEAR', 'BANK_STATEMENT')"
                                [uploadViaApi]="true" [fileuploadresponse]="handleresponse" [required]="true"
                                label="1 Year bank statement">
                            </app-uploadbtn>
                            }
                        </div>

                    </div>



                </div>

                <div class="row ">
                    <div class="text-label fw-bold mt-20">Latest 3 year ITR</div>

                    <hr class="hrclass">
                    <div class=" mt-20 info-box">
                        <div class="col-lg-4 col-sm-12">
                            <p class="text-label">If you are applying in February 2026, upload ITR for:</p>
                            <ul class="text-label">
                                <li class="text-label">AY 2024-25</li>
                                <li class="text-label">AY 2023-24</li>
                                <li class="text-label">AY 2022-23</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-20">
                        <div class="col-lg-4 col-sm-12">
                            @if(handleresponse && hasDocument('ay1')){
                            <label class="text-label">Year 1<span class="text-danger">*</span></label>
                            <div class="addcust-img-box mt-2">
                                <p class="text-label">{{ getDocumentName('ay1') }}</p>
                                <div class="icons">
                                    <span class="view" (click)="viewImage(getDocumentUrl('ay1'))"><img
                                            src="/assets/images/icons/eyered.svg" alt="view"></span>
                                    <span class="download"
                                        (click)="downloadImage(getDocumentUrl('ay1'), getDocumentName('ay1'))"><img
                                            src="/assets/images/icons/import-red.svg" alt="Download"></span>
                                    <span (click)="deleteImage('ay1')"><img src="/assets/images/icons/close.svg"
                                            alt="Download"></span>
                                </div>
                            </div>

                            } @else{
                            <app-uploadbtn [config]="basicConfig"
                                (uploadStarted)="onUploadStarted($event, 'ay1','INCOME','ITR_LAST_3_YEARS','ITR')"
                                [uploadViaApi]="true" [fileuploadresponse]="handleresponse" [required]="true"
                                label="Year 1">
                            </app-uploadbtn>
                            }
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            @if(handleresponse && hasDocument('ay2')){
                            <label class="text-label">Year 2<span class="text-danger">*</span></label>
                            <div class="addcust-img-box mt-2">
                                <p class="text-label">{{ getDocumentName('ay2') }}</p>
                                <div class="icons">
                                    <span class="view" (click)="viewImage(getDocumentUrl('ay2'))"><img
                                            src="/assets/images/icons/eyered.svg" alt="view"></span>
                                    <span class="download"
                                        (click)="downloadImage(getDocumentUrl('ay2'), getDocumentName('ay2'))"><img
                                            src="/assets/images/icons/import-red.svg" alt="Download"></span>
                                    <span class="delete" (click)="deleteImage('ay2')"><img
                                            src="/assets/images/icons/close.svg" alt="Download"></span>
                                </div>
                            </div>

                            } @else{
                            <app-uploadbtn [config]="basicConfig"
                                (uploadStarted)="onUploadStarted($event, 'ay2','INCOME','ITR_LAST_3_YEARS','ITR')"
                                [uploadViaApi]="true" [fileuploadresponse]="handleresponse" [required]="true"
                                label="Year 2">
                            </app-uploadbtn>
                            }
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            @if(handleresponse && hasDocument('ay3')){
                            <label class="text-label">Year 3<span class="text-danger">*</span></label>
                            <div class="addcust-img-box mt-2">
                                <p class="text-label">{{ getDocumentName('ay3') }}</p>
                                <div class="icons">
                                    <span class="view" (click)="viewImage(getDocumentUrl('ay3'))"><img
                                            src="/assets/images/icons/eyered.svg" alt="view"></span>
                                    <span class="download"
                                        (click)="downloadImage(getDocumentUrl('ay3'), getDocumentName('ay3'))"><img
                                            src="/assets/images/icons/import-red.svg" alt="Download"></span>
                                    <span class="delete" (click)="deleteImage('ay3')"><img
                                            src="/assets/images/icons/close.svg" alt="Download"></span>
                                </div>
                            </div>

                            } @else{

                            <app-uploadbtn [config]="basicConfig"
                                (uploadStarted)="onUploadStarted($event, 'ay3','INCOME','ITR_LAST_3_YEARS','ITR')"
                                [uploadViaApi]="true" [fileuploadresponse]="handleresponse" [required]="true"
                                label="Year 3">
                            </app-uploadbtn>
                            }
                        </div>

                    </div>



                </div>



                <!-- <div class="row  d-flex flex-column">
                    <div class="text-label fw-bold mt-20">Other Documents</div>

                    <hr class="hrclass">
                    <div class=" mt-20 info-box">
                        <div class="col-lg-4 col-sm-12">
                            <p class="text-label">You can add extra documents here:</p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-12 mt-20">
                            <app-inputfield formControlName="assettitle" label="Title" placeholder="Enter text here"
                                (input)="main.restrictInput($event, 'text')" [maxlength]="25">
                            </app-inputfield>


                            <div class="text-danger" *ngIf="f['assettitle'].touched && f['assettitle'].invalid">

                                <div *ngIf="f['title'].errors?.['minlength']">
                                    Minimum 2 characters required
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12 mt-20">
                            @if(handleresponse && hasDocument('other')){
                            <label class="text-label">Other Documents<span class="text-danger">*</span></label>
                            <div class="addcust-img-box mt-2">
                                <p class="text-label">{{ getDocumentName('other') }}</p>
                                <div class="icons">
                                    <span class="view" (click)="viewImage(getDocumentUrl('other'))"><img
                                            src="/assets/images/icons/eyered.svg" alt="view"></span>
                                    <span class="download"
                                        (click)="downloadImage(getDocumentUrl('other'), getDocumentName('other'))"><img
                                            src="/assets/images/icons/import-red.svg" alt="Download"></span>
                                    <span class="delete" (click)="deleteImage('other')"><img src="/assets/images/icons/close.svg"
                                            alt="Download"></span>
                                </div>
                            </div>

                            } @else{
                            <app-uploadbtn [config]="basicConfig"
                                (uploadStarted)="onUploadStarted($event,  'other' ,'OTHER','OTHER_INCOME','OTHER')"
                                [uploadViaApi]="true" [fileuploadresponse]="handleresponse" [required]="true"
                                label="Other Documents">
                            </app-uploadbtn>}
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 mt-20">
                        <app-buttons label="Add Other Document" class="btn btn-icon Add btncustomClass" [outline]="true"
                            (click)="addotherdocuments()">
                            <img src="/assets/images/icons/addred.svg" alt="Add">

                        </app-buttons>
                    </div>
                </div> -->
               
                <div class="row d-flex flex-column">
                    <div class="text-label fw-bold mt-20">Other Documents</div>
                    <hr class="hrclass">

                    <div class="row">
                        @for (slot of otherIncomeSlots; track slot.id) {

                             <div class="row mt-20 row  d-flex  align-items-start ">


                                <div class="col-lg-4 col-sm-12">

                                    <app-inputfield label="Title" [required]="true" placeholder="Enter text here" [(ngModel)]="slot.title" [ngModelOptions]="{ standalone: true }"
                                        (input)="main.restrictInput($event, 'text')" [maxlength]="25">
                                    </app-inputfield>

                                    <div class="text-danger" *ngIf="f['assettitle'].touched && f['assettitle'].invalid">

                                        <div *ngIf="f['title'].errors?.['minlength']">
                                            Minimum 2 characters required
                                        </div>
                                    </div>
                                </div>
                        <div class="col-lg-4 col-sm-12 mt-20">

                            @if (handleresponse && getDocumentByKey( slot.title)) {

                            <label class="text-label">
                                Other Document {{ slot.id }}
                            </label>

                            <div class="addcust-img-box mt-2">
                                <p class="text-label">
                                    {{ getDocumentName(slot.title) }}
                                </p>

                                <div class="icons">
                                    <span class="view" (click)="viewImage(getDocumentUrl(slot.title))">
                                        <img src="/assets/images/icons/eyered.svg">
                                    </span>

                                        <span class="download" (click)="downloadImage(getDocumentUrl(slot.title), getDocumentName(slot.title))">
                                        <img src="/assets/images/icons/import-red.svg">
                                    </span>

                                    <span class="delete" (click)="deleteImage(slot.title)">
                                        <img src="/assets/images/icons/close.svg">
                                    </span>
                                </div>
                            </div>

                            } @else {



                            <app-uploadbtn [config]="basicConfig"
                                (uploadStarted)="onUploadStarted($event,  slot.title,'OTHER' ,'OTHER_INCOME','OTHER')"  [disabled]="!slot.title && slot.title.trim().length === 0"
                                [uploadViaApi]="true" [fileuploadresponse]="handleresponse" [required]="true"
                                label="Other Documents">
                            </app-uploadbtn>

                            }

                        </div>
                       <div class="col-lg-4 d-flex justify-content-end align-items-end mt-5">
                                     <span class="delete d-none d-lg-block" (click)="removeOtherDocument('other',slot.id)"
                                        >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none">
                                            <path
                                                d="M21 5.98047C17.67 5.65047 14.32 5.48047 10.98 5.48047C9 5.48047 7.02 5.58047 5.04 5.78047L3 5.98047"
                                                stroke="#25262F" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M8.5 4.97L8.72 3.66C8.88 2.71 9 2 10.69 2H13.31C15 2 15.13 2.75 15.28 3.67L15.5 4.97"
                                                stroke="#25262F" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M18.8484 9.14062L18.1984 19.2106C18.0884 20.7806 17.9984 22.0006 15.2084 22.0006H8.78844C5.99844 22.0006 5.90844 20.7806 5.79844 19.2106L5.14844 9.14062"
                                                stroke="#25262F" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path d="M10.3281 16.5H13.6581" stroke="#25262F" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M9.5 12.5H14.5" stroke="#25262F" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </span>
                                </div>

                            </div>
                        }
                    </div>

                    <div class="col-lg-4 col-sm-12 mt-20">
                            <app-buttons label="Add Other Document" class="btn btn-icon Add btncustomClass"
                                [outline]="true" (click)="addOtherIncomeDocument()">
                            <img src="/assets/images/icons/addred.svg">
                        </app-buttons>
                    </div>
                </div>




            </div>

            <!---------------------------------- if bussiness -------------------------------------------------------->
            <div class="row  d-flex  align-items-start pt-4 common-details-box d-flex flex-column"
                *ngIf="!loanformservice.issalaried">

                <div class="row ">
                    <div class="text-label fw-bold mt-20">3 Years Financials of Business</div>

                    <hr class="hrclass">
                    <div class=" mt-20 info-box">
                        <div class="col-lg-6 col-sm-12">
                            <p class="text-label">If you are applying in February 2026, please upload Financial
                                statements for:</p>
                            <ul class="text-label">
                                <li class="text-label">FY 2024-25 </li>
                                <li class="text-label">FY 2023-24</li>
                                <li class="text-label">FY 2022-23</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-20">
                        <div class="col-lg-4 col-sm-12">
                            @if(handleresponse && hasDocument('year1')){
                            <label class="text-label">Year 1<span class="text-danger">*</span></label>
                            <div class="addcust-img-box mt-2">
                                <p class="text-label">{{ getDocumentName('year1') }}</p>
                                <div class="icons">
                                    <span class="view" (click)="viewImage(getDocumentUrl('year1'))"><img
                                            src="/assets/images/icons/eyered.svg" alt="view"></span>
                                    <span class="download"
                                        (click)="downloadImage(getDocumentUrl('year1'), getDocumentName('year1'))"><img
                                            src="/assets/images/icons/import-red.svg" alt="Download"></span>
                                    <span class="delete" (click)="deleteImage('year1')"><img
                                            src="/assets/images/icons/close.svg" alt="Download"></span>
                                </div>
                            </div>

                            } @else{
                            <app-uploadbtn [config]="basicConfig"
                                (uploadStarted)="onUploadStarted($event,  'year1' ,'BUSINESS','BUSINESS_FINANCE_3_YEARS','BUSINESS_FINANCE')"
                                [uploadViaApi]="true" [fileuploadresponse]="handleresponse" [required]="true"
                                label="Year 1">
                            </app-uploadbtn>}
                        </div>

                        <div class="col-lg-4 col-sm-12">
                            @if(handleresponse && hasDocument('year2')){
                            <label class="text-label">Year 2<span class="text-danger">*</span></label>
                            <div class="addcust-img-box mt-2">
                                <p class="text-label">{{ getDocumentName('year2') }}</p>
                                <div class="icons">
                                    <span class="view" (click)="viewImage(getDocumentUrl('year2'))"><img
                                            src="/assets/images/icons/eyered.svg" alt="view"></span>
                                    <span class="download"
                                        (click)="downloadImage(getDocumentUrl('year2'), getDocumentName('year2'))"><img
                                            src="/assets/images/icons/import-red.svg" alt="Download"></span>
                                    <span class="delete" (click)="deleteImage('year2')"><img
                                            src="/assets/images/icons/close.svg" alt="Download"></span>
                                </div>
                            </div>

                            } @else{
                            <app-uploadbtn [config]="basicConfig"
                                (uploadStarted)="onUploadStarted($event,  'year2' ,'BUSINESS','BUSINESS_FINANCE_3_YEARS','BUSINESS_FINANCE')"
                                [uploadViaApi]="true" [fileuploadresponse]="handleresponse" [required]="true"
                                label="Year 2">
                            </app-uploadbtn>}
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            @if(handleresponse && hasDocument('year3')){
                            <label class="text-label">Year 3<span class="text-danger">*</span></label>
                            <div class="addcust-img-box mt-2">
                                <p class="text-label">{{ getDocumentName('year3') }}</p>
                                <div class="icons">
                                    <span class="view" (click)="viewImage(getDocumentUrl('year3'))"><img
                                            src="/assets/images/icons/eyered.svg" alt="view"></span>
                                    <span class="download"
                                        (click)="downloadImage(getDocumentUrl('year3'), getDocumentName('year3'))"><img
                                            src="/assets/images/icons/import-red.svg" alt="Download"></span>
                                    <span class="delete" (click)="deleteImage('year3')"><img
                                            src="/assets/images/icons/close.svg" alt="Download"></span>
                                </div>
                            </div>

                            } @else{
                            <app-uploadbtn [config]="basicConfig"
                                (uploadStarted)="onUploadStarted($event,  'year3' ,'BUSINESS','BUSINESS_FINANCE_3_YEARS','BUSINESS_FINANCE')"
                                [uploadViaApi]="true" [fileuploadresponse]="handleresponse" [required]="true"
                                label="Year 3">
                            </app-uploadbtn>}
                        </div>
                    </div>



                </div>

                <div class="row ">
                    <div class="text-label fw-bold mt-20">Latest 3 year ITR</div>

                    <hr class="hrclass">
                    <div class=" mt-20 info-box">
                        <div class="col-lg-4 col-sm-12">
                            <p class="text-label">If you are applying in February 2026, upload ITR for:</p>
                            <ul class="text-label">
                                <li class="text-label">AY 2024-25</li>
                                <li class="text-label">AY 2023-24</li>
                                <li class="text-label">AY 2022-23</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-20">
                        <div class="col-lg-4 col-sm-12">
                            @if(handleresponse && hasDocument('businessITR1')){
                            <label class="text-label">Year 1<span class="text-danger">*</span></label>
                            <div class="addcust-img-box mt-2">
                                <p class="text-label">{{ getDocumentName('businessITR1') }}</p>
                                <div class="icons">
                                    <span class="view" (click)="viewImage(getDocumentUrl('businessITR1'))"><img
                                            src="/assets/images/icons/eyered.svg" alt="view"></span>
                                    <span class="download"
                                        (click)="downloadImage(getDocumentUrl('businessITR1'), getDocumentName('businessITR1'))"><img
                                            src="/assets/images/icons/import-red.svg" alt="Download"></span>
                                    <span class="delete" (click)="deleteImage('businessITR1')"><img
                                            src="/assets/images/icons/close.svg" alt="Download"></span>
                                </div>
                            </div>

                            } @else{
                            <app-uploadbtn [config]="basicConfig"
                                (uploadStarted)="onUploadStarted($event,  'businessITR1' ,'BUSINESS','BUSINESS_ITR_3_YEARS','BUSINESS_ITR')"
                                [uploadViaApi]="true" [fileuploadresponse]="handleresponse" [required]="true"
                                label="Year 1">
                            </app-uploadbtn>}
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            @if(handleresponse && hasDocument('businessITR2')){
                            <label class="text-label">Year 2<span class="text-danger">*</span></label>
                            <div class="addcust-img-box mt-2">
                                <p class="text-label">{{ getDocumentName('businessITR2') }}</p>
                                <div class="icons">
                                    <span class="view" (click)="viewImage(getDocumentUrl('businessITR2'))"><img
                                            src="/assets/images/icons/eyered.svg" alt="view"></span>
                                    <span class="download"
                                        (click)="downloadImage(getDocumentUrl('businessITR2'), getDocumentName('businessITR2'))"><img
                                            src="/assets/images/icons/import-red.svg" alt="Download"></span>
                                    <span class="delete" (click)="deleteImage('businessITR2')"><img
                                            src="/assets/images/icons/close.svg" alt="Download"></span>
                                </div>
                            </div>

                            } @else{
                            <app-uploadbtn [config]="basicConfig"
                                (uploadStarted)="onUploadStarted($event,  'businessITR2' ,'BUSINESS','BUSINESS_ITR_3_YEARS','BUSINESS_ITR')"
                                [uploadViaApi]="true" [fileuploadresponse]="handleresponse" [required]="true"
                                label="Year 2">
                            </app-uploadbtn>}
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            @if(handleresponse && hasDocument('businessITR3')){
                            <label class="text-label">Year 3<span class="text-danger">*</span></label>
                            <div class="addcust-img-box mt-2">
                                <p class="text-label">{{ getDocumentName('businessITR3') }}</p>
                                <div class="icons">
                                    <span class="view" (click)="viewImage(getDocumentUrl('businessITR3'))"><img
                                            src="/assets/images/icons/eyered.svg" alt="view"></span>
                                    <span class="download"
                                        (click)="downloadImage(getDocumentUrl('businessITR3'), getDocumentName('businessITR3'))"><img
                                            src="/assets/images/icons/import-red.svg" alt="Download"></span>
                                    <span class="delete" (click)="deleteImage('businessITR3')"><img
                                            src="/assets/images/icons/close.svg" alt="Download"></span>
                                </div>
                            </div>

                            } @else{
                            <app-uploadbtn [config]="basicConfig"
                                (uploadStarted)="onUploadStarted($event,  'businessITR3','BUSINESS' ,'BUSINESS_ITR_3_YEARS','BUSINESS_ITR')"
                                [uploadViaApi]="true" [fileuploadresponse]="handleresponse" [required]="true"
                                label="Year 3">
                            </app-uploadbtn>}
                        </div>

                    </div>



                </div>

                <div class="row ">
                    <div class="text-label fw-bold mt-20">1 Year GST Return</div>

                    <hr class="hrclass">
                    <div class=" mt-20 info-box">
                        <div class="col-lg-6 col-sm-12">
                            <p class="text-label">If you are applying in February 2026, upload GST returns for:</p>
                            <ul class="text-label">
                                <li class="text-label">January 2025 to December 2025 </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-20">
                        <div class="col-lg-4 col-sm-12">
                            @if(handleresponse && hasDocument('businessGST')){
                            <label class="text-label">1 Year GST Return<span class="text-danger">*</span></label>
                            <div class="addcust-img-box mt-2">
                                <p class="text-label">{{ getDocumentName('businessGST') }}</p>
                                <div class="icons">
                                    <span class="view" (click)="viewImage(getDocumentUrl('businessGST'))"><img
                                            src="/assets/images/icons/eyered.svg" alt="view"></span>
                                    <span class="download"
                                        (click)="downloadImage(getDocumentUrl('businessGST'), getDocumentName('businessGST'))"><img
                                            src="/assets/images/icons/import-red.svg" alt="Download"></span>
                                    <span class="delete" (click)="deleteImage('businessGST')"><img
                                            src="/assets/images/icons/close.svg" alt="Download"></span>
                                </div>
                            </div>

                            } @else{
                            <app-uploadbtn [config]="basicConfig"
                                (uploadStarted)="onUploadStarted($event,  'businessGST','BUSINESS' ,'BUSINESS_GST_1_YEAR','BUSINESS_GST')"
                                [uploadViaApi]="true" [fileuploadresponse]="handleresponse" [required]="true"
                                label="1 Year GST Return">
                            </app-uploadbtn>}
                        </div>

                    </div>



                </div>

                <div class="row ">
                    <div class="text-label fw-bold mt-20">1 Year bank statement</div>

                    <hr class="hrclass">
                    <div class=" mt-20 info-box">
                        <div class="col-lg-6 col-sm-12">
                            <p class="text-label">If you are applying in February 2026, upload bank statement covering:
                            </p>
                            <ul class="text-label">
                                <li class="text-label">01 February 2025 to 31 January 2026 </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-20">
                        <div class="col-lg-4 col-sm-12">
                            @if(handleresponse && hasDocument('businessBankstatement')){
                            <label class="text-label">1 Year bank statement<span class="text-danger">*</span></label>
                            <div class="addcust-img-box mt-2">
                                <p class="text-label">{{ getDocumentName('businessBankstatement') }}</p>
                                <div class="icons">
                                    <span class="view" (click)="viewImage(getDocumentUrl('businessBankstatement'))"><img
                                            src="/assets/images/icons/eyered.svg" alt="view"></span>
                                    <span class="download"
                                        (click)="downloadImage(getDocumentUrl('businessBankstatement'), getDocumentName('businessBankstatement'))"><img
                                            src="/assets/images/icons/import-red.svg" alt="Download"></span>
                                    <span class="delete" (click)="deleteImage('businessBankstatement')"><img
                                            src="/assets/images/icons/close.svg" alt="Download"></span>
                                </div>
                            </div>

                            } @else{
                            <app-uploadbtn [config]="basicConfig"
                                (uploadStarted)="onUploadStarted($event,  'businessBankstatement' ,'BUSINESS','BUSINESS_BANK_STATEMENT_1_YEAR','BUSINESS_BANK_STATEMENT')"
                                [uploadViaApi]="true" [fileuploadresponse]="handleresponse" [required]="true"
                                label="1 Year bank statement">
                            </app-uploadbtn>}
                        </div>

                    </div>



                </div>


                <div class="row  d-flex flex-column">
                    <div class="text-label fw-bold mt-20">Other Documents</div>
                    <hr class="hrclass">
                    <div class=" mt-20 info-box">
                        <div class="col-lg-6 col-sm-12">
                            <p class="text-label">You can add extra documents here
                            </p>
                        </div>
                    </div>


                    <div class="row d-flex flex-column">
                        <div class="text-label fw-bold mt-20">Other Documents</div>
                        <hr class="hrclass">

                        <div class="row">
                            @for (slot of otherBusinessSlots; track slot.id) {

                            <div class="row mt-20 row  d-flex  align-items-start ">


                                <div class="col-lg-4 col-sm-12">

                                    <app-inputfield label="Title" [required]="true" placeholder="Enter text here" [(ngModel)]="slot.title" [ngModelOptions]="{ standalone: true }"
                                        (input)="main.restrictInput($event, 'text')" [maxlength]="25">
                                    </app-inputfield>

                                    <div class="text-danger" *ngIf="f['assettitle'].touched && f['assettitle'].invalid">

                                        <div *ngIf="f['title'].errors?.['minlength']">
                                            Minimum 2 characters required
                                        </div>
                                    </div>
                                </div>



                                <div class="col-lg-4 col-sm-12 ">

                                    @if (handleresponse && getDocumentByKey(slot.title)) {

                                    <div class="addcust-img-box mt-4">
                                        <p class="text-label">
                                            {{ getDocumentName(slot.title) }}
                                        </p>

                                        <div class="icons">
                                            <span class="view" (click)="viewImage(getDocumentUrl(slot.title))">
                                                <img src="/assets/images/icons/eyered.svg">
                                            </span>
                                            <span class="download"
                                                (click)="downloadImage(getDocumentUrl(slot.title),getDocumentName(slot.title))">
                                                <img src="/assets/images/icons/import-red.svg">
                                            </span>
                                            <span class="delete" (click)="deleteImage(slot.title)">
                                                <img src="/assets/images/icons/close.svg">
                                            </span>
                                        </div>
                                    </div>

                                    }
                                    @else {


                                    <app-uploadbtn label="Other Documents" [config]="basicConfig" [required]="true" [disabled]="!slot.title && slot.title.trim().length === 0"
                                        [uploadViaApi]="true" [fileuploadresponse]="handleresponse"
                                        (uploadStarted)="onUploadStarted($event, slot.title,'BUSINESS', 'OTHER_INCOME', 'OTHER', slot.key)">
                                    </app-uploadbtn>

                                    }

                                </div>


                                <div class="col-lg-4 d-flex justify-content-end align-items-end mt-5">
                                     <span class="delete d-none d-lg-block" (click)="removeOtherDocument('otherbusiness',slot.id)"
                                        >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none">
                                            <path
                                                d="M21 5.98047C17.67 5.65047 14.32 5.48047 10.98 5.48047C9 5.48047 7.02 5.58047 5.04 5.78047L3 5.98047"
                                                stroke="#25262F" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M8.5 4.97L8.72 3.66C8.88 2.71 9 2 10.69 2H13.31C15 2 15.13 2.75 15.28 3.67L15.5 4.97"
                                                stroke="#25262F" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M18.8484 9.14062L18.1984 19.2106C18.0884 20.7806 17.9984 22.0006 15.2084 22.0006H8.78844C5.99844 22.0006 5.90844 20.7806 5.79844 19.2106L5.14844 9.14062"
                                                stroke="#25262F" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path d="M10.3281 16.5H13.6581" stroke="#25262F" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M9.5 12.5H14.5" stroke="#25262F" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </span>
                                </div>

                            </div>

                            }
                        </div>

                        <!-- Add button -->
                        <div class="col-lg-4 col-sm-12 mt-20">
                            <app-buttons label="Add Other Document" class="btn btn-icon Add btncustomClass"
                                [outline]="true" (click)="addOtherBusinessDocument()">

                            </app-buttons>
                        </div>
                    </div>

                </div>
            </div>
        </ng-template>


    </form>
</div>
<hr class="footer-hr-class">
<div class="loan-footerbtns row w-100  d-flex justify-content-between align-items-center">

    <div class="col-lg-4 ">
        <img src="../assets/images/icons/save.svg">
        <span class="text-dp-3-regular mx-2 blue-text"> Save and Exit</span>
    </div>
    <div class="col-lg-4  d-flex justify-content-end">
        <app-buttons type="button" label="Back" class="btn btncustomClass" [outline]="true" (click)="back()">
        </app-buttons>
        <app-buttons type="button" label="Next" class="btn btncustomClass" color="primary" (click)="next()"
            [disabled]="!allRequiredFilesUploaded">
                </app-buttons>

    </div>
</div>