@use 'variables' as *;
@use 'typography' as *;
@use 'common' as *;



.mt-20{
    margin-top: $spacing_9;;
}
.blue-text{
    color:$secondary-text;
// font-weight: 700;
}

.hrclass{
    background: $neutral-300;
    margin: 30px 0
}

.accordion-item {
    //  min-height: auto;
    border-radius: $border_radius_m;
  border: $border_1 solid $neutral-300;
//   background: $bg, ;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}
.table-head{
  color: $secondary-700;
}

.btncustomClass{
     width: auto !important;
  min-width: 178px;
  // max-width: 200px;
  padding: 2px 3px;
  height: 52px;
}

.info-box{
  display: flex;
padding: $spacing_9;
flex-direction: column;
align-items: flex-start;
gap: $spacing_9;
align-self: stretch;
border-radius:$border_radius_m;
background: rgba(179, 228, 253, 0.30);
}

.hrclass{
    background: $neutral-300;
    margin:16px 0 0 0 ;
}

.addcust-img-box {
  display: flex;
  padding: $spacing_7;
  justify-content: space-between;
  align-items: baseline;
  align-self: stretch;
  border-radius: $border_radius_rounded;
  background: $secondary-50;

  @media (max-width: 480px) {
    padding: $spacing_4;

  }
}

.addcust-img-box {
  position: relative;
  background: #d9e3ea;
  border-radius: 30px;
  padding: 12px 50px 12px 20px;
  /* space for icons */
  display: flex;
  align-items: center;
  cursor: pointer;
  min-width: 280px;
  width: 100%;
}



/* Icons container */
.addcust-img-box .icons {
  display: flex;
  gap: 10px;
}

/* Hide view & download by default */
.addcust-img-box .icons .view,
.addcust-img-box .icons .download {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

/* Always show delete icon */
.addcust-img-box .icons .delete {
  opacity: 1;
  visibility: visible;
}

/* On hover → show view & download */
.addcust-img-box:hover .icons .view,
.addcust-img-box:hover .icons .download {
  opacity: 1;
  visibility: visible;
}
