@use 'variables' as *;
@use 'typography' as *;
@use 'common' as *;



.stepper {
  width: 314px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.stepcls {
  // position: relative;
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  gap: $spacing_6;
  align-self: stretch;
}

.step {
  position: relative;
  display: flex;
  align-items: flex-start;
  ;
  gap: $spacing_4;
  padding: 16px 0;
  cursor: pointer;
}

/* Vertical Line */
.step::before {
  content: '';
  position: absolute;
  left: 16px;
  top: -20px;
  width: 2px;
  height: 100%;
  border-left: 2px dashed $secondary-700;
  z-index: 0;
}

.step:first-child::before {
  display: none;
}

/* Circle */
.circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1.462px solid $accent_sec;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
  z-index: 1;
}

/* Title */
.title {

  color: $secondary-900;
}

.text {
  display: flex;
  flex-direction: column;
  padding-top: 6px; // Aligns title text vertically with the center of the circle
}

/* ACTIVE STEP */
.step.active .circle {
  background: $secondary-50;
  border-color: $secondary-700;
  color: $secondary-700;
  ;
}

.step.active .title {
  color: $secondary-900;
  font-weight: 700;
}

/* COMPLETED STEP */
.step.completed .circle {
  background: #1f4e79;
  border-color: #1f4e79;
  color: white;
}

.step.completed::before {
  border-left: 2px solid #1f4e79;
}

.step.completed + .step::before {
  border-left: 2px solid #1f4e79;
}


/* UPCOMING STEP */
.step.upcoming .circle {
  background: $secondary-50;
  border-color: $secondary-700;
  ;
  color: $secondary-700;

}

.step.upcoming .title {
  color: $secondary-700;
  ;
}

.step.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.step.disabled .circle {
  border-color: #c5d3df;
  color: #c5d3df;
}

.step.disabled .title {
  color: #c5d3df;
}



.sub-stepper {
  position: relative;
  margin-top: 8px;
  // margin-left: 4px;        
  display: flex;
  flex-direction: column;
  gap: 13px;
}



.sub-step {
  position: relative;

  font-size: 14px;
  color: $secondary-700;
  cursor: pointer;
  line-height: 20px;
  letter-spacing: 0.14px;

  /* The Dot */
  &::before {
    content: '';
    position: absolute;
    left: -32px; // Position dot on the line
    top: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $secondary-700;
    z-index: 2;
  }

  &.active {
    color: $secondary-900;
    font-weight: 700;

    &::before {
      background-color: $secondary-900;
      transform: scale(1.2);
    }
  }
}