<div class="stepper">
  <div class="d-flex flex-column gap-3">
    <div class="text-label-data-head">Apply Loan</div>
    <p class="text-body-1">Share your basic details, upload required documents, and verify your information.</p>
  </div>
  <div class="stepcls">
    <div *ngFor="let s of steps ; let i = index;" class="step" [ngClass]="{
      active: isActive(s.route),
      completed: isCompleted(i),
      upcoming: isUpcoming(i)
    }" (click)=" canNavigateTo(i) && goToStep(s.route, i)">
      <!-- (click)="!isUpcoming(i) && goToStep(s.route)" -->

      <!-- <div class="circle">{{ i + 1 | number:'2.0' }}</div> -->
      <div class="circle">
        <ng-container *ngIf="isCompleted(i); else numTemplate">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M5 14L8.5 17.5L19 6.5" stroke="#F4F6FF" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </ng-container>
        <ng-template #numTemplate>{{ i + 1 | number:'2.0' }}</ng-template>
      </div>

      <div class="text">
        <div class="title text-body-1">{{ s.label }}</div>


<!-- <div *ngIf="s.children?.length" class="sub-stepper">
  <div
    *ngFor="let sub of s.children; let subIndex = index"
    class="sub-step title text-body-1"
    [ngClass]="{
      active: activeQualificationId === normalizeQualification(sub.label) ,
      disabled: isSubStepperDisabled(i, subIndex) &&  normalizeQualification(sub.label) !== activeQualificationId

    }"
    (click)="!isSubStepperDisabled(i, subIndex) && openEducationSubStep(sub, $event)"
  >
    {{ sub.label }}
  </div>
</div> -->


<div *ngIf="s.children?.length" class="sub-stepper">
  <div
    *ngFor="let sub of s.children; let subIndex = index"
    class="sub-step title text-body-1"
    
[ngClass]="{
    active: activeQualificationId === sub.key,
    completed: stepservice.isEducationStepCompleted(sub.key),
    disabled: isSubStepperDisabled(i, subIndex) && sub.key !== activeQualificationId
  }"

    (click)="!isSubStepperDisabled(i, subIndex) && openEducationSubStep(sub, $event)"
  >
    {{ sub.label }}
  </div>
</div>

 


      </div>

    </div>
  </div>
</div>