@use 'variables' as *;
@use 'typography' as *;
@use 'common' as *;



/*----------------------- search ------------------*/
.search-bar {
  padding: $spacing_9;
  display: flex;
  flex-direction: column;
  gap: $spacing_7;
}

.search-data {
 display: flex;
align-items: flex-start;
gap:$spacing_7;
align-self: stretch;

@media (max-width:540px)
{
 display: contents;
}
}

.search-dropdown {
  min-width: 250px;

  @media (max-width:480px)
{
 min-width: 200px;
}
}

.search-input {
  flex: 1;
}

.search-btn {
  min-width: 135px;
 

}


/*--------------- Add Button ---------------------*/



.btncustomClass {

  width: auto !important;
  min-width: 178px;
  max-width: 200px;
  // padding: 2px 3px;
  height: 42px;
}


/*---------------- Action button styling -----------*/
.action-button {
  background: none;
  border: none;
  font-size: 20px;
  color: #9CA3AF;
  cursor: pointer;
  padding: 4px 8px;
  transition: color 0.2s;
  line-height: 1;

  &:hover {
    color: #4B5563;
  }
}


