<div class="table-container " [class.no-border]="isLoading && !data.length">

    <table mat-table [dataSource]="pagedData" table table-responsive w-100>

        <!-- Checkbox Column (FIRST COLUMN) -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <app-checkbox [checked]="isAllSelected()" [indeterminate]="isSomeSelected()"
                    (checkedChange)="toggleAllRows($event)" label=""></app-checkbox>
            </th>

            <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
                <app-checkbox [checked]="selection.includes(row)" (checkedChange)="toggleRow(row)"
                    label=""></app-checkbox>
            </td>
        </ng-container>

        <!-- Dynamic Columns -->
        <ng-container *ngFor="let col of columns" [matColumnDef]="col.key">
            <th mat-header-cell *matHeaderCellDef class="mat-header-label text-nowrap">{{ col.label }}</th>

            <td mat-cell *matCellDef="let row" class="mat-content-td">

                <span [ngClass]="[
      col.class || '',
      col.classFn ? col.classFn(row) : ''
    ]" [class.clickable]="col.clickable" (click)="col.clickable && col.onClick ? col.onClick(row) : null">
                    <!-- {{ row[col.key] }} -->
                    {{ col.transform ? col.transform(row) : row[col.key] }}

                </span>

            </td>

        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="mat-header-label">Actions</th>

            <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">

                <button mat-icon-button [matMenuTriggerFor]="menu">
                    ⋮
                </button>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onEdit(row)" [disabled]="isEditDisabled(row)">
                        Edit
                    </button>

                    <button mat-menu-item (click)="onDelete(row)">
                        Delete
                    </button>
                </mat-menu>

            </td>
        </ng-container>


        <!--header Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumnKeys"></tr>

        <!-- Spinner Row -->
        <tr mat-row *ngIf="isLoading">
            <td class="mat-cell table-loader" [attr.colspan]="displayedColumnKeys.length">
                <div class="spinner"></div>
            </td>

        </tr>

        <!-- No Data Row -->
        <tr mat-row *ngIf="!isLoading && data.length === 0">

            <td class="mat-cell text-center" [attr.colspan]="displayedColumnKeys.length">
                No Active Customer...
            </td>

        </tr>

        <!--data Rows -->
        <tr mat-row *matRowDef="let row; columns: displayedColumnKeys;"></tr>

    </table>

    <!-- <div *ngIf="!data.length" class="text-dp-2-bold no-data-found text-center p-5">No Active Customer...</div> -->

</div>

<!-- Pagination -->
<div class="pagination" *ngIf="data.length" [hidden]="hidepagination">
    <button class="pagination-btn" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
        <img class="arrow-icon" src="/assets/images/icons/arrow-left-pg.svg" alt="Previous" height="20" width="20" />
    </button>

    <button class="pagination-btn" *ngFor="let page of totalPagesArray" (click)="onPageChange(page)"
        [disabled]="page === '...'" [class.active]="page === currentPage">
        <span class="pagecount text-body-2">{{ page }}</span>
    </button>

    <button class="pagination-btn" (click)="onPageChange(currentPage + 1)"
        [disabled]="currentPage === totalPagesArray.length">
        <img src="/assets/images/icons/arrow-right-pg.svg" height="20" width="20" alt="Previous" /></button>
</div>