<div class="vh-container">

  <div class="base-layout base-height">

    <div class="header w-100">

      <div class="text-datepicker blue-text d-flex flex-column gap-data ">Co-Applicant
        <div class="text-label-data fw-normal fst-italic">

          Minimum 1 co-applicant is mandatory to complete your application. You can
          add more as well.
        </div>


        <!-- STEP 1 Mobile number  -->
        <div *ngIf="!mobileSubmitted">

          <div class="w-100 d-flex align-items-end  gap-3">
            <div class="flex-grow-1">
              <app-inputfield type="tel" name="phone" ngModel [required]="true" pattern="^[6-9][0-9]{9}$"
                label="Mobile Number" placeholder="Enter Mobile Number" helpText="Help text" class="w-100"
                minlength="10" [maxlength]="10" #phone="ngModel" (input)="service.restrictInput($event, 'number')"
                [(ngModel)]="prefillPhone" [showPhonePrefix]="true" [showPhonePrefixnumber]="true"
                [state]="getPhoneFieldState(phone)"></app-inputfield>

              <div class="text-danger mt-2" *ngIf="showmsg">

                <div>
                 Main Applicant and Co-Applicant mobile numbers cannot be the same. Please enter a different mobile number for the Co-Applicant.
                </div>
              </div>
            </div>


          </div>


        </div>

        <!-- STEP 2  co-applicant steppers-->

        <div *ngIf="mobileSubmitted">
          <app-coappstepper></app-coappstepper>

        </div>

      </div>

    </div>
  </div>

  <hr class="footer-hr-class">
  <div class="loan-footerbtns row w-100  d-flex justify-content-between align-items-center" *ngIf="!mobileSubmitted">

    <div class="col-lg-4 ">
      <img src="../assets/images/icons/save.svg">
      <span class="text-dp-3-regular mx-2 blue-text"> Save and Exit</span>
    </div>
    <div class="col-lg-4  d-flex justify-content-end">
      <app-buttons type="button" label="Back" class="btn btncustomClass" [outline]="true" (click)="back()">
      </app-buttons>
      <app-buttons type="button" label="Next" class="btn btncustomClass" color="primary" (click)=" next()"
        [disabled]="!isPhoneValid() || searchLoading">
      </app-buttons>

    </div>
  </div>
</div>