<div class="vh-container1">

    <div class="base-layout base-height" [formGroup]="group">

        <div class="header ">

            <div class="text-datepicker blue-text d-flex flex-column gap-2 ">{{title}}
                <div class="text-body-1 fw-normal">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"
                            fill="none">
                            <path
                                d="M10.9997 20.1667C16.0413 20.1667 20.1663 16.0417 20.1663 11C20.1663 5.95833 16.0413 1.83333 10.9997 1.83333C5.95801 1.83333 1.83301 5.95833 1.83301 11C1.83301 16.0417 5.95801 20.1667 10.9997 20.1667Z"
                                stroke="#25262F" stroke-width="1.28125" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M11 7.33333V11.9167" stroke="#25262F" stroke-width="1.28125" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M10.9961 14.6667H11.0043" stroke="#25262F" stroke-width="1.28125"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg></span>
                    Click the “Next” button to save your changes
                </div>
            </div>

        </div>
        <div class="row  d-flex  align-items-start flex-column education-box">

            <div class="row mt-20">


                <div [ngClass]="{'col-6': isOtherEducation, 'col-12': !isOtherEducation  }">



                    <app-dropdown [options]="filteredInstitutes" [placeholder]="'Select Institute Name'"
                        [required]="!isPostGraduate" [searchable]="true" [label]="'Institution Name'"
                        (searchChange)="filterInstitutes($event)" formControlName="institutename" [enableSearchEvent]="true"
                        (selectedValueChange)="SelectedInstitute($event);" name="institutename">
                    </app-dropdown>


                    <div class="text-danger"
                        *ngIf="group.get('institutename')?.touched && group.get('institutename')?.invalid">

                        <span *ngIf="group.get('institutename')?.errors?.['required']">
                            Institute Name is required
                        </span>
                    </div>
                </div>

                <div class="col-6" *ngIf="isOtherEducation">
                    <div class="form-group">
                        <app-inputfield formControlName="institutetitle" name="institutetitle"
                            label="Other Institution Name" placeholder="Enter Institution Name"
                            [required]="!isPostGraduate">
                        </app-inputfield>

                        <ng-container
                            *ngIf=" group.get('institutetitle')?.touched && group.get('institutetitle')?.invalid ">
                            <div class="text-danger"
                                *ngIf="group.get('institutetitle')?.errors?.['required']; else minLen">
                                Title is required
                            </div>

                            <ng-template #minLen>
                                <div class="text-danger"
                                    *ngIf="group.get('institutetitle')?.errors?.['minlength']; else maxLen">
                                    Minimum 2 characters required
                                </div>
                            </ng-template>

                            <ng-template #maxLen>
                                <div class="text-danger" *ngIf="group.get('institutetitle')?.errors?.['maxlength']">
                                    Maximum 100 characters allowed
                                </div>
                            </ng-template>
                        </ng-container>
                    </div>
                </div>


            </div>
            <div class="row mt-20">
                <div [ngClass]="{'col-3': isOtherLocation, 'col-4': !isOtherLocation  }">
                    <app-dropdown [options]="selectpassingyr" [placeholder]="'Select Year'" [required]="!isPostGraduate"
                        [avatarUrl]="avatarUrl" formControlName="passingyear" [hasAvatar]="hasAvatar"
                        [label]="passingyear">
                    </app-dropdown>
                    <div class="text-danger"
                        *ngIf="group.get('passingyear')?.touched && group.get('passingyear')?.invalid">

                        <span *ngIf="group.get('passingyear')?.errors?.['required']">
                            Passing year is required
                        </span>
                    </div>

                </div>

                <div [ngClass]="{'col-3': isOtherLocation, 'col-4': !isOtherLocation  }">
                    <app-inputfield type="number" formControlName="per_cgpa" [required]="!isPostGraduate"
                        label="Percentage / CGPA" placeholder="Enter Percentage/CGPA" helpText="Help text"
                        name="per_cgpa" [min]="0" suffix="">
                    </app-inputfield>

                    <div class="text-danger" *ngIf="group.get('per_cgpa')?.touched && group.get('per_cgpa')?.invalid">

                        <span *ngIf="group.get('per_cgpa')?.errors?.['required']">
                            Percentage / CGPA is required
                        </span>

                        <span *ngIf="group.get('per_cgpa')?.errors?.['invalidPerCgpa']">
                            Enter valid Percentage (35–100, up to 2 decimals)
                            or CGPA (4.0–10.0, up to 1 decimal)
                        </span>

                    </div>


                </div>

                <div [ngClass]="{'col-3': isOtherLocation, 'col-4': !isOtherLocation  }">
                    <app-dropdown [options]="filteredlocation" [placeholder]="'Select Location'"  (searchChange)="filtercities($event)" 
                        [required]="!isPostGraduate" [avatarUrl]="avatarUrl" formControlName="location" [enableSearchEvent]="true"
                        [searchable]="true" (selectedValueChange)="SelectedCity($event);" [hasAvatar]="hasAvatar"
                        label="Location">
                    </app-dropdown>
                    <div class="text-danger" *ngIf="group.get('location')?.touched && group.get('location')?.invalid">

                        <span *ngIf="group.get('location')?.errors?.['required']">
                            Location is required
                        </span>
                    </div>
                </div>
                <div class="col-3" *ngIf="isOtherLocation">
                    <div class="form-group">
                        <app-inputfield formControlName="otherLocation" name="otherLocation" label="Other Location" [maxlength]="100"
                            placeholder="Enter Location Name" [required]="!isPostGraduate">
                        </app-inputfield>

                        <div class="text-danger"
                            *ngIf="group.get('otherLocation')?.touched && group.get('otherLocation')?.invalid">
                            Location is required
                        </div>
                        <div class="text-danger" *ngIf="group.get('otherLocation')?.errors?.['minlength']">
                            Minimum 2 characters required
                        </div>
                        <div class="text-danger" *ngIf="group.get('otherLocation')?.errors?.['maxlength']">
                            Maximum 100 characters allowed
                        </div>
                    </div>

                </div>
            </div>

            <!-- 10th-12th -->
            @if (isSchoolLevel) {
            <div class="row ">
                <div class="col-6">


                    <div class="text-label fw-bold mt-20">Marksheet</div>


                    <div class=" col-sm-12 mt-20" *ngFor="let m of [].constructor(marksheetCount); let i = index">

                        @if (hasLocal('marksheet' ,i)) {
                        <label class="text-label">Marksheet <span class="text-danger">*</span></label>
                        <div class="addcust-img-box mt-2">
                            <p class="text-label">{{ getLocalName('marksheet', i) }}</p>
                            <div class="icons">

                                <span class="view" (click)="viewLocalFile('marksheet', i)">
                                    <img src="/assets/images/icons/eyered.svg" alt="view">
                                </span>

                                <span class="download" (click)="downloadLocalFile('marksheet', i)">
                                    <img src="/assets/images/icons/import-red.svg" alt="Download">
                                </span>

                                <span class="remove" (click)="removeLocalFile('marksheet', i)">
                                    <img src="/assets/images/icons/close.svg" alt="remove">
                                </span>

                            </div>
                        </div>

                        }
                        @else{
                        <app-uploadbtn [config]="basicConfig" [uploadViaApi]="false" [required]="true"
                            label="Marksheet " (fileChange)="onFileChange($event, educationType, 'marksheet')">
                        </app-uploadbtn>
                        }

                    </div>
                </div>

                <div class="col-6">
                    <div class="text-label fw-bold mt-20">Passing / Leaving Certificate</div>
                    <div class=" col-sm-12 mt-20">
                        @if (hasLocal('lc')) {
                        <label class="text-label">Passing / Leaving Certificate <span
                                class="text-danger">*</span></label>
                        <div class="addcust-img-box mt-2">
                            <p class="text-label">{{ getLocalName('lc') }}</p>
                            <div class="icons">

                                <span class="view" (click)="viewLocalFile('lc')">
                                    <img src="/assets/images/icons/eyered.svg" alt="view">
                                </span>

                                <span class="download" (click)="downloadLocalFile('lc')">
                                    <img src="/assets/images/icons/import-red.svg" alt="Download">
                                </span>

                                <span class="remove" (click)="removeLocalFile('lc')">
                                    <img src="/assets/images/icons/close.svg" alt="remove">
                                </span>

                            </div>
                        </div>

                        } @else{
                        <app-uploadbtn [config]="basicConfig" [required]="true" label="Passing / Leaving Certificate "
                            (fileChange)="onFileChange($event, educationType,'lc')">
                        </app-uploadbtn>
                        }


                    </div>
                </div>
            </div> }

            <!-- diploma ug pg  -->
            @if (isHigherEducation) {
            <div class="row">
                <div class="col-12">
                    <div class="text-label fw-bold mt-20">Marksheet</div>

                    <div class="row">
                        <div class="col-md-4 col-sm-6 mt-20"
                            *ngFor="let _ of [].constructor(marksheetCount); let i = index">
                            <!-- Dynamic document key -->
                            @if (hasLocal('marksheet' ,i)) {
                            <label class="text-label">
                                Marksheet Year {{ i + 1 }} <span class="text-danger">*</span>
                            </label>

                            <div class="addcust-img-box mt-2">
                                <p class="text-label">{{ getLocalName('marksheet', i) }}</p>
                                <div class="icons">

                                    <span class="view" (click)="viewLocalFile('marksheet', i)">
                                        <img src="/assets/images/icons/eyered.svg" alt="view">
                                    </span>

                                    <span class="download" (click)="downloadLocalFile('marksheet', i)">
                                        <img src="/assets/images/icons/import-red.svg" alt="Download">
                                    </span>

                                    <span class="remove" (click)="removeLocalFile('marksheet', i)">
                                        <img src="/assets/images/icons/close.svg" alt="remove">
                                    </span>

                                </div>
                            </div>

                            } @else {


                            <app-uploadbtn [config]="basicConfig" [uploadViaApi]="false"
                                [required]="isMarksheetRequired(i)" label="Marksheet {{ i + 1 }}"
                                (fileChange)="onFileChange($event, educationType, 'marksheet',i)">
                            </app-uploadbtn>

                            }
                        </div>
                    </div>
                </div>
                <div class="col-4 mt-20">
                    <div class="text-label fw-bold">Passing / Leaving Certificate</div>
                    <div class=" col-sm-12 mt-20">
                        @if (hasLocal('lc' )) {

                        <label class="text-label">
                            Passing / Leaving Certificate <span class="text-danger">*</span>
                        </label>

                        <div class="addcust-img-box mt-2">
                            <p class="text-label">{{ getLocalName('lc') }}</p>
                            <div class="icons">

                                <span class="view" (click)="viewLocalFile('lc')">
                                    <img src="/assets/images/icons/eyered.svg" alt="view">
                                </span>

                                <span class="download" (click)="downloadLocalFile('lc')">
                                    <img src="/assets/images/icons/import-red.svg" alt="Download">
                                </span>

                                <span class="remove" (click)="removeLocalFile('lc')">
                                    <img src="/assets/images/icons/close.svg" alt="remove">
                                </span>

                            </div>
                        </div>

                        } @else {



                        <app-uploadbtn [config]="basicConfig" [required]="!isPostGraduate"
                            label="Passing / Leaving Certificate "
                            (fileChange)="onFileChange($event, educationType,'lc')">
                        </app-uploadbtn>

                        }
                    </div>
                </div>
            </div>
            }


            <!-- other documnets -->
            <hr class="hrclass">

            <div class="row  d-flex flex-column">
                <div class="text-label fw-bold ">Other Documents</div>


                <div class="row d-flex flex-column">

                    <div class="row">
                        @for (slot of otherDocuments; track slot.id) {

                        <div class=" mt-20 d-flex align-item-start other-doc-line ">


                            <div class="other-doc-title">

                                <app-inputfield label="Title" [required]="educationType !== 'POSTGRADUATE'"
                                    placeholder="Enter text here"
                                    (input)="main.restrictInput($event, 'text');slot.title = $any($event.target).value"
                                    [maxlength]="100">
                                </app-inputfield>

                                <!-- <div class="text-danger" *ngIf="f['assettitle'].touched && f['assettitle'].invalid">

                                    <div *ngIf="f['title'].errors?.['minlength']">
                                        Minimum 2 characters required
                                    </div>
                                </div> -->
                            </div>

                            <div class=" other-doc-upload" [ngClass]="slot.file ? 'mt-1' : 'mt-0'">

                                @if (slot.file) {
                                <div class="addcust-img-box mt-4">
                                    <p class="text-label">{{   slot.file.name }}</p>

                                    <div class="icons">
                                        <span class="view" (click)="viewOther(slot)">
                                            <img src="/assets/images/icons/eyered.svg">
                                        </span>

                                        <span class="download" (click)="downloadOther(slot)">
                                            <img src="/assets/images/icons/import-red.svg">
                                        </span>

                                        <span class="delete" (click)="removeOther(slot)">
                                            <img src="/assets/images/icons/close.svg">
                                        </span>
                                    </div>
                                </div>
                                } @else {
                                <app-uploadbtn [config]="basicConfig" [required]="educationType !== 'POSTGRADUATE'"
                                    label="Upload Document" (fileChange)="onOtherFileChange($event, slot)">
                                </app-uploadbtn>
                                }
                            </div>

                            <div class="other-doc-delete delete-icon-mt">
                                <span class="delete d-none d-lg-block delete-doc" (click)="removeOtherDocument(slot)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path
                                            d="M21 5.98047C17.67 5.65047 14.32 5.48047 10.98 5.48047C9 5.48047 7.02 5.58047 5.04 5.78047L3 5.98047"
                                            stroke="#25262F" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M8.5 4.97L8.72 3.66C8.88 2.71 9 2 10.69 2H13.31C15 2 15.13 2.75 15.28 3.67L15.5 4.97"
                                            stroke="#25262F" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M18.8484 9.14062L18.1984 19.2106C18.0884 20.7806 17.9984 22.0006 15.2084 22.0006H8.78844C5.99844 22.0006 5.90844 20.7806 5.79844 19.2106L5.14844 9.14062"
                                            stroke="#25262F" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M10.3281 16.5H13.6581" stroke="#25262F" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M9.5 12.5H14.5" stroke="#25262F" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </span>
                            </div>

                        </div>

                        }
                    </div>

                    <!-- Add button -->
                    <div class="col-lg-4 col-sm-12 mt-20 pt-2">
                        <app-buttons label="Add More Document" class="btn btn-icon Add btncustomClass" [outline]="true"
                            (click)="addotherdocuments()" [disabled]="otherDocuments.length >= maxOtherDocuments">
                            <img src="/assets/images/icons/addred.svg">
                        </app-buttons>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <hr class="footer-hr-class">

</div>