@use 'variables' as *;
@use 'typography' as *;
@use 'common' as *;

.vh-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.base-height {
    flex: 1;
    overflow: auto; 
}

.mt-20{
    margin-top: $spacing_9;;
}
.blue-text{
    color:$secondary-text;
// font-weight: 700;
}

.hrclass{
    background: $neutral-300;
    margin: 30px 0
}

// .accordion-item {
//     //  min-height: auto;
//     border-radius: $border_radius_m;
//   border: $border_1 solid $neutral-300;
// //   background: $bg, ;
//   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
// }
.table-head{
  color: $secondary-700;
}

.btncustomClass{
     width: auto !important;
  min-width: 350px;
  max-width: 350px;
  padding: 2px 3px;
  height: 52px;
}

.info-box{
  display: flex;
padding: $spacing_9;
flex-direction: column;
align-items: flex-start;
gap: $spacing_9;
align-self: stretch;
border-radius:$border_radius_m;
background: rgba(179, 228, 253, 0.30);
}

.hrclass{
    background: $neutral-300;
    margin:30px 0 ;
}
.education-box{
 
padding:$spacing_14;
align-self: stretch;
border-radius: $border_radius_m;
border: 1px solid $neutral-300;
}



.addcust-img-box {
  display: flex;
  padding: $spacing_7;
  justify-content: space-between;
  align-items: baseline;
  align-self: stretch;
  border-radius: $border_radius_rounded;
  background: $secondary-50;

  @media (max-width: 480px) {
    padding: $spacing_4;

  }
}

.addcust-img-box {
  position: relative;
  background: #d9e3ea;
  border-radius: 30px;
  padding: 12px 20px 12px 20px;
  /* space for icons */
  display: flex;
  align-items: center;
  cursor: pointer;
  min-width: 280px;
  width: 100%;
}



/* Icons container */
.addcust-img-box .icons {
  display: flex;
  gap: 10px;
}

/* Hide view & download by default */
.addcust-img-box .icons .view,
.addcust-img-box .icons .download {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

/* Always show delete icon */
.addcust-img-box .icons .delete {
  opacity: 1;
  visibility: visible;
}

/* On hover → show view & download */
.addcust-img-box:hover .icons .view,
.addcust-img-box:hover .icons .download {
  opacity: 1;
  visibility: visible;
}
.other-doc-line {
  display: flex;
  width: 100%;
  gap: 16px;
}

.other-doc-title {
  flex: 1.2;            //   grows naturally
}

.other-doc-upload {
  flex: 1.2;          //   slightly wider than title
}

.other-doc-delete {
  flex: 0 0 auto;     //   fixed size
  cursor: pointer;
  padding-bottom: 10px;
   margin-right: -50px;
}

/* Mobile layout */
@media (max-width: 768px) {
  .other-doc-line {
    flex-direction: column;
    align-items: stretch;
  }

  .other-doc-delete {
    align-self: flex-end;
  }
}
