<!-- <div *ngIf="!showTable && selectedCustomer" class="customer-detail-view"> -->
<div class="customer-detail-view main-content-feature">

  <!-- Header -->
  <div class="content-header">
    <div class="content-title text-dp-3-bold">
      Customer Information File
    </div>
    <div class="user-info">

      <nav aria-label="breadcrumb" class="breadcrumb">
        <ol class="breadcrumb-list">
          <li class="breadcrumb-item text-common "><a routerLink="/home">Home</a></li>
          <li class="breadcrumb-item active text-common " aria-current="page">Customer</li>
        </ol>
      </nav>

    </div>
  </div>

  <!-- edit download buttons -->

  <div class="d-flex justify-content-end gap-2">
    <app-buttons label="Edit" class="btn btn-icon btn-outline btn-no-padding" [outline]="true">
      <img src="/assets/images/icons/edit.svg" alt="edit">

    </app-buttons>
    <app-buttons label="Download CIF" class="btn btn-icon btn-outline btn-no-padding" [outline]="true">
      <img src="/assets/images/icons/import-red.svg" alt="import">

    </app-buttons>
  </div>

  <!-- Tabs -->
  <div class="userdetails">
    <div class="tab-container">
      <mat-tab-group class="tabs" [(selectedIndex)]="selectedTabIndex">

          
        <!-- PI -->
        <mat-tab label="PI">
          <div class="tab-content">
            <!-- Basic Information -->
            <div class="section">
              <h3 class="section-title text-dp-2-bold">Basic Information</h3>
              <hr _ngcontent-ng-c3098784094="" class="divider">
              <div class="info-grid">
                <div class="info-item">
                  <label class="text-label">First Name</label>
                  <p class="text-label-data">{{userData.firstName??"-"}}</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Middle Name</label>
                  <p class="text-label-data">{{userData.middleName??"-"}}</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Last Name</label>
                  <p class="text-label-data">{{userData.lastName??"-"}}</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Date of Birth</label>
                  <p class="text-label-data">{{userData.firstName??"-"}}</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Marital Status</label>
                  <p class="text-label-data">{{userData.firstName??"-"}}</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Gender</label>
                  <p class="text-label-data">{{userData.firstName??"-"}}</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Nationality</label>
                  <p class="text-label-data">{{userData.firstName??"-"}}</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Email ID</label>
                  <p class="text-label-data">{{userData.emailId??"-"}}</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Mobile Number</label>
                  <p class="text-label-data">{{userData.phoneNumber??"-"}}</p>
                </div>
              </div>
            </div>

            <!-- Spouse Details -->
            <div class="section">
              <h3 class="section-title text-dp-2-bold ">Spouse Details</h3>
              <hr _ngcontent-ng-c3098784094="" class="divider">
              <div class="info-grid">
                <div class="info-item">
                  <label class="text-label">First Name</label>
                  <p class="text-label-data">Rajesh</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Middle Name</label>
                  <p class="text-label-data">-</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Last Name</label>
                  <p class="text-label-data">Doe</p>
                </div>
              </div>
            </div>

            <!-- Father's Details -->
            <div class="section">
              <h3 class="section-title text-dp-2-bold">Father's Details</h3>
              <hr _ngcontent-ng-c3098784094="" class="divider">
              <div class="info-grid">
                <div class="info-item">
                  <label class="text-label">First Name</label>
                  <p class="text-label-data">Rajesh</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Middle Name</label>
                  <p class="text-label-data">-</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Last Name</label>
                  <p class="text-label-data">Doe</p>
                </div>
              </div>
            </div>

            <!-- Mother's Details -->
            <div class="section">
              <h3 class="section-title text-dp-2-bold">Mother's Details</h3>
              <hr _ngcontent-ng-c3098784094="" class="divider">
              <div class="info-grid">
                <div class="info-item">
                  <label class="text-label">First Name</label>
                  <p class="text-label-data">Jenny</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Middle Name</label>
                  <p class="text-label-data">-</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Last Name</label>
                  <p class="text-label-data">Doe</p>
                </div>
              </div>
            </div>

            <!-- <div class="section"><h3 class=""></h3></div> -->
          </div>
        </mat-tab>

        <!-- PII -->
        <mat-tab label="PII">
          <div class="tab-content">
            <!-- Identity & Residency Details -->
            <div class="section">
              <h3 class="section-title text-dp-2-bold ">Identity & Residency</h3>
              <hr _ngcontent-ng-c3098784094="" class="divider">
              <div class="info-grid">
                <div class="info-item">
                  <label class="text-label">Aadhaar Number</label>
                  <p class="text-label-data">XXXX XXXX 3210</p>
                </div>
                <div class="info-item">
                  <label class="text-label">PAN Number</label>
                  <p class="text-label-data">ABCDE****H</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Passport</label>
                  <p class="text-label-data">A1234567</p>
                </div>
              </div>
            </div>

            <!-- Permanent Address -->
            <div class="section">
              <h3 class="section-title text-dp-2-bold">Permanent Address</h3>
              <hr _ngcontent-ng-c3098784094="" class="divider">
              <div class="info-grid">
                <div class="info-item">
                  <label class="text-label">Address Line 1</label>
                  <p class="text-label-data">House No. 25</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Address Line 2</label>
                  <p class="text-label-data">Gandhi Nagar</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Country</label>
                  <p class="text-label-data">India</p>
                </div>
                <div class="info-item">
                  <label class="text-label">State</label>
                  <p class="text-label-data">Maharashtra</p>
                </div>
                <div class="info-item">
                  <label class="text-label">City</label>
                  <p class="text-label-data"> Mumbai</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Zipcode</label>
                  <p class="text-label-data">400001</p>
                </div>


              </div>
            </div>

            <!-- Current Address -->
            <div class="section">
              <h3 class="section-title text-dp-2-bold">Current Address</h3>
              <hr _ngcontent-ng-c3098784094="" class="divider">
              <div class="info-grid">
                <div class="info-item">
                  <label class="text-label">Address Line 1</label>
                  <p class="text-label-data">House No. 25</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Address Line 2</label>
                  <p class="text-label-data">Gandhi Nagar</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Country</label>
                  <p class="text-label-data">India</p>
                </div>
                <div class="info-item">
                  <label class="text-label">State</label>
                  <p class="text-label-data">Maharashtra</p>
                </div>
                <div class="info-item">
                  <label class="text-label">City</label>
                  <p class="text-label-data"> Mumbai</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Zipcode</label>
                  <p class="text-label-data">400001</p>
                </div>
              </div>
            </div>

            <h3 class="reference text-dp-2-bold">Reference Details</h3>

            <!-- Reference 1 -->
            <div class="section">
              <h3 class="section-title text-dp-1-medium">Reference 1</h3>
              <hr _ngcontent-ng-c3098784094="" class="divider">
              <div class="info-grid">
                <div class="info-item">
                  <label class="text-label">First Name</label>
                  <p class="text-label-data">Rajesh</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Middle Name</label>
                  <p class="text-label-data">-</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Last Name</label>
                  <p class="text-label-data">Doe</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Email</label>
                  <p class="text-label-data">vignesh121@gmail.com</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Phone Number</label>
                  <p class="text-label-data"> +91 9987116247</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Address Line 1</label>
                  <p class="text-label-data">House No. 25</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Address Line 2</label>
                  <p class="text-label-data">Gandhi Nagar</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Country</label>
                  <p class="text-label-data">India</p>
                </div>
                <div class="info-item">
                  <label class="text-label">State</label>
                  <p class="text-label-data">Maharashtra</p>
                </div>
                <div class="info-item">
                  <label class="text-label">City</label>
                  <p class="text-label-data"> Mumbai</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Zipcode</label>
                  <p class="text-label-data">400001</p>
                </div>
              </div>
            </div>

            <!-- Reference 2 -->
            <div class="section">
              <h3 class="section-title text-dp-1-medium">Reference 2</h3>
              <hr _ngcontent-ng-c3098784094="" class="divider">
              <div class="info-grid">
                <div class="info-item">
                  <label class="text-label">First Name</label>
                  <p class="text-label-data">Rajesh</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Middle Name</label>
                  <p class="text-label-data">-</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Last Name</label>
                  <p class="text-label-data">Doe</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Email</label>
                  <p class="text-label-data">vignesh121@gmail.com</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Phone Number</label>
                  <p class="text-label-data"> +91 9987116247</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Address Line 1</label>
                  <p class="text-label-data">House No. 25</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Address Line 2</label>
                  <p class="text-label-data">Gandhi Nagar</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Country</label>
                  <p class="text-label-data">India</p>
                </div>
                <div class="info-item">
                  <label class="text-label">State</label>
                  <p class="text-label-data">Maharashtra</p>
                </div>
                <div class="info-item">
                  <label class="text-label">City</label>
                  <p class="text-label-data"> Mumbai</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Zipcode</label>
                  <p class="text-label-data">400001</p>
                </div>
              </div>
            </div>

            <!-- Spouse Details -->
            <div class="section">
              <h3 class="section-title text-dp-2-bold ">Spouse Details</h3>
              <hr _ngcontent-ng-c3098784094="" class="divider">
              <div class="info-grid">
                <div class="info-item">
                  <label class="text-label">First Name</label>
                  <p class="text-label-data">Rajesh</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Middle Name</label>
                  <p class="text-label-data">-</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Last Name</label>
                  <p class="text-label-data">Doe</p>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>

        <!-- KYC Details -->
        <mat-tab label="KYC Details">
          <div class="tab-content">
            <!-- Applicant KYC -->
            <div class="section">
              <h3 class="section-title text-dp-2-bold">Applicant KYC</h3>
              <hr _ngcontent-ng-c3098784094="" class="divider">
              <div class="info-grid-img">
                <div class="info-item">
                  <label class="text-label">Photo</label>
                  <div class="img-box">
                    <p class="text-label-data">Rajesh.png</p>
                    <div class="icons">
                      <span class=""><img src="/assets/images/icons/eyered.svg" alt="view"></span>
                      <span class=""><img src="/assets/images/icons/import-red.svg" alt="Download"></span>
                    </div>
                  </div>

                </div>
                <div class="info-item">
                  <label class="text-label">Aadhaar Number</label>
                  <div class="img-box">
                    <p class="text-label-data">Aadhaar.png</p>
                    <div class="icons">
                      <span class="" (click)="viewImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/eyered.svg" alt="view"></span>
                      <span class="" (click)="downloadImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/import-red.svg" alt="Download"></span>
                    </div>
                  </div>
                </div>
                <div class="info-item">
                  <label class="text-label">PAN</label>
                  <div class="img-box">
                    <p class="text-label-data">PAN_Card.png</p>
                    <div class="icons">
                      <span class=""><img src="/assets/images/icons/eyered.svg" alt="view"></span>
                      <span class=""><img src="/assets/images/icons/import-red.svg" alt="Download"></span>
                    </div>
                  </div>
                </div>
                <div class="info-item">
                  <label class="text-label">Passport</label>
                  <div class="img-box">
                    <p class="text-label-data">Passport.png</p>
                    <div class="icons">
                      <span class=""><img src="/assets/images/icons/eyered.svg" alt="view"></span>
                      <span class=""><img src="/assets/images/icons/import-red.svg" alt="Download"></span>
                    </div>
                  </div>
                </div>
                <div class="info-item">
                  <label class="text-label">E-KYC Status</label>
                  <p class="text-label-data"> Verified</p>
                </div>

              </div>
            </div>


          </div>
        </mat-tab>

        <!-- Education -->
        <mat-tab label="Education">
          <div class="tab-content">
            <!-- Education Details -->
            <div class="section">
              <h3 class="section-title text-dp-1-medium">Education Details</h3>
              <hr _ngcontent-ng-c3098784094="" class="divider">
              <div class="info-grid-img">
                <div class="info-item">
                  <label class="text-label">10th</label>
                  <div class="img-box">
                    <p class="text-label-data">Marksheet.png</p>
                    <div class="icons">
                      <span class="" (click)="viewImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/eyered.svg" alt="view"></span>
                      <span class="" (click)="downloadImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/import-red.svg" alt="Download"></span>
                    </div>
                  </div>
                </div>
                <div class="info-item">
                  <label class="text-label">CGPA / Percentage / Grade</label>
                  <p class="text-label-data">86.1%</p>
                </div>
                <div class="info-item">
                  <label class="text-label">12th</label>
                  <div class="img-box">
                    <p class="text-label-data">Marksheet.png</p>
                    <div class="icons">
                      <span class="" (click)="viewImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/eyered.svg" alt="view"></span>
                      <span class="" (click)="downloadImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/import-red.svg" alt="Download"></span>
                    </div>
                  </div>
                </div>
                <div class="info-item">
                  <label class="text-label">CGPA / Percentage / Grade</label>
                  <p class="text-label-data">86.1%</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Undergraduate</label>
                  <div class="img-box">
                    <p class="text-label-data">Marksheet.png</p>
                    <div class="icons">
                      <span class="" (click)="viewImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/eyered.svg" alt="view"></span>
                      <span class="" (click)="downloadImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/import-red.svg" alt="Download"></span>
                    </div>
                  </div>
                </div>
                <div class="info-item">
                  <label class="text-label">CGPA / Percentage / Grade</label>
                  <p class="text-label-data">86.1%</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Postgraduate</label>
                  <div class="img-box">
                    <p class="text-label-data">Marksheet.png</p>
                    <div class="icons">
                      <span class="" (click)="viewImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/eyered.svg" alt="view"></span>
                      <span class="" (click)="downloadImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/import-red.svg" alt="Download"></span>
                    </div>
                  </div>
                </div>
                <div class="info-item">
                  <label class="text-label">CGPA / Percentage / Grade</label>
                  <p class="text-label-data">86.1%</p>
                </div>

              </div>
            </div>

            <!-- Foreign Course Details -->
            <div class="section">
              <h3 class="section-title text-dp-1-medium">Foreign Course Details</h3>
              <hr _ngcontent-ng-c3098784094="" class="divider">
              <div class="info-grid-img">
                <div class="info-item">
                  <label class="text-label">IELTS / PTE</label>
                  <div class="img-box">
                    <p class="text-label-data">IELTS.png</p>
                    <div class="icons">
                      <span class="" (click)="viewImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/eyered.svg" alt="view"></span>
                      <span class="" (click)="downloadImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/import-red.svg" alt="Download"></span>
                    </div>
                  </div>
                </div>
                <div class="info-item">
                  <label class="text-label">CGPA / Percentage / Grade</label>
                  <p class="text-label-data">86.1%</p>
                </div>
                <div class="info-item">
                  <label class="text-label">State</label>
                  <p class="text-label-data">Queensland</p>
                </div>
                <div class="info-item">
                  <label class="text-label">University Name</label>
                  <p class="text-label-data">ABC University </p>
                </div>
                <div class="info-item">
                  <label class="text-label">Course Name</label>
                  <p class="text-label-data">MBA</p>
                </div>
                <div class="info-item">
                  <label class="text-label">University Offer Letter</label>
                  <div class="img-box">
                    <p class="text-label-data">Offer_Letter.png</p>
                    <div class="icons">
                      <span class="" (click)="viewImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/eyered.svg" alt="view"></span>
                      <span class="" (click)="downloadImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/import-red.svg" alt="Download"></span>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </mat-tab>

        <!-- Occupation -->
        <mat-tab label="Occupation">
          <div class="tab-content">
            <!-- Occupation Details salaried --> <!-- conditionedbased -->
            <div class="section" *ngIf="!issalaried">
              <h3 class="section-title text-dp-1-medium">Occupation Details</h3>
              <hr _ngcontent-ng-c3098784094="" class="divider">
              <div class="info-grid-img">
                <div class="info-item">
                  <label class="text-label">Source of Income</label>
                  <p class="text-label-data">Salaried</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Office Name</label>
                  <p class="text-label-data">XYZ</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Office Address</label>
                  <p class="text-label-data"></p>
                </div>
                <div class="info-item">
                  <label class="text-label">Salaried Bank Name</label>
                  <p class="text-label-data">XYZ</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Account Number</label>
                  <p class="text-label-data">123456789112</p>
                </div>
                <div class="info-item">
                  <label class="text-label">IFSC Code</label>
                  <p class="text-label-data">AAAA0000000</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Bank Branch Address</label>
                  <p class="text-label-data">Mumbai</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Recent 3 Months Salary Slips</label>
                  <div class="img-box">
                    <p class="text-label-data">Salary Slip.png</p>
                    <div class="icons">
                      <span class="" (click)="viewImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/eyered.svg" alt="view"></span>
                      <span class="" (click)="downloadImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/import-red.svg" alt="Download"></span>
                    </div>
                  </div>
                </div>
                <div class="info-item">
                  <label class="text-label">Form 16</label>
                  <div class="img-box">
                    <p class="text-label-data">FORM16.png</p>
                    <div class="icons">
                      <span class="" (click)="viewImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/eyered.svg" alt="view"></span>
                      <span class="" (click)="downloadImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/import-red.svg" alt="Download"></span>
                    </div>
                  </div>
                </div>
                <div class="info-item">
                  <label class="text-label">Latest 3 Year ITR</label>
                  <div class="img-box">
                    <p class="text-label-data">ITR.png</p>
                    <div class="icons">
                      <span class="" (click)="viewImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/eyered.svg" alt="view"></span>
                      <span class="" (click)="downloadImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/import-red.svg" alt="Download"></span>
                    </div>
                  </div>
                </div>
                <div class="info-item">
                  <label class="text-label">1 Year Salaried Bank Account Statement</label>
                  <div class="img-box">
                    <p class="text-label-data">Statement.png</p>
                    <div class="icons">
                      <span class="" (click)="viewImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/eyered.svg" alt="view"></span>
                      <span class="" (click)="downloadImage('/assets/images/dashboard/profileimg.png')"><img
                          src="/assets/images/icons/import-red.svg" alt="Download"></span>
                    </div>
                  </div>
                </div>
                <div class="info-item">
                  <label class="text-label">Existing Outstanding Loan Amount & EMI Obligation (If any)</label>
                  <p class="text-label-data">Lorem ipsum dummy textLorem</p>
                </div>

              </div>
            </div>

            <!-- Occupation Details Self Employed (Business)-->
            <div class="section" *ngIf="issalaried">
              <h3 class="section-title text-dp-1-medium">Occupation Details</h3>
              <hr _ngcontent-ng-c3098784094="" class="divider">
              <div class="info-grid">
                <div class="info-item">
                  <label class="text-label">Source of Income</label>
                  <p class="text-label-data">Self Employed (Business)</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Office Name</label>
                  <p class="text-label-data">XYZ</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Office Address</label>
                  <p class="text-label-data"></p>
                </div>
                <div class="info-item">
                  <label class="text-label">Latest 3 Years Financials of Business</label>
                  <p class="text-label-data"></p>
                </div>
                <div class="info-item">
                  <label class="text-label">Latest 3 Year ITR</label>
                  <p class="text-label-data"></p>
                </div>
                <div class="info-item">
                  <label class="text-label">1 Year GST Return</label>
                  <p class="text-label-data"></p>
                </div>
                <div class="info-item">
                  <label class="text-label">1 Year Personal Bank Account Statement</label>
                  <p class="text-label-data"></p>
                </div>
                <div class="info-item">
                  <label class="text-label">Existing Outstanding Loan Amount & EMI Obligation (If any)</label>
                  <p class="text-label-data">Lorem ipsum dummy text</p>
                </div>


              </div>
            </div>
          </div>
        </mat-tab>

        <!-- Products -->
        <mat-tab label="Products">
          <div class="tab-content">

            <!-- Loans -->
            <div class="section">
              <h3 class="section-title text-dp-1-medium">Loans</h3>
              <hr class="divider">

              <!-- Loans -->
              <div class="table-container">
                <table class="responsive-table ">
                  <thead>
                    <tr>
                      <th class="table-head table-header">Loan Type</th>
                      <th class="table-head table-header">Loan Number</th>
                      <th class="table-head table-header">Status</th>
                      <th class="table-head table-header">Loan Amount</th>
                      <th class="table-head table-header">Applicant Type</th>
                      <th class="table-head table-header">Disbursed Amount</th>
                      <th class="table-head table-header">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-dp-3-regular table-data">Education</td>
                      <td class="text-dp-3-regular table-data">abc1234</td>
                      <td class="text-dp-3-regular table-data">Active</td>
                      <td class="text-dp-3-regular table-data">₹5,00,000</td>
                      <td class="text-dp-3-regular table-data">Co-Applicant</td>
                      <td class="text-dp-3-regular table-data">₹2,00,000</td>
                      <td class="text-dp-3-regular table-data">View Details</td>
                    </tr>

                  </tbody>
                </table>
              </div>

            </div>

            <!-- Payments -->

            <div class="section">
              <h3 class="section-title text-dp-1-medium">Payments</h3>
              <hr class="divider">
              <div class="table-container">
                <table class="responsive-table ">
                  <thead>
                    <tr>
                      <th class="table-head table-header">Date & Time</th>
                      <th class="table-head table-header">Payment Type</th>
                      <th class="table-head table-header">Reference No</th>
                      <th class="table-head table-header">Payment INR</th>
                      <th class="table-head table-header">Payment AUD</th>
                      <th class="table-head table-header">Fees Paid</th>
                      <th class="table-head table-header">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-dp-3-regular table-data">dd/mm/yyyy hh:mm</td>
                      <td class="text-dp-3-regular table-data">Fx_Fees</td>
                      <td class="text-dp-3-regular table-data">abc1234</td>
                      <td class="text-dp-3-regular table-data">₹5,00,000</td>
                      <td class="text-dp-3-regular table-data">$9,000</td>
                      <td class="text-dp-3-regular table-data">₹2,00,000</td>
                      <td class="text-dp-3-regular table-data">View Details</td>
                    </tr>

                  </tbody>
                </table>
              </div>

            </div>

            <!-- Accounts -->
            <div class="section">

              <h3 class="section-title text-dp-1-medium">Accounts</h3>
              <hr _ngcontent-ng-c3098784094="" class="divider">

              <div class="table-container">
                <table class="responsive-table ">
                  <thead>
                    <tr>
                      <th class="table-head table-header">Account Number</th>
                      <th class="table-head table-header">Account Name</th>
                      <th class="table-head table-header">Account Balance</th>
                      <th class="table-head table-header">Actions</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-dp-3-regular table-data">1001001234</td>
                      <td class="text-dp-3-regular table-data">Vighnesh</td>
                      <td class="text-dp-3-regular table-data">₹5,00,000</td>
                      <td class="text-dp-3-regular table-data">View Details</td>
                    </tr>

                  </tbody>
                </table>
              </div>


            </div>
          </div>
        </mat-tab>

        <!-- Bank Accounts -->
        <mat-tab label="Bank Accounts">
          <div class="tab-content">
            <div class="section">

              <h3 class="section-title text-dp-1-medium">Bank Accounts</h3>
              <hr _ngcontent-ng-c3098784094="" class="divider">

              <div class="table-container">
                <table class="responsive-table ">
                  <thead>
                    <tr>
                      <th class="table-head table-header">Account Number</th>
                      <th class="table-head table-header">Bank & Branch</th>
                      <th class="table-head table-header">IFSC Code</th>
                      <th class="table-head table-header">Status</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-dp-3-regular table-data">xxxx2345</td>
                      <td class="text-dp-3-regular table-data">State Bank of India, MG Road, Bengaluru.</td>
                      <td class="text-dp-3-regular table-data">SBIN0004576</td>
                      <td class="text-dp-3-regular table-data">Active</td>
                    </tr>

                    <tr>
                      <td class="text-dp-3-regular table-data">xxxx2345</td>
                      <td class="text-dp-3-regular table-data">HDFC Bank, Connaught Place, Delhi.</td>
                      <td class="text-dp-3-regular table-data">HDFC0006272</td>
                      <td class="text-dp-3-regular table-data">In-Active</td>
                    </tr>

                  </tbody>
                </table>
              </div>


            </div>
          </div>
        </mat-tab>

 <!-- Credit Score -->
        <mat-tab label="Credit Score">
          <div class="tab-content">
            <div class="section">
              <h3 class="section-title text-dp-1-medium">Credit Score</h3>
              <hr class="divider">
              <div class="containerdata">

                <!-- Credit Score Section -->
                <div class="credit-score-section">
                  <div class="stats-container-main">
                    <div class="score-chart">
                      <div class="score-number text-common">{{ creditScore }}</div>
                      <div class="gauge-container">
                        <canvas #gaugeCanvas></canvas>


                      <div class="gauge-labels text-common">
                        <div class="gauge-label">
                          <span class="gauge-label-value">POOR</span>
                          <span>300-550</span>
                        </div>
                        <div class="gauge-label">
                          <span class="gauge-label-value">AVERAGE</span>
                          <span>550-650</span>
                        </div>
                        <div class="gauge-label">
                          <span class="gauge-label-value">GOOD</span>
                          <span>650-750</span>
                        </div>
                        <div class="gauge-label">
                          <span class="gauge-label-value">EXCELLENT</span>
                          <span>750-900</span>
                        </div>
                      </div> 
                      </div> 
                      <div class="report-date">
                        Date of Report : {{ reportDate }} • Source : {{ source }}
                      </div>
                    </div>

                    <div class="creditscore-data ">
                      <div class="stats-container">
                        <div class="row">
                          <div class="col ">
                            <div class="stat-card">
                              <div class="stat-value text-dp-3-bold">{{ creditStats.totalCredit }}</div>
                              <div class="stat-label text-label-data">Total Credit</div>
                            </div>
                          </div>

                          <div class="col ">
                            <div class="stat-card">
                              <div class="stat-value text-dp-3-bold">{{ creditStats.totalAccounts }}</div>
                              <div class="stat-label text-label-data">Total Number of Accounts</div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col">
                            <div class="stat-card">
                              <div class="stat-value text-dp-3-bold">{{ creditStats.numberOfLoans }}</div>
                              <div class="stat-label text-label-data">Number of Loans</div>
                            </div>
                          </div>

                          <div class="col">
                            <div class="stat-card">
                              <div class="stat-value text-dp-3-bold">{{ creditStats.outstandingAmount }}</div>
                              <div class="stat-label text-label-data">outstandingAmount Credit Accounts</div>
                            </div>
                          </div>
                        </div>

                        <div class="vertical-divider"></div>
                      </div>

                      <div class="downloadbtn">
                        <app-buttons label="Download Latest Report" class="btn btn-icon secondary btn-label "
                          (click)="downloadReport()">
                          <img src="/assets/images/icons/import.svg" alt="Download">

                        </app-buttons>
                      </div>
                    </div>
                    <!-- <div class="vertical-divider-main"></div> -->
                    <div class="empty"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Latest Know Address Section -->
            <div class="section">
              <h3 class="section-title text-dp-1-medium">Latest Know Address as per CIBIL</h3>
              <hr class="divider">


              <div class="info-grid">
                <div class="info-item">
                  <label class="text-label">Address line 1</label>
                  <p class="text-label-data">123, Main Street, Anytown</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Address line 2</label>
                  <p class="text-label-data">Lorem ipsum dummy text</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Country</label>
                  <p class="text-label-data">India</p>
                </div>
                <div class="info-item">
                  <label class="text-label">State</label>
                  <p class="text-label-data">Maharashtra</p>
                </div>
                <div class="info-item">
                  <label class="text-label">City</label>
                  <p class="text-label-data">Mumbai</p>
                </div>
                <div class="info-item">
                  <label class="text-label">Zipcode</label>
                  <p class="text-label-data">400001</p>
                </div>
              </div>
            </div>

            <!-- CIBIL History Table -->
            <div class="section">
              <h3 class="section-title text-dp-1-medium">CIBIL History</h3>
              <hr class="divider">
              <div class="table-container">
                <table class="responsive-table">
                  <thead>
                    <tr>
                      <th class="table-head table-header">Date Generated</th>
                      <th class="table-head table-header">Name</th>
                      <th class="table-head table-header">Generated By</th>
                      <th class="table-head table-header">Credit Score</th>
                      <th class="table-head table-header">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-dp-3-regular table-data">25/07/2025</td>
                      <td class="text-dp-3-regular table-data">Vighnesh</td>
                      <td class="text-dp-3-regular table-data">Sandeep</td>
                      <td class="text-dp-3-regular table-data">780</td>
                      <td class="text-dp-3-regular table-data">👁️</td>
                    </tr>
                    <tr>
                      <td class="text-dp-3-regular table-data">22/11/2024</td>
                      <td class="text-dp-3-regular table-data">Vighnesh</td>
                      <td class="text-dp-3-regular table-data">Aarti</td>
                      <td class="text-dp-3-regular table-data">820</td>
                      <td class="text-dp-3-regular table-data">👁️</td>
                    </tr>
                    <tr>
                      <td class="text-dp-3-regular table-data">04/05/2024</td>
                      <td class="text-dp-3-regular table-data">Vighnesh</td>
                      <td class="text-dp-3-regular table-data">Priya</td>
                      <td class="text-dp-3-regular table-data">690</td>
                      <td class="text-dp-3-regular table-data">👁️</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </mat-tab>
     

      </mat-tab-group>
    </div>

    <!-- footer buttons  -->
    <div class="d-flex justify-content-start gap-2 footer-btn" *ngIf="selectedTabIndex >= 2">
      <app-buttons label="Edit" class="btn primary btn-icon btncustomClass btn-label">
        <img src="/assets/images/icons/add.svg" alt="edit">

      </app-buttons>
      <app-buttons label="Download CIF" class="btn primary btn-icon btncustomClass btn-label">
        <img src="/assets/images/icons/import.svg" alt="Download">

      </app-buttons>

    </div>
  </div>

</div>