@use 'variables' as *;
@use 'typography' as *;
@use 'common' as *;

/* -------------edit download buttons------------------*/

::ng-deep app-buttons .btn .btn-outline {
  width: 170px;
  padding: $spacing_3 $spacing_5;
  justify-content: center;


}


.btn-no-padding {
  --bs-btn-padding-x: 0 !important;
  --bs-btn-padding-y: 0 !important;
  padding: 0 !important;
   min-width: 170px;
  
}


.primary {
  background-color: $primary-btn!important;
  color: #fff;

}

.secondary {
  background-color: $secondary-btn!important;
  color: #fff;
  width: 312px;
}


.back-button {
  margin-right: 10px;
}

// footer btns edit-download

.btncustomClass {
  width: 210px;
  padding: 0 $spacing_3;
  justify-content: center;
}

.footer-btn {
  flex-shrink: 0;
  margin-top: $spacing_8;

  @media (max-width: 768px) {
    // padding: 16px;
  }

  @media (max-width: 480px) {

    // padding: 12px;

    ::ng-deep app-buttons .btn {

  padding: 5px 0;
}
  }
  .primarycolor{
    color: white;
  }
}


/*----------------Tab horizontal scroll--------------*/
.scrollable-tabs .mdc-tab.mat-mdc-tab {
  flex: 0 0 auto;         
  min-width: 220px;        
  padding: $spacing_11 $spacing_9;
  white-space: nowrap;

  //  @media (max-width: 768px) {
  //    min-width: 150px;
  // }
  // @media (max-width: 480px) {
  //    width: 100px;
  // }
}
 .scrollable-tabs .mat-mdc-tab-header {
  overflow-x: auto;        // horizontal scroll
  overflow-y: hidden;
 
}

 .scrollable-tabs .mat-mdc-tab-body-wrapper {
  overflow: hidden;        // page content NOT scrollable
}

/* ---------------Tab Content Styles -----------*/







.reference {
  color: $neutral-text-primary;
  background-color: $neutral-200;
  display: flex;
  height: $spacing_21;
  padding: $spacing_11;
  flex-direction: column;
  justify-content: center;
}

::ng-deep .mat-mdc-tab-labels {
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::ng-deep .mat-mdc-tab-labels::-webkit-scrollbar {
  display: none;
}

::ng-deep .mat-mdc-tab-label {
  flex: 0 0 auto;
  white-space: nowrap;
}




.icons {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icons img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

//-----------------table--------------------


///-----------------------------------
