<div class="base-layout">
  
    <div class="header ">

            <div class="text-datepicker blue-text d-flex flex-column gap-2 ">Customer Identification Program
                <div class="text-body-1 fw-normal">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"
                            fill="none">
                            <path
                                d="M10.9997 20.1667C16.0413 20.1667 20.1663 16.0417 20.1663 11C20.1663 5.95833 16.0413 1.83333 10.9997 1.83333C5.95801 1.83333 1.83301 5.95833 1.83301 11C1.83301 16.0417 5.95801 20.1667 10.9997 20.1667Z"
                                stroke="#25262F" stroke-width="1.28125" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M11 7.33333V11.9167" stroke="#25262F" stroke-width="1.28125" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M10.9961 14.6667H11.0043" stroke="#25262F" stroke-width="1.28125"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg></span>
                    Click the “Next” button to save your changes
                </div>
            </div>

        </div>
        <form [formGroup]="kycdocumentsForm" (ngSubmit)="submit()" id="kycForm" class="w-100">

    <div class=" accordion d-flex flex-column gap-4 mb-4">

      <div class="accordion-item b-0" *ngFor="let acc of accordions; let i = index">

        <h2 class="accordion-header">
          <button class="accordion-button table-head" [class.collapsed]="!openIndex.includes(i)" type="button"
            (click)="toggle(i)">

            {{ acc.title }}
          </button>
        </h2>


        <div class="accordion-collapse collapse" [class.show]="openIndex.includes(i)">

          <div class="accordion-body p-0 ">

            <ng-container *ngIf="i === 0">
              <ng-container *ngTemplateOutlet="identityTemplate; context:{index:i}">
              </ng-container>
            </ng-container>

            <ng-container *ngIf="i === 1">
              <ng-container *ngTemplateOutlet="permanentaddressTemplate; context:{index:i}">
              </ng-container>
            </ng-container>

            <ng-container *ngIf="i === 2">
              <ng-container *ngTemplateOutlet="currentaddressTemplate; context:{index:i}">

              </ng-container>
            </ng-container>


          </div>
        </div>

      </div>

    </div>

    <ng-template #identityTemplate let-i="index">
      <!-- <div class="loan-heading text-label">Identity & Residency</div> -->

      <div class="row  d-flex  align-items-start pt-4 common-details-box d-flex flex-column">
        <div class="row mt-20">
          <div class="col-lg-6 col-sm-12">
            <app-inputfield type="text" formControlName="adhaarnumber" [required]="true" label="Aadhaar Number"
              placeholder="Aadhaar Number" helpText="Help text" name="adhaarnumber">
            </app-inputfield>
          </div>
          <div class="col-lg-3 col-sm-12">

            <label class="text-label">Aadhaar_Card_front<span class="text-danger">*</span></label>
            <div class="addcust-img-box mt-2" name="adhaarfront">
              <p class="text-label">{{aadhaarFrontFileName}}</p>
              <div class="icons">
                <span (click)="viewImage(aadhaarFrontUrl)"><img src="/assets/images/icons/eyered.svg" alt="view"></span>
                <span (click)="downloadImage(aadhaarFrontUrl,aadhaarFrontFileName)"><img
                    src="/assets/images/icons/import-red.svg" alt="Download"></span>
              </div>
            </div>

          </div>
          <div class="col-lg-3 col-sm-12">

            <label class="text-label">Aadhaar_Card_Back<span class="text-danger">*</span></label>
            <div class="addcust-img-box mt-2" name="adhaarback">
              <p class="text-label">{{aadhaarBackFileName}}</p>
              <div class="icons">
                <span (click)="viewImage(aadhaarBackUrl)"><img src="/assets/images/icons/eyered.svg" alt="view"></span>
                <span (click)="downloadImage(aadhaarBackUrl,aadhaarBackFileName)"><img
                    src="/assets/images/icons/import-red.svg" alt="Download"></span>
              </div>
            </div>

          </div>
        </div>

        <div class="row mt-20">
          <div class="col-lg-6 col-sm-12">
            <app-inputfield type="text" formControlName="pannumber" [required]="true" label="Pan Number"
              placeholder="Pan Number" helpText="Help text" name="pannumber">
            </app-inputfield>
          </div>
          <div class="col-lg-6 col-sm-12">
            <label class="text-label">PAN Card<span class="text-danger">*</span></label>
            <div class="addcust-img-box mt-2" name="panimg">
              <p class="text-label">{{panFileName}}</p>
              <div class="icons">
                <span (click)="viewImage(panUrl)"><img src="/assets/images/icons/eyered.svg" alt="view"></span>
                <span (click)="downloadImage(panUrl,panFileName)"><img src="/assets/images/icons/import-red.svg"
                    alt="Download"></span>
              </div>
            </div>
          </div>

        </div>

        <div class="row mt-20">
          <div class="col-lg-6 col-sm-12 ">
            <app-inputfield type="text" formControlName="passportnumber" [required]="true" label="Passport"
              placeholder="Passport" helpText="Help text" name="passportnumber">
            </app-inputfield>
          </div>

          <div class="col-lg-6 col-sm-12 ">
            @if(ispassport){
            <label class="text-label">Passport<span class="text-danger">*</span></label>
            <div class="addcust-img-box mt-2">
              <p class="text-label">{{passportFileName}}</p>
              <div class="icons">
                <span (click)="viewImage(passportUrl)"><img src="/assets/images/icons/eyered.svg" alt="view"></span>
                <span (click)="downloadImage(passportUrl,passportFileName)"><img
                    src="/assets/images/icons/import-red.svg" alt="Download"></span>
              </div>
            </div>

            }
            @else{
            <app-uploadbtn [config]="basicConfig" (fileChange)="onFileChange($event, 'passport')" label="Passport" [required]="true">
            </app-uploadbtn>
            <div class="text-danger" *ngIf="passportmissing">
              Passport upload is mandatory
            </div>
            <div class="text-danger" *ngIf="passportuploadfailure">
              Document upload failed
            </div>
            }
          </div>

          <div class="col-lg-6 col-sm-12 mt-20">
            <app-datepickernew name="dob" label="Date of Birth" [required]="true" type="date" [disabled]="true"
              formControlName="dob"></app-datepickernew>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #permanentaddressTemplate let-i="index">

      <div class="row  d-flex  align-items-start pt-4 common-details-box d-flex flex-column">
        <div class="row mt-20">
          <app-inputfield type="text" formControlName="peraddressline1" [required]="true" label="Address Line 1"
            placeholder="Address Line" helpText="Help text" name="peraddressline1">
          </app-inputfield>
        </div>
        <div class="row mt-20">
          <app-inputfield type="text" formControlName="peraddressline2" [required]="true" label="Address Line 2"
            placeholder="Address Line" helpText="Help text" name="peraddressline2">
          </app-inputfield>
        </div>
        <div class="row mt-20">
          <app-inputfield type="text" formControlName="peraddressline3" label="Address Line 3"
            placeholder="" helpText="Help text" name="peraddressline3">
          </app-inputfield>
        </div>
        <div class="row mt-20">
          <div class="col-lg-6 col-sm-12 ">
            <app-inputfield type="text" formControlName="percountry" [required]="true" label="Country"
              placeholder="India" helpText="Help text" name="percountry">
            </app-inputfield>
          </div>

          <div class="col-lg-6 col-sm-12 ">

            <app-inputfield type="text" formControlName="perstate" [required]="true" label="State" placeholder="State"
              helpText="Help text" name="perstate">
            </app-inputfield>

          </div>

          <div class="col-lg-6 col-sm-12 mt-20">
            <app-inputfield type="text" formControlName="percity" [required]="true" label="City" placeholder="City"
              helpText="Help text" name="percity">
            </app-inputfield>
          </div>
          <div class="col-lg-6 col-sm-12 mt-20">
            <app-inputfield type="text" formControlName="perpincode" [required]="true" label="Pincode"
              placeholder="Pincode" helpText="Help text" name="perpincode">
            </app-inputfield>
          </div>
        </div>
        <div class="mailcheck d-flex justify-content-start align-items-center loan-mt-4">
          <app-checkbox label="Is this the mailing address ?" formControlName="isperMailingAddress"
            [disabled]="true"></app-checkbox>
        </div>

      </div>
    </ng-template>


    <ng-template #currentaddressTemplate let-i="index">

      <div class="row  d-flex  align-items-start pt-4 common-details-box d-flex flex-column">
        <div class="row mt-20">
          <div class="addresscheck d-flex justify-content-start align-items-center gap-3">
            <app-checkbox label="Same as Permanent Address" [checked]="kycdocumentsForm.get('sameAsPermanent')?.value"
              [disabled]="true" (change)="setSameAddress(true)"></app-checkbox>
            <label for="sameAddress"></label>

            <app-checkbox label="Different Address" [checked]="!kycdocumentsForm.get('sameAsPermanent')?.value"
              [disabled]="true" (change)="setSameAddress(false)"></app-checkbox>
            <label for="differentAddress"></label>
          </div>

        </div>
        <div class="row mt-20">
          @if(otherDocumentFileName){
          <div class="col-lg-6 col-sm-12 ">
            <label class="text-label">Supporting Document<span class="text-danger">*</span></label>
            <div class="addcust-img-box mt-2">
              <p class="text-label">{{otherDocumentFileName}}</p>
              <div class="icons">
                <span (click)="viewImage(otherDocumentUrl)"><img src="/assets/images/icons/eyered.svg"
                    alt="view"></span>
                <span (click)="downloadImage(otherDocumentUrl,otherDocumentFileName)"><img
                    src="/assets/images/icons/import-red.svg" alt="Download"></span>
              </div>
            </div>
          </div>

          }

        </div>
        <div class="row mt-20">
          <app-inputfield type="text" formControlName="curraddressline1" [required]="true" label="Address Line 1"
            placeholder="Address Line" helpText="Help text" name="curraddressline1">
          </app-inputfield>
        </div>
        <div class="row mt-20">
          <app-inputfield type="text" formControlName="curraddressline2" [required]="true" label="Address Line 2"
            placeholder="Address Line" helpText="Help text" name="curraddressline2">
          </app-inputfield>
        </div>
        <div class="row mt-20">
          <app-inputfield type="text" formControlName="curraddressline3" label="Address Line 3"
            placeholder="" helpText="Help text" name="curraddressline3">
          </app-inputfield>
        </div>
        <div class="row mt-20">
          <div class="col-lg-6 col-sm-12 ">
            <app-inputfield type="text" formControlName="currcountry" [required]="true" label="Country"
              placeholder="India" helpText="Help text" name="currcountry">
            </app-inputfield>
          </div>

          <div class="col-lg-6 col-sm-12 ">

            <app-inputfield type="text" formControlName="currstate" [required]="true" label="State" placeholder="State"
              helpText="Help text" name="currstate">
            </app-inputfield>

          </div>

          <div class="col-lg-6 col-sm-12 mt-20">
            <app-inputfield type="text" formControlName="currcity" [required]="true" label="City" placeholder="City"
              helpText="Help text" name="currcity">
            </app-inputfield>
          </div>
          <div class="col-lg-6 col-sm-12 mt-20">
            <app-inputfield type="text" formControlName="currpincode" [required]="true" label="Pincode"
              placeholder="Pincode" helpText="Help text" name="currpincode">
            </app-inputfield>
          </div>
        </div>
        <div class="mailcheck d-flex justify-content-start align-items-center loan-mt-4">
          <app-checkbox label="Is this the mailing address ?" formControlName="iscurrMailingAddress"
            [disabled]="true"></app-checkbox>
        </div>

      </div>
    </ng-template>

  </form>
</div>

<hr class="footer-hr-class">
<div class="loan-footerbtns row w-100  d-flex justify-content-between align-items-center">

  <div class="col-lg-4 ">
    <img src="../assets/images/icons/save.svg">
    <span class="text-dp-3-regular mx-2 blue-text"> Save and Exit</span>
  </div>
  <div class="col-lg-4  d-flex justify-content-end">
    <app-buttons type="button" label="Back" class="btn btncustomClass" [outline]="true" (click)="back()">
    </app-buttons>
    <app-buttons type="button" label="Next" class="btn btncustomClass" color="primary" (click)="next()"
     >
    </app-buttons>

  </div>
</div>