@use 'variables' as *;

.btncustomClass {
    width: 125px;
     border-radius: $border-radius-rounded;

}
.primary{
 background-color: $primary-btn;
   color: #fff;
 
}
.secondary {
    background-color: $secondary-btn;
      color: #fff;

}
.info{
 background-color: $info-btn;
   color: #fff;

}
.warning {
    background-color: $warning-btn;
      color: #fff;

}
.success{
 background-color: $success-btn;
   color: #fff;

}
.error {
    background-color: $error-btn;
      color: #fff;

}

.btn-icon {
   padding: 0;
   width: 170px;
  color: #fff;

}
.btn-label {
    color: #fff!important;
}

.btn-sidebar
{ 
    border: 1px solid;
  border-radius: 999px; }

  //charts

  .chart-container {
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: inline-block;
  min-width: 300px;
}