@use 'variables' as *;
@use 'typography' as *;
@use 'common' as *;


.dashboard {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #1e293b;

 @media (max-width: 768px) {
   gap: 0 ;
  }

    //alerts 
    .alerts {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;

        .alert {
            display: flex;
            padding: $spacing_5 $spacing_7;
            align-items: center;
            gap: $spacing_4;
            align-self: stretch;
            width: 100%;
            justify-content: space-between;

            .close {
                cursor: pointer;
                font-weight: bold;
            }
        }

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 0px;
        }
    }

    // search-bar
    .search-bar {
        padding: $spacing_9;
        flex-direction: column;
        align-items: flex-start;
        gap: $spacing_7;
        align-self: stretch;
        width: 100%;

        .search-title {
            padding: 0 0 $spacing_7 0;

        }

        .search-data {
            display: flex;
            gap: $spacing_7;
            flex-wrap: wrap;
        }

        .search-dropdown {
            width: 100%;
            max-width: 256px;
        }

        .search-input {
            // width: 100%;
            flex: 1;
            min-width: 150px;
        }

        .search-btn .btn {
            padding: 0;

        }

        .dashboard-search-btn ::ng-deep .btn-label {
            
            width: 100px;
        }

        @media (max-width: 768px) {
            .search-data {
                flex-direction: column;
                gap: $spacing_5;
            }

            .search-dropdown,
            .search-input {
                max-width: 100%;
            }
        }
    }


    //Main Grid Layout screen 3fr 1fr
    .dashboard-grid-main {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1rem;
        // padding: $spacing_9 0;


        @media (max-width: 1024px) {
            grid-template-columns: 2fr 1fr;
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            display: flex;
            flex-direction: column;
        }

        //quick-links 
        .quick-links {
            padding: $spacing_9;
            gap: $spacing_7;


            .clickable-card {
                display: flex;
                padding: $spacing_9;
                align-items: center;
                gap: $spacing_7;
                border-radius: $border_radius_m;
                background: $secondary-50;
                flex-direction: row;
                cursor: pointer;

                gap: 0.5rem;
                width: 100%;

                &:hover {
                    transform: translateY(-3px);
                    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
                }

                .card-content {
                    display: flex;
                    align-items: center;
                    gap: $spacing_7;
                    flex: 1;

                   
                }

                .card-text {
                    flex: 1;
                }

                .card-image {
                    display: flex;
                    width: 50px;
                    height: 50px;
                    padding: $spacing_4;
                    justify-content: center;
                    align-items: center;
                    gap: $spacing_4;

                    border-radius: $border_radius_s;
                    background: $bg;

                     @media (max-width: 480px) {
                         width: 35px;
                    height: 35px;
                      }
                }

                .card-title {
                    font-size: $font-size-body_lg ;
                    line-height: $spacing_6;
                    letter-spacing: 0.18px;

                    @media(max-width:768) {
                        line-height: 0.95rem;
                        letter-spacing: 1px;
                    }
                }

                .card-subtext {
                    font-size: $font-size-body_xs ;
                    line-height: $spacing_8;
                    letter-spacing: 0.12px;
                    color: $neutral-text-secondary ;
                }
            }

            @media (max-width: 768px) {
                .clickable-card {
                    // flex-direction: column;
                    align-items: flex-start;
                    gap: $spacing_5;
                }
            }
        }



    }

    // Smaller Grids
    .dashboard-grid,
    .dashboard-grid2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: $spacing_9 0;


        .card {
            background: $bg;
            border-radius: $spacing_4;
            padding: 1rem;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
            height: 100%;
        }
        .bar-chart{
            display: flex;
            justify-content: center;
        }

        .key-title,
        .donutchart-title {
            font-weight: 700;
        }

        .key-metrics {
            display: flex;
            padding: $spacing_9;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: $spacing_4;
            flex: 1 0 0;


            .text-dp-3-bold {
                margin-top: 10px;
                color: $secondary-900;
                margin-bottom: $spacing_9;

            }

            .text-body-2 {
                color: $success-text;
            }


            .divider {
                width: 100%; // 547px;
                height: 1px;
                background-color: $neutral-300;
            }

        }




        @media (max-width: 1280px) {
            grid-template-columns: 1fr;
        }

        @media (max-width: 768px) {
            display: block;

            .dashboard-grid,
            .dashboard-grid2 {
                padding: 1rem 0;
            }

            .card {
                margin: 0.5rem 0;
            }


        }
    }

    .dashboard-grid2 {
        padding: 0;
    }

    
}