<div class="dashboard main-content-feature">
    <!-- Header -->
    <div class="content-header">
        <div class="content-title text-dp-3-bold">
            Dashboard
        </div>
        <div class="user-info-breadcrumb">

            <div>
                <nav aria-label="breadcrumb" class="breadcrumb">
                    <ol class="breadcrumb-list">
                        <li class="breadcrumb-item text-common "><a routerLink="/home">Home</a></li>
                        <li class="breadcrumb-item active text-common " aria-current="page">Dashboard</li>
                    </ol>
                </nav>

        </div>
    </div>
    </div>



    <!-- Cards grid -->
    <div class="dashboard-grid-main">
        <!-- Left column -->
        <div class="left-col-main">
            <!-- Alerts -->
            <div class="alerts ">
                 <div *ngFor="let alert of alerts" class="alert commonbox text-common" [ngClass]="alert.type">
                    {{ alert.message }}
                    <!-- <span class="close">×</span> -->
                    <img src="/assets/images/icons/close.svg" alt="Clear" class="clear-icon"  />  <!-- (click)="" -->
                </div> 
            </div>

            <!-- Search -->
            <div class="search-bar commonbox">
                <div class="search-title text-common text-dp-2-bold">Search</div>
                 <div class="search-data text-common">
                    <div class="search-dropdown"><app-dropdown [options]="myOptions2"
                            [(selectedValue)]="selectedOption2" placeholder="All"
                            (selectedValueChange)="onSelectionChange2($event)">
                        </app-dropdown></div>
                    <div class="search-input"> <app-inputfield label="Input Label" placeholder="Search..."
                            helpText="Help text" [showSearch]="true" [showLabel]="false" [showHelpText]="false">
                        </app-inputfield></div>
                    <div class="search-btn">
                        <app-buttons label="Search" color="primary" class="btncustomClass "></app-buttons>
                    </div>

                </div> 
            </div>



            <div class="dashboard-grid">
                <!-- Left column  key matrics-->
                <div class="left-col">
                    <div class="card key-metrics">
                        <div class="text-common key-title">Key Metrics</div>
                        <div class="metrics">
                           <div *ngFor="let metric of keyMetrics;let last = last" class="metric">
                                
                                <div class="key-data">
                                   <div class="key-data1">
                                    <div class="label text-common ">{{ metric.label }}</div>
                                    <div class="value text-dp-3-bold">{{ metric.value }}</div>
                                    <div class="change text-body-2">{{ metric.change }}</div>
                                </div>
                                <img src="/assets/images/sidemenu/note.svg" alt="Message" class="key-card-image" />
                                </div>

                                <hr *ngIf="!last" class="divider" />
                            </div> 


                        </div>
                    </div>


                </div>
                <!-- Right column loan status -->
                <div class="right-col">

                    <div class="card">
                         <!-- <div class="text-common donutchart-title">Loan Status Distribution</div> -->
                        <div class="donut-chart">
                             <app-charts [title]="'Loan Status Distribution'" [data]="chartData1"></app-charts>

                        </div>
                    </div>
                </div>
            </div>


            <div class="dashboard-grid dashboard-grid2">
                <!-- Left column Monthly Application-->
                <div class="left-col">
                    <div class="card chart">
                        <div class="text-common key-title">Monthly Application</div>
                        <div class="bar-chart ">
                            <app-barcharts [title]="''" [labels]="monthLabels" [datasets]="barDatasets"
                                [width]="chartWidth" [height]="chartheight"></app-barcharts>

                        </div>
                    </div>


                </div>
                <!-- Right column Weekly Disbursement-->
                <div class="right-col">

                    <div class="card chart">
                       <div class="text-common key-title">Weekly Disbursement</div>
                        <div class="bar-chart ">
                         <app-areacharts [title]="''" [labels]="weekLabelsarea"
                                [datasets]="areaDatasetsarea" [width]="chartWidth" [height]="chartheight"></app-areacharts>
                    </div>
</div>
                </div>
            </div>

        </div>

        <!-- Right column Quick Links-->
        <div class="right-col-main">


            <div class="card quick-links commonbox">
                <div class="text-common text-dp-2-bold">Quick Links</div>
                <div class="clickable-card">
                    <div class="card-content">
                        <img src="/assets/images/sidemenu/money-recive.svg" alt="Message" class="card-image" />
                        <div class="card-text">
                            <div class="card-title text-common text-dp-2-bold">New Loan Application</div>
                            <div class="card-subtext text-common text-dp-3-regular">Start a new application process
                            </div>
                        </div>
                        <img src="/assets/images/icons/arrow-right.svg" alt="Arrow" class="card-arrow" />
                    </div>
                </div>

                <div class="clickable-card">
                    <div class="card-content">
                        <img src="/assets/images/icons/search-normal.svg" alt="Message" class="card-image" />
                        <div class="card-text">
                            <div class="card-title text-common text-dp-2-bold">New Loan Application</div>
                            <div class="card-subtext text-common text-dp-3-regular">Start a new application process
                            </div>
                        </div>
                        <img src="/assets/images/icons/arrow-right.svg" alt="Arrow" class="card-arrow" />
                    </div>
                </div>

                <div class="clickable-card">
                    <div class="card-content">
                        <img src="/assets/images/icons/diagram.svg" alt="Message" class="card-image" />
                        <div class="card-text">
                            <div class="card-title text-common text-dp-2-bold">New Loan Application</div>
                            <div class="card-subtext text-common text-dp-3-regular">Start a new application process
                            </div>
                        </div>
                        <img src="/assets/images/icons/arrow-right.svg" alt="Arrow" class="card-arrow" />
                    </div>
                </div>

            </div>
        </div>
    </div>

  
    
</div>