@use 'variables' as *;
@use 'typography' as *;
@use 'common' as *;


// 

.customer-details{
  border: $border_1 solid $neutral-300;
  border-radius: $spacing_5;
  flex: 1 1 auto;
  min-height: 0;
 
}
/* -------------edit download buttons------------------*/

::ng-deep app-buttons .btn.btn-outline {
  width: 170px;
  padding: $spacing_3 $spacing_5;
  justify-content: center;


}

@media(max-width:700px) {
  ::ng-deep app-buttons .btn.btn-outline {
    padding: 0.4rem;
    width: auto;
  }

}

::ng-deep app-buttons .btn.btn-outline .btn-label {

  color: $primary-500 !important;
}

.btn-no-padding {
  --bs-btn-padding-x: 0 !important;
  --bs-btn-padding-y: 0 !important;
  padding: 0 !important;
  /* just in case */
}

.primary {
  background-color: $primary-btn;
  color: #fff;

}

.secondary {
  background-color: $secondary-btn;
  color: #fff;
  min-width: 312px;

  @media (max-width: 480px) {

    min-width: 220px;
    padding: 0 !important;

  }

}


.back-button {
  margin-right: 10px;
}

// footer btns edit-download

.btncustomClass {
  width: 210px;
  padding: 0 $spacing_3;
  justify-content: center;

  @media (max-width: 480px) {
    font-size: 12px !important;
  }
}

.footer-btn {
  flex-shrink: 0;
  // padding: $spacing_9;
  // border-top: $border_1 solid $neutral-300;
  // background: $surface;
  margin-top: $spacing_8;

  @media (max-width: 768px) {
    padding: 16px;
  }

  @media (max-width: 480px) {
    padding: 12px;
  }
}

/*----------------Tab horizontal scroll--------------*/
::ng-deep .scrollable-tabs .mdc-tab.mat-mdc-tab {
  flex: 0 0 auto;         
  min-width: 220px;        
  padding: $spacing_11 $spacing_9;
  white-space: nowrap;

   @media (max-width: 768px) {
     min-width: 150px;
  }
  @media (max-width: 480px) {
     min-width: 100px;
  }
}
::ng-deep .scrollable-tabs .mat-mdc-tab-header {
  overflow-x: auto;        // horizontal scroll
  overflow-y: hidden;
 
}

::ng-deep .scrollable-tabs .mat-mdc-tab-body-wrapper {
  overflow: hidden;        // page content NOT scrollable
}






/* ---------------Tab Content Styles -----------*/

::ng-deep .mdc-tab.mat-mdc-tab {
  display: flex;
  padding: $spacing_11 $spacing_9;
  justify-content: center;
  align-items: center;
  gap: $spacing_4;
  border-bottom: $border_1 solid $neutral-300;
  background: $surface;

  font-family: $font-family-base;
  font-style: $font-weight-regular;
  color: $neutral-text-secondary;
  font-style: normal;
  font-size: $font-size-body_lg; 
  font-weight: 400;
  line-height: $spacing_11; 
  letter-spacing: 0.18px;
 

  &.mdc-tab.mat-mdc-tab.mat-focus-indicator.mdc-tab--active.mdc-tab-indicator--active {
    border-radius: $spacing_5;
    background: $bg;
  }

  &.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: red !important;
    font-weight: 700;
  }

  &.mat-mdc-tab.mdc-tab--active .mdc-tab-indicator__content--underline {
    border-color: red !important;
  }
}

.userdetails {

  height: 100vh;
  min-height: 500px;
  overflow-y: auto;
  // overflow-x: hidden; 

  @media (max-width: 768px) {
    height: calc(100vh - 200px);
  }

  @media (max-width: 480px) {
    height: calc(100vh - 180px);
  }
}






::ng-deep .mat-mdc-tab-labels {
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::ng-deep .mat-mdc-tab-labels::-webkit-scrollbar {
  display: none;
}

::ng-deep .mat-mdc-tab-label {
  flex: 0 0 auto;
  white-space: nowrap;
}





.icons {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icons img {
  width: $spacing_11;
  height: $spacing_11;
  cursor: pointer;
}



///---------------------------- credit score tab-------


//////////////////////////////////////////////////////////////////////

/*--------------------assets and liabilities----------------------*/


//////////////////////////////////////////////////////////////////////

/*--------------------Monthly Expenditure----------------------*/


//////////////////////////////////////////////////////////////////////

/*--------------------Estimated Expense----------------------*/



//////////////////////////////////////////////////////////////////////

/*--------------------co- applicant---------------------*/


//-----------------------------------------

.footer-submit-btn {
  padding-top: 20px;
  padding-bottom: 32px;
}


