<div class="base-layout" [ngClass]="{'coapplicant-layout': isCoApplicant}">

 <div class="header w-100"  >
            <div class="d-flex justify-content-between">
                <div class="text-datepicker blue-text d-flex flex-column gap-2 ">Additional Information
                    <div class="text-body-1 fw-normal" *ngIf="!isFromSummary">
                        <span ><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"
                                fill="none">
                                <path
                                    d="M10.9997 20.1667C16.0413 20.1667 20.1663 16.0417 20.1663 11C20.1663 5.95833 16.0413 1.83333 10.9997 1.83333C5.95801 1.83333 1.83301 5.95833 1.83301 11C1.83301 16.0417 5.95801 20.1667 10.9997 20.1667Z"
                                    stroke="#25262F" stroke-width="1.28125" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M11 7.33333V11.9167" stroke="#25262F" stroke-width="1.28125" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M10.9961 14.6667H11.0043" stroke="#25262F" stroke-width="1.28125"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg></span>
                        Click the “Next” button to save your changes
                    </div>
                </div>

                <div>
                    <app-buttons
                        *ngIf="isFromSummary && !isEditMode"
                        type="button"
                        label="Edit"
                        class="btn btn-icon edit btncustomClass editBtnClass"
                        color="primary"
                        (click)="enableForm()"
                        [disabled]="!isViewMode" [ngClass]="{'disabled-div' : !isViewMode}">
                        <img src="assets/images/icons/edit-white.svg" alt="edit">
                    </app-buttons>
                </div>
            </div>
        </div>


<div class="accordion d-flex flex-column gap-4 mb-4">

    <div class="accordion-item b-0" *ngFor="let acc of accordions; let i = index">

        <h2 class="accordion-header">
            <button class="accordion-button table-head" [class.collapsed]="openIndex !== i" type="button"
                (click)="toggle(i)">
                {{ acc.title }}
            </button>
        </h2>

        <div class="accordion-collapse collapse" [class.show]="openIndex === i">

            <div class="accordion-body p-0" *ngIf="openIndex === i">

                <ng-container *ngIf="i === 0">
                    <ng-container *ngTemplateOutlet="identityTemplate; context:{index:i}">
                    </ng-container>
                </ng-container>

            </div>
        </div>

    </div>

</div>

<ng-template #identityTemplate let-i="index">

    <form [formGroup]="additionalinfoForm" (ngSubmit)="submit()" class="common-details-box d-flex flex-column">

        <div class=" container-fluid">
            <div class="row">

                <div class="col-lg-4 col-sm-12 ">
                    <div class="dropdown-label1 all-label ">Gender<span class="text-danger">*</span></div>
                    <div class="d-flex flex-row">
                        <app-radiobuttons name="optionsGroup" (checkedChange)="gendercheck('Male')" label="Male"
                            value="Male" formControlName="gender"  [disabled]="isViewMode">
                        </app-radiobuttons>


                        <app-radiobuttons name="optionsGroup" (checkedChange)="gendercheck('Female')" label="Female"
                            value="Female" formControlName="gender"  [disabled]="isViewMode">
                        </app-radiobuttons>

                        <app-radiobuttons name="optionsGroup" (checkedChange)="gendercheck('Third')"
                            label="Third Gender" value="Third Gender" formControlName="gender"  [disabled]="isViewMode">
                        </app-radiobuttons>
                    </div>

                </div>

                <div class="col-lg-4 col-sm-12 ">
                    <app-dropdown [options]="marital_status" [placeholder]="maritalstatus"
                        formControlName="maritalstatus" [required]="true"
                        (selectedValueChange)="additionalinfoForm.get('maritalstatus')?.setValue($event)"
                        [avatarUrl]="avatarUrl" [hasAvatar]="hasAvatar" [label]="maritalstatus"  [disabled]="isViewMode">
                    </app-dropdown>



                </div>
                <div class="col-lg-4 col-sm-12 ">
                    @if (hasLocalFile('applicantphoto')) {
                    <label class="text-label">
                        Upload Applicant Photo<span class="text-danger">*</span>
                    </label>

                    <div class="addcust-img-box mt-2" [ngClass]="{'disabled-div' : isViewMode}">
                        <p class="text-label">{{ getLocalFileName('applicantphoto') }}</p>

                        <div class="icons">
                            <span class="view" (click)="viewLocalFile('applicantphoto')">
                                <img src="/assets/images/icons/eyered.svg" alt="view">
                            </span>

                            <span class="download" (click)="downloadLocalFile('applicantphoto')">
                                <img src="/assets/images/icons/import-red.svg" alt="Download">
                            </span>

                            <span class="delete" (click)="deleteLocalFile('applicantphoto')">
                                <img src="/assets/images/icons/close.svg" alt="Delete">
                            </span>
                        </div>
                    </div>
                    } @else {
                    <app-uploadbtn [config]="basicConfig" (fileChange)="onFileChange($event, 'applicantphoto')" [disabled]="isViewMode"
                        label="Upload Applicant Photo">
                    </app-uploadbtn>
                    }

                    <!-- <app-uploadbtn [config]="basicConfig" formControlName="uploadphoto"
                        (fileChange)="onFileChange($event, 'applicantphoto')" label="Upload Applicant Photo">
                    </app-uploadbtn> -->

                </div>



                <div class="col-lg-4 col-sm-12 mt-20">


                    <app-inputfield formControlName="dependents" label="Number Of Dependents" [required]="true"
                        placeholder="Number Of Dependents" (input)="main.restrictInput($event, 'number')"
                        [maxlength]="1">
                    </app-inputfield>
                    <div class="text-danger" *ngIf="f['dependents'].touched && f['dependents'].invalid">

                        <div *ngIf="f['dependents'].errors?.['required']">
                            Dependents is required
                        </div>

                        <div *ngIf="f['dependents'].errors?.['pattern']">
                            Only numbers are allowed
                        </div>

                        <div *ngIf="f['dependents'].errors?.['min']">
                            Minimum 0 dependent required
                        </div>

                        <div *ngIf="f['dependents'].errors?.['max']">
                            Maximum 9 dependents allowed
                        </div>

                    </div>
                </div>

                @if(additionalinfoForm.get('maritalstatus')?.value == 'Married'){
                <div class="text-label fw-bold mt-20">Spouse Name</div>

                <div class="col-lg-4 col-sm-12 mt-20">
                    <app-inputfield formControlName="s_fname" label="First Name" [required]="true"
                        placeholder="First Name" (input)="main.restrictInput($event, 'text')" [maxlength]="25">
                    </app-inputfield>
                    <div class="text-danger" *ngIf="f['s_fname'].touched && f['s_fname'].invalid">

                        <div *ngIf="f['s_fname'].errors?.['required']">
                            First name is required
                        </div>

                        <div *ngIf="f['s_fname'].errors?.['pattern']">
                            Only alphabets are allowed
                        </div>

                        <div *ngIf="f['s_fname'].errors?.['minlength']">
                            Minimum 2 characters required
                        </div>

                        <div *ngIf="f['s_fname'].errors?.['maxlength']">
                            Maximum 25 characters allowed
                        </div>

                    </div>
                </div>


                <div class="col-lg-4 col-sm-12 mt-20">
                    <app-inputfield formControlName="s_mname" label="Middle Name" placeholder="Middle Name"
                        (input)="main.restrictInput($event, 'text')" [disabled]="isspousemiddlename" [maxlength]="25">
                    </app-inputfield>
                    <div class="text-danger" *ngIf="f['s_mname'].touched && f['s_mname'].invalid">

                        <div *ngIf="f['s_mname'].errors?.['minlength']">
                            Minimum 2 characters required
                        </div>

                        <div *ngIf="f['s_mname'].errors?.['maxlength']">
                            Maximum 25 characters allowed
                        </div>

                    </div>

                    <app-checkbox [checked]="isspousemiddlename" [indeterminate]="false" 
                        label="I don’t have middle name" (checkedChange)="onmiddlename($event)" [ngClass]="{'disabled-div' : isViewMode}">
                    </app-checkbox>
                    <div class="text-danger mt-1" *ngIf="
       additionalinfoForm.get('maritalstatus')?.value === 'Married' &&
       !isspousemiddlename && submitAttempted &&
       !f['s_mname'].value
     ">
                        Please enter Middle Name or select the checkbox.
                    </div>
                </div>


                <div class="col-lg-4 col-sm-12 mt-20">
                    <app-inputfield formControlName="s_lname" label="Last Name" [required]="true"
                        placeholder="Last Name" (input)="main.restrictInput($event, 'text')" [maxlength]="25">
                    </app-inputfield>
                    <div class="text-danger" *ngIf="f['s_lname'].touched && f['s_lname'].invalid">

                        <div *ngIf="f['s_lname'].errors?.['required']">
                            Last name is required
                        </div>

                        <div *ngIf="f['s_lname'].errors?.['pattern']">
                            Only alphabets are allowed
                        </div>

                        <div *ngIf="f['s_lname'].errors?.['minlength']">
                            Minimum 2 characters required
                        </div>

                        <div *ngIf="f['s_lname'].errors?.['maxlength']">
                            Maximum 25 characters allowed
                        </div>

                    </div>
                </div>
                }
                <!-- Father  Name -->
                <div class="text-label fw-bold mt-20">Father Name</div>

                <div class="col-lg-4 col-sm-12 mt-20">
                    <app-inputfield formControlName="f_fname" label="First Name" [required]="true"
                        placeholder="First Name" (input)="main.restrictInput($event, 'text')" [maxlength]="25">
                    </app-inputfield>
                    <div class="text-danger" *ngIf="f['f_fname'].touched && f['f_fname'].invalid">

                        <div *ngIf="f['f_fname'].errors?.['required']">
                            First name is required
                        </div>

                        <div *ngIf="f['f_fname'].errors?.['pattern']">
                            Only alphabets are allowed
                        </div>

                        <div *ngIf="f['f_fname'].errors?.['minlength']">
                            Minimum 2 characters required
                        </div>

                        <div *ngIf="f['f_fname'].errors?.['maxlength']">
                            Maximum 25 characters allowed
                        </div>

                    </div>
                </div>


                <div class="col-lg-4 col-sm-12 mt-20">
                    <app-inputfield formControlName="f_mname" label="Middle Name" placeholder="Middle Name"
                        (input)="main.restrictInput($event, 'text')" [disabled]="isfathermiddlename" [maxlength]="25">
                    </app-inputfield>
                    <div class="text-danger" *ngIf="f['f_mname'].touched && f['f_mname'].invalid">

                        <div *ngIf="f['f_mname'].errors?.['minlength']">
                            Minimum 2 characters required
                        </div>

                        <div *ngIf="f['f_mname'].errors?.['maxlength']">
                            Maximum 25 characters allowed
                        </div>

                    </div>

                    <app-checkbox [checked]="isfathermiddlename" [indeterminate]="false"
                        label="I don’t have middle name" (checkedChange)="onfathermiddlename($event)" [ngClass]="{'disabled-div' : isViewMode}">
                    </app-checkbox>
                    <div class="text-danger mt-1" *ngIf="!isfathermiddlename && submitAttempted && !f['f_mname'].value">
                        Please enter Middle Name or select the checkbox.
                    </div>

                </div>


                <div class="col-lg-4 col-sm-12 mt-20">
                    <app-inputfield formControlName="f_lname" label="Last Name" [required]="true"
                        placeholder="Last Name" (input)="main.restrictInput($event, 'text')" [maxlength]="25">
                    </app-inputfield>
                    <div class="text-danger" *ngIf="f['f_lname'].touched && f['f_lname'].invalid">

                        <div *ngIf="f['f_lname'].errors?.['required']">
                            Last name is required
                        </div>

                        <div *ngIf="f['f_lname'].errors?.['pattern']">
                            Only alphabets are allowed
                        </div>

                        <div *ngIf="f['f_lname'].errors?.['minlength']">
                            Minimum 2 characters required
                        </div>

                        <div *ngIf="f['f_lname'].errors?.['maxlength']">
                            Maximum 25 characters allowed
                        </div>

                    </div>
                </div>

                <!-- Mother Name -->
                <div class="text-label fw-bold mt-20">Mother Name</div>


                <div class="col-lg-4 col-sm-12 mt-20">
                    <app-inputfield formControlName="m_fname" label="First Name" [required]="true"
                        placeholder="First Name" (input)="main.restrictInput($event, 'text')" [maxlength]="25">
                    </app-inputfield>
                    <div class="text-danger" *ngIf="f['m_fname'].touched && f['m_fname'].invalid">

                        <div *ngIf="f['m_fname'].errors?.['required']">
                            First name is required
                        </div>

                        <div *ngIf="f['m_fname'].errors?.['pattern']">
                            Only alphabets are allowed
                        </div>

                        <div *ngIf="f['m_fname'].errors?.['minlength']">
                            Minimum 2 characters required
                        </div>

                        <div *ngIf="f['m_fname'].errors?.['maxlength']">
                            Maximum 25 characters allowed
                        </div>

                    </div>
                </div>


                <div class="col-lg-4 col-sm-12 mt-20">
                    <app-inputfield formControlName="m_mname" label="Middle Name" placeholder="Middle Name"
                        (input)="main.restrictInput($event, 'text')" [disabled]="ismothermiddlename" [maxlength]="25">
                    </app-inputfield>
                    <div class="text-danger" *ngIf="f['m_mname'].touched && f['m_mname'].invalid">

                        <div *ngIf="f['m_mname'].errors?.['minlength']">
                            Minimum 2 characters required
                        </div>

                        <div *ngIf="f['m_mname'].errors?.['maxlength']">
                            Maximum 25 characters allowed
                        </div>

                    </div>
                    <app-checkbox [checked]="ismothermiddlename" [indeterminate]="false"
                        label="I don’t have middle name" (checkedChange)="onmothermiddlename($event)" [ngClass]="{'disabled-div' : isViewMode}">
                    </app-checkbox>
                    <div class="text-danger mt-1" *ngIf="!ismothermiddlename && submitAttempted && !f['m_mname'].value">
                        Please enter Middle Name or select the checkbox.
                    </div>
                </div>


                <div class="col-lg-4 col-sm-12 mt-20">
                    <app-inputfield formControlName="m_lname" label="Last Name" [required]="true"
                        placeholder="Last Name" (input)="main.restrictInput($event, 'text')" [maxlength]="25">
                    </app-inputfield>
                    <div class="text-danger" *ngIf="f['m_lname'].touched && f['m_lname'].invalid">

                        <div *ngIf="f['m_lname'].errors?.['required']">
                            First name is required
                        </div>

                        <div *ngIf="f['m_lname'].errors?.['pattern']">
                            Only alphabets are allowed
                        </div>

                        <div *ngIf="f['m_lname'].errors?.['minlength']">
                            Minimum 2 characters required
                        </div>

                        <div *ngIf="f['m_lname'].errors?.['maxlength']">
                            Maximum 25 characters allowed
                        </div>

                    </div>
                </div>




            </div>
        </div>



    </form>

</ng-template>

</div>
<hr class="footer-hr-class">
<div class="loan-footerbtns row w-100  d-flex justify-content-between align-items-center">


    <!-- Normal flow footer -->
    <ng-container *ngIf="!isFromSummary">

    <div class="col-lg-4 pointer">
        <img src="../assets/images/icons/save.svg">
        <span class="text-dp-3-regular mx-2 blue-text " (click)="saveExit()"> Save and Exit</span>
    </div>
    <div class="col-lg-4  d-flex justify-content-end">
        <app-buttons type="button" label="Back" class="btn btncustomClass" [outline]="true" (click)="back()">
        </app-buttons>
        <app-buttons type="button" label="Next" class="btn btncustomClass" color="primary" (click)="next()"
            [disabled]="!canProceed && !submitAttempted" [ngClass]="{'disabled-div' : !canProceed && !submitAttempted}">
        </app-buttons>
       

    </div>
    </ng-container>
    
  <ng-container *ngIf="isFromSummary && isEditMode">
    <div class="col-lg-12 d-flex justify-content-end gap-2"  >

      <app-buttons
        type="button"
        label="Cancel"
        class="btn btncustomClass"
        [outline]="true"
        (click)="cancelSummaryEdit()">
      </app-buttons>

      <app-buttons
       
        type="button"
        label="Save"
        class="btn btncustomClass"
        color="primary"
        (click)="saveSummaryEdit()"
        [disabled]="!canProceed && !submitAttempted" [ngClass]="{'disabled-div' : !canProceed && !submitAttempted}"
        >
      </app-buttons>

    </div>
  </ng-container>

</div>

<div class="edit-success-modal" *ngIf="editSuccess">
    <div class="edit-modal-overlay"></div>

    <div class="edit-modal-container">
      <button class="edit-close-btn" (click)="onCancel()">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <path d="M3 3L15 15L3 3Z" fill="#F4F6FF" />
          <path d="M3 3L15 15" stroke="#F4F6FF" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M3 15L15 3" stroke="#F4F6FF" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round" />
        </svg></button>

      <app-successbox [title]="description1"
        [buttons]="[
            { label: 'OK', action: 'OK', outline: false, color: 'primary',class: 'btncustomClass w-50'  },
        ]" (actionClick)="handleSuccessAction($event)"
    >
    </app-successbox>

    </div>
</div>