@use 'variables' as *;
@use 'typography' as *;
@use 'common' as *;

.horizontal-stepper {
  display: flex;
  border-radius: 12px;
  border: 1px solid $neutral-300;
  // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

.stepper .step:first-child {
  border-bottom-left-radius: 12px;
}

/* LAST STEP */
.stepper .step:last-child {
  border-bottom-right-radius: 12px;
}

.step-body {
  display: flex;
 
}

.step-body.border-none {
  border: none;
}


.step {
  flex: 1;
  display: flex;
  padding: $spacing_9;
  align-items: center;
  gap: $spacing_4;
  cursor: pointer;
  position: relative;
}



.step.active {
  font-weight: 700;
  border-bottom: 3px solid $secondary_border_4;
  background: $bg;

  .step-content {
    color: $secondary-900;
    font-weight: 700;
  }
}

.step.completed {
  font-weight: 700;
  border-bottom: 3px solid $secondary-700;
  background: $secondary-50;
  cursor: pointer;
  pointer-events: auto;

  .step-content {
    color: $secondary-900;
    font-weight: 700;
  }

  &:first-child {
    border-radius: 12px 0 0 12px;
  }

  &:last-child {
    border-radius: 0 12px 12px 0;
  }
}


.step.upcoming,
.step.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
  background: #fff;

  .step-content {
    color: $neutral-text-secondary;
    font-weight: 400;
  }
}

.step-content {
  display: flex;
  flex-direction: column;
  gap: $spacing_2;
  color: $neutral-text-secondary;
}

.step-title {
  color: $secondary-text-dark;
}