<div class="vh-container">

    <div class="base-layout base-height" *ngIf="!isChildActive">

        <div class="header w-100">

            <div class="text-datepicker blue-text d-flex flex-column gap-data ">Co-Applicant
                <div class="text-label-data fw-normal fst-italic">

                    You currently have no co-applicants. Minimum 1 co-applicant is mandatory to complete your
                    application. You can add more as well. Co-applicants ensures your financial capability to repay the
                    loan.
                </div>
                <!-- Co-applicant list -->
                <div class="container-fluid">
                    <div class="row coapplicant-grid" *ngIf="coApplicants.length > 0">

                        <div class="coapp mb-3" *ngFor="let coapp of coApplicants; let i = index"
                            [ngClass]="coApplicants.length === 1 ? 'col-12' : 'col-lg-12 col-md-12 col-sm-12'">
                            <div class="coapp-card d-flex align-items-center w-100">

                                <div class="coapp-name d-flex flex-column gap-2">
                                    <div class="text-dp-3-regular fw-bold">
                                        {{ coapp.name || 'Co-Applicant ' + coapp.index }}
                                    </div>
                                    <div class="text-body-1">
                                        Co-Applicant {{ coapp.index }}
                                    </div>
                                </div>

                                <div class="coapp-icons d-flex gap-3 align-items-center ms-auto">
                                    <!-- <div class="div"> -->
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                viewBox="0 0 32 32" fill="none">
                                                <path
                                                    d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z"
                                                    fill="#3B8439" />
                                            </svg>
                                        </span>

                                        <span class="delete-icon" (click)="deleteCoApplicant(coapp.index,$event)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                viewBox="0 0 32 32" fill="none">
                                                <path
                                                    d="M21 5.98047C17.67 5.65047 14.32 5.48047 10.98 5.48047C9 5.48047 7.02 5.58047 5.04 5.78047L3 5.98047"
                                                    stroke="#25262F" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M8.5 4.97L8.72 3.66C8.88 2.71 9 2 10.69 2H13.31C15 2 15.13 2.75 15.28 3.67L15.5 4.97"
                                                    stroke="#25262F" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M18.8484 9.14062L18.1984 19.2106C18.0884 20.7806 17.9984 22.0006 15.2084 22.0006H8.78844C5.99844 22.0006 5.90844 20.7806 5.79844 19.2106L5.14844 9.14062"
                                                    stroke="#25262F" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path d="M10.3281 16.5H13.6581" stroke="#25262F" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M9.5 12.5H14.5" stroke="#25262F" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </span>
                                    <!-- </div> -->

                                    <span class="cursor-pointer" (click)="openCoApplicant(coapp.index); $event.stopPropagation()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none">
                                            <path
                                                d="M8.91016 19.92L15.4302 13.4C16.2002 12.63 16.2002 11.37 15.4302 10.6L8.91016 4.07999"
                                                stroke="#25262F" stroke-width="1.5" stroke-miterlimit="10"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </span>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div>
                    <app-buttons type="button" label="Add " class="btn btncustomClass p-0" [outline]="true"
                        (click)="add()" [disabled]="coApplicants.length >= 4">
                        <img src="/assets/images/icons/addred.svg">
                    </app-buttons>

                </div>


            </div>

        </div>



    </div>
    <router-outlet (activate)="onChildActivate()" (deactivate)="onChildDeactivate()"></router-outlet>
    <div *ngIf="!isChildActive">
        <hr class="footer-hr-class" *ngIf="!isChildActive">
        <div class="loan-footerbtns row w-100  d-flex justify-content-between align-items-center">

            <div class="col-lg-4 ">
                <img src="../assets/images/icons/save.svg">
                <span class="text-dp-3-regular mx-2 blue-text"> Save and Exit</span>
            </div>
            <div class="col-lg-4  d-flex justify-content-end">
                <app-buttons type="button" label="Back" class="btn btncustomClass" [outline]="true" (click)="back()">
                </app-buttons>
                <app-buttons type="button" label="Next" class="btn btncustomClass" color="primary" (click)=" next()"
                    [disabled]="!hasAtLeastOneCoApplicant">
                </app-buttons>
                <!-- [disabled]="coApplicants.length < 1" -->
            </div>
        </div>
    </div>
</div>