<!-- components/bar-chart/bar-chart.component.html -->
<div class="chart-container ">
  <div class="chart-title">{{ title }}</div>
  
  <svg [attr.width]="width" [attr.height]="height">
    <!-- Y-axis grid lines -->
    <g *ngFor="let tick of getYAxisTicks()" class="grid-line">
      <line
        x1="50"
        [attr.y1]="getYPosition(tick)"
        [attr.x2]="width - 20"
        [attr.y2]="getYPosition(tick)"
        stroke="#e1e1e1"
        stroke-width="2"
      />
      <text
        x="45"
        [attr.y]="getYPosition(tick) + 4"
        text-anchor="end"
        class="axis-label"
      >
        {{ tick }}
      </text>
    </g>

    <!-- Bars -->
    <g *ngFor="let bar of bars">
    
<path
  *ngIf="(bar.width > 0 && bar.orientation === 'horizontal') || (bar.height > 0 && bar.orientation === 'vertical')"
  [attr.d]="
    bar.orientation === 'horizontal'
    ?   'M' + bar.x + ',' + bar.y +               
        ' h' + (bar.width - 10) +
        ' a10,10 0 0 1 10,10' +
        ' v' + (bar.height - 20) +
        ' a10,10 0 0 1 -10,10' +
        ' h' + (-bar.width + 10) +
        ' z'
    :   'M' + bar.x + ',' + (bar.y + bar.height) + 
        ' v' + (-bar.height + 10) +
        ' a10,10 0 0 1 10,-10 h' + (bar.width - 20) +
        ' a10,10 0 0 1 10,10 v' + (bar.height - 10) + ' z'
  "
  [attr.fill]="bar.color"
/>

    </g>

    <!-- X-axis labels -->
    <g *ngFor="let label of labels; let i = index">
      <text
        [attr.x]="60 + i * ((width - 80) / labels.length) + ((width - 80) / labels.length) / 2"
        [attr.y]="height - 15"
        text-anchor="middle"
        class="axis-label"
      >
        {{ label }}
      </text>
    </g>
  </svg>
</div>