@use './variables' as *;
@use './typography' as *;


.main-content-feature {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #1e293b;

  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center; //baseline center
    flex-wrap: wrap;
    gap: 0.5rem;
    text-align: center;
    margin-bottom: 0.5rem;

    .content-title {
      font-weight: 400;
    }

    @media (max-width: 768px) {
      // display: block;

    }
  }

}

 @media (max-width: 768px) {
      
      .text-dp-3-bold {
        font-size: 1.5rem;
        text-align: left;
      }
      .user-info-breadcrumb {
        display: none;
      }
    }

.content-footer {
  display: flex;
  height: 5vh;
  flex-direction: column;
  align-items: center;
  color: $neutral-text-primary;
  padding: $spacing_7 ;

  p {
     font-size: 18px ;
  }

  @media (max-width: 768px){
     p {
    font-size: 16px !important;
  }
}
  @media (max-width: 480px){
     p {
    font-size: 10px !important;
  }
  }
}

//breadcrum
.breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}

.breadcrumb-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.breadcrumb-item a {
  text-decoration: none;
  font-size: $font-size-body_lg;
  line-height: 20px;
}

.breadcrumb-item.active {
  font-weight: 700;


}

//common box
.commonbox {
  border-radius: $border_radius_m;
  border: $border_1 solid $neutral-300;
  background: $bg, ;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

//card keu metrics

.metrics {
  width: 100%;
  gap: $spacing_4;
  display: flex;
  flex-direction: column;
}

.metric {
  width: 100%; //538.5px;
  justify-content: space-between;
  align-items: center;
  border-radius: $spacing_5;
  background: $bg;

}

.key-card-image {
  width: $spacing_23;
  height: $spacing_23;
  padding: $spacing_8;
  border-radius: $spacing_23;
  background: $secondary-50;

  @media (max-width: 540px) {
   width: $spacing_21;
  height: $spacing_21;
    
  }
}

.divider {
  width: 100%; // 547px;
  height: 1px;
  background-color: $neutral-300;
  margin: 0.5rem 0;
}

.key-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//table styling

.mat-mdc-table {
  background-color: $bg !important;
}

/* Table header row */
.mat-mdc-header-row {
  background-color: $secondary-50 ;
  border: none !important;

}

.mat-mdc-cell {
  border-bottom-color: $neutral_border_2 !important;

}

.mat-header-label {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: 700 !important;
  font-size: $font-size-body_lg; //18px
  line-height: $spacing_11; //24px
  letter-spacing: 0.18px;
  padding: $spacing_11 $spacing_9 !important;
  border: none !important;
}

.mat-content-td {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: 500 !important;
  font-size: $font-size-body_lg; //18px
  line-height: $spacing_11; //24px
  letter-spacing: 0.18px;
  padding: $spacing_11 $spacing_9 !important;

}


///btns colors by their status
 .status {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 16px;
  font-weight: 500;
  text-align: center;
  min-width: 100px;
}

/* Completed / Verified / active */
.Completed, .activestatus {
  background-color: $success-100;
  color: $success-text-dark
}

/* Pending */
.Pending {
  background-color:$warning-container;
  color: #9B4800; /* brownish text */
}
/* Document Issue */
.document-Issue {
  background-color:$error-container;
  color: $error-text-dark;
}


/* in active */
.inactive {
  background-color:$warning-container;
  color: $warning-text-dark; /* brownish text */
}


/* Audit Trail Styles */
.audit-trail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing_9;
  gap: $spacing_6!important;
  @media (max-width: 768x) {
    
    gap: $spacing_6!important;
  }

   @media (max-width: 480px) {
    flex-direction: column;
    gap: $spacing_6;
  }
}

.audit-search-input {
  width: 50%;
   min-width: 350px;
  padding: $spacing_3, $spacing_12, $spacing_3, $spacing_4;
  border: $border_1 solid $neutral-300;
  border-radius: $spacing_2;
  font-size:  22px;
  outline: none;
  transition: border-color 0.2s;

  &:focus {
    border-color: $primary-500;
  }

  &::placeholder {
    color: #999;
  }

   @media (max-width: 950px) {
     min-width: 200px;
    width: 100%;
  }
}


.audit-action-dropdow {
  min-width: 350px;

   @media (max-width: 950px) {
     min-width: 20px;
    width: 100%;
  }
  @media (max-width: 480px) {
    width: 100%;
  }
}


/* Timeline Styles */
.audit-trail-timeline {
  margin-top: $spacing_12;
   display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1rem;
        flex-direction: column;
}

.audit-timeline-section {
 display: flex;
flex-direction: column;
gap: $spacing_7;
align-self: stretch;
}

.audit-timeline-section-header {
  // margin-bottom: $spacing_9;
}

.audit-timeline-section-title {
  color: $secondary-700;
  font-size: 20px;
}

.audit-timeline-item {
  display: flex;
  gap: $spacing_7;
 
  
}

.audit-timeline-date {
  display: flex;
  flex-direction: column;
  align-items: center;
 gap:$spacing;
align-self: stretch;
}


/* Timeline Styles */
.audit-trail-timeline {
  margin-top: $spacing_12;
   display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1rem;
        flex-direction: column;
}

.audit-timeline-section {
 display: flex;
flex-direction: column;
gap: $spacing_7;
align-self: stretch;
}

.audit-timeline-section-header {
  // margin-bottom: $spacing_9;
}

.audit-timeline-section-title {
  color: $secondary-700;
  font-size: 20px;
}

.audit-timeline-item {
  display: flex;
  gap: $spacing_7;
 
  
}

.audit-timeline-date {
  display: flex;
  flex-direction: column;
  align-items: center;
 gap:$spacing;
align-self: stretch;
}

.audit-date-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $secondary-700;
  border-radius: $spacing_11;
  color: $neutral-text-tertiary;
width: 40px;
height: 40px;
padding: 5px 6px;
gap: 10px;
aspect-ratio: 1/1;
}


.audit-timeline-line {
  width: 5px; 
  flex: 1;
  background: $secondary-700;
  border-radius: $spacing_3;
}

.audit-timeline-line-hr {
  width: 15px;
  height: 5px;
  background: $secondary-700;
   flex-shrink: 0;
  align-self: center;
  position: relative;
  top: -28px;
 border-radius: $spacing_3;
}
.audit-timeline-content {
  flex: 1;
  // padding-bottom: $spacing_4;
}

.audit-timeline-card {
  background: $bg;
  border: $border_1 solid $neutral-300;
  border-radius: $spacing_3;
  padding: $spacing_9;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}

.audit-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing_3;
  gap: $spacing_4;

  @media (max-width: 480px) {
    flex-direction: row;
    align-items: center;
  }
}

.audit-card-time {
 letter-spacing: 0.16px;
 color: $neutral-600;
}

.audit-status-badge {
  font-weight: 500;
 
}

.status-pending {
 border-radius: $spacing_15;
background: $warning-container;
display: flex;
padding:$spacing $spacing_7;
align-items: center;
color: $warning-text-dark;
}

.status-submitted {
  background: $success-container;
  color: $success-text-dark;
  border-radius: $spacing_15;
  padding:$spacing $spacing_7;
}

.status-approved {
  background: #DBEAFE;
  color: #1E40AF;
  border-radius: $spacing_15;
  padding:$spacing $spacing_7;
}

.status-rejected {
  background: #FEE2E2;
  color: #991B1B;
  border-radius: $spacing_15;
  padding:$spacing $spacing_7;
}

.audit-card-body {
  display: flex;
  flex-direction: column;
  gap:  $spacing_5;
}

.audit-card-title {
  color: $neutral-text-primary;
  font-weight: 500;
}

.audit-card-subtitle {
  color: $neutral-600;
  
}

.audit-no-results {
  text-align: center;
  padding: $spacing_16;
  color: #999;
}
//kyc details png img box
.img-box {
  display: flex;
  padding: $spacing_7;
  justify-content: space-between;
  align-items: baseline;
  align-self: stretch;
  border-radius: 0.625rem;
  background: #F5F5F5;

  @media (max-width: 480px) {
    padding: $spacing_4;

  }
}
//tabs customers and los details


/* ---------------Tab Content Styles -----------*/

 ::ng-deep .mdc-tab.mat-mdc-tab {
  display: flex;
  padding: $spacing_11 $spacing_9;
  justify-content: center;
  align-items: center;
  gap: $spacing_4;
  flex: 1 0 0;
  border-bottom: $border_1 solid $neutral-300;
  background: $surface;

  &.mdc-tab.mat-mdc-tab.mat-focus-indicator.mdc-tab--active.mdc-tab-indicator--active {
    border-radius: $spacing_5;
    background: $bg;
  }

  &.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: red !important;
  }

  &.mat-mdc-tab.mdc-tab--active .mdc-tab-indicator__content--underline {
    border-color: red !important;
  }
}



.tabs {
  // border: $border_1 solid $neutral-300;
  border-radius: $spacing_5 0;
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tabs .mat-tab-header {
  flex-shrink: 0;
}

.tabs .mat-tab-body-wrapper {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0
}

.tab-container {
  display: flex;
  flex-direction: column;
  // flex: 1 1 auto;
  min-height: 0;
  overflow: hidden;

}

.tab-content {
  display: block;
  min-height: 100%;
  height: auto;
  padding: 0 $spacing_9;
  // padding-bottom: $spacing_15;

  @media (max-width: 768px) {
    padding: 16px;
    padding-bottom: 24px;
  }

  @media (max-width: 480px) {
    padding: 12px;
    padding-bottom: 20px;
  }
}


.section {
  // display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: $spacing_10;
  align-self: stretch;
  
  &:last-child {
    // margin-bottom: 0;
  }

  @media (max-width: 800px) {
    margin-bottom: 24px;
    // padding-top: $spacing_7;
  }
}


.section-title {
  display: flex;
  align-items: center;
  gap: $spacing_11;
  font-weight: 400;
  margin: $spacing_15 0;

  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    gap: 0;
    font-size: $spacing_12;
    margin: 0.5rem 0;
  }
}

.section-status {
  color: #9B4800;
  border-radius: 32px;
  background: $warning-container;
  padding: $spacing $spacing_7;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.16px;
}



.info-item-img {

  display: flex;
  height: $spacing_25;
  flex-direction: column;
  gap: $spacing_2;

  @media (max-width: 480px) {
    // height: 4rem;

  }

}
p {
    margin-bottom: 0;
}
.edu-label {
  color: $secondary-text;
  margin-bottom: 10px;
}

.edu-label-black {
  color: $neutral-text-primary;
}

.divider {
  margin: 0.1rem 0;
}


.no-padding {
  padding-top: 0 !important;
}


.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 24px;
  width: 100%;

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 16px;
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    // gap: 12px;
  }
}

.info-item {
  display: flex;
  height: $spacing_25;
  flex-direction: column;
  gap: $spacing_2;

  @media (max-width: 480px) {
    height: $spacing_20;
  }

  label {


    @media (max-width: 480px) {
      font-size: 12px;
    }
  }

  p {
    margin-bottom: 0;

    @media (max-width: 480px) {
      font-size: 13px;
    }
  }
}

.info-grid-img {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  column-gap: $spacing_11;
  row-gap: $spacing_11;
  padding: 24px 0;

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: $spacing_7;
  }

  @media (max-width: 480px) {

    grid-template-columns: 1fr;
    // gap: $spacing_2;

    .text-label {
      font-size: 14px;
      line-height: 1rem;
    }
  }

  .info-grid-img.info-item {
    height: $spacing_23
  }

}

//-----------------table--------------------
.table-container {
  width: 100%;
  overflow-x: auto;
  border: $border_1 solid $neutral-300;
  border-radius: $spacing_5;
  margin: $spacing_9 0 $spacing_9 0;

  &:last-child {
    // margin-bottom: 0;
  }

  table {
    width: 100%;
    min-width: 600px; // Prevent table from getting too narrow
  }
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
  /* keeps columns readable */
}


.info-grid-table {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  // gap: 20px;
  border: $border_1 solid $neutral-300;
  border-radius: $spacing_5;
}

.info-item-table {
  display: flex;
  flex-direction: column;
  gap: $spacing;

}

.table-header {
  // display: flex;
  height: $spacing_20;
  padding: $spacing_11 $spacing_9;
  align-items: center;
  gap: $spacing_4;
  flex-shrink: 0;
  align-self: stretch;
  background: #E4F0F6;
  min-width: 200px;

  @media (max-width: 480px) {
    padding: $spacing_5;
    min-width: 150px;
  }
}
.table-card-header {
  border-radius: var(--border-radius-border-radius-s, 8px) var(--border-radius-border-radius-s, 8px) 0 0;
  background: var(--system-background-onAccent, #F4F6FF);
  border-radius: 0 0 var(--border-radius-border-radius-s, 8px) var(--border-radius-border-radius-s, 8px);
  margin: 0 -20px;
  padding: 12px 16px;
  font-weight: 600;
}
.table-card {
  border-radius: $border-radius-s;
  border-right: 1px solid var(--system-border-neutral-neutral_2, #E4E6F1);
  border-bottom: 1px solid var(--system-border-neutral-neutral_2, #E4E6F1);
  border-top: 1px solid var(--system-border-neutral-neutral_2, #E4E6F1);
  border-left: 1px solid var(--system-border-neutral-neutral_2, #E4E6F1);
  padding: 0 20px;
}

.table-margin {

  margin: $spacing_15 0;
}

.table-margin-top {

  margin-top: $spacing_15;
}

.bottom-border {
  border-bottom: 1px solid $neutral_border_2;
  background: $bg;
}

.table-data {
  // display: flex;
  height: $spacing_23;
  padding: $spacing_11 $spacing_9;
  align-items: center;
  gap: $spacing_4;
  flex-shrink: 0;
  align-self: stretch;

  @media (max-width: 480px) {
    padding: $spacing_5;

  }
}

/*------------------------- Responsive -----------------------------------*/
@media (max-width: 768px) {
  .date-badge {
    width: 48px;
    height: 48px;
  }

  .date-day {
    font-size: 18px;
  }

  .timeline-card {
    padding: $spacing_4;
  }
  .doctype-data{
    font-size: $font-size-body_md;
  }
}

@media (max-width: 480px) {
  .date-badge {
    width: 40px;
    height: 40px;
  }

  .date-month {
    font-size: 8px;
  }

  .date-day {
    font-size: 16px;
  }
  .search-input ,.action-dropdow {
  width: 100%!important;
  min-width: 0;
}

.timeline-item{
  gap: $spacing_4;
}

.timeline-line-hr {
  width: 10px;
  height: 3px;
}
.timeline-line {
  width: 3px; 
}
 .timeline-card {
    padding: $spacing_6;
  }
.text-body-1{
  font-size: $font-size-body_xs;
}
.status-badge {
  font-size: $font-size-body_sm;
 
}
.text-label-data {
   font-size: $font-size-body_md;
   line-height: 1.25rem;
    letter-spacing: 0.16px;
}
}



