@use './variables' as *;
@use './typography' as *;


.main-content-feature {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #1e293b;

  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center; //baseline center
    flex-wrap: wrap;
    gap: 0.5rem;
    text-align: center;
    margin-bottom: 0.5rem;

    .content-title {
      font-weight: 400;
    }

    @media (max-width: 768px) {
      // display: block;

    }
  }

}

 @media (max-width: 768px) {
      
      .text-dp-3-bold {
        font-size: 1.5rem;
      }
      .user-info-breadcrumb {
        display: none;
      }
    }

.content-footer {
  display: flex;
  height: 75vh;
  flex-direction: column;
  align-items: center;
  color: $neutral-text-primary;
  padding: $spacing_7 ;
}

//breadcrum
.breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}

.breadcrumb-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.breadcrumb-item a {
  text-decoration: none;
  font-size: $font-size-body_lg;
  line-height: 20px;
}

.breadcrumb-item.active {
  font-weight: 700;


}

//common box
.commonbox {
  border-radius: $border_radius_m;
  border: $border_1 solid $neutral-300;
  background: $bg, ;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

//card keu metrics

.metrics {
  width: 100%;
  gap: $spacing_4;
  display: flex;
  flex-direction: column;
}

.metric {
  width: 100%; //538.5px;
  justify-content: space-between;
  align-items: center;
  border-radius: $spacing_5;
  background: $bg;

}

.key-card-image {
  width: $spacing_23;
  height: $spacing_23;
  padding: $spacing_8;
  border-radius: $spacing_23;
  background: $secondary-50;
}

.divider {
  width: 100%; // 547px;
  height: 1px;
  background-color: $neutral-300;
  margin: 0.5rem 0;
}

.key-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//table styling

.mat-mdc-table {
  background-color: $bg !important;
}

/* Table header row */
.mat-mdc-header-row {
  background-color: $secondary-50 ;
  border: none !important;

}

.mat-mdc-cell {
  border-bottom-color: $neutral_border_2 !important;

}

.mat-header-label {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: 700 !important;
  font-size: $font-size-body_lg; //18px
  line-height: $spacing_11; //24px
  letter-spacing: 0.18px;
  padding: $spacing_11 $spacing_9 !important;
  border: none !important;
}

.mat-content-td {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: 500 !important;
  font-size: $font-size-body_lg; //18px
  line-height: $spacing_11; //24px
  letter-spacing: 0.18px;
  padding: $spacing_11 $spacing_9 !important;

}


///btns colors by their status
 .status {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 16px;
  font-weight: 500;
  text-align: center;
  min-width: 100px;
}

/* Completed / Verified / active */
.Completed, .activestatus {
  background-color: $success-100;
  color: $success-text-dark
}

/* Pending */
.Pending {
  background-color:$warning-container;
  color: #9B4800; /* brownish text */
}
/* Document Issue */
.document-Issue {
  background-color:$error-container;
  color: $error-text-dark;
}


/* in active */
.inactive {
  background-color:$warning-container;
  color: $warning-text-dark; /* brownish text */
}

