@if (label) {<div class="dropdown-label1 all-label ">{{ label }}<span class="text-danger" *ngIf="required">*</span></div>}

<div class="dropdown-container" [class.custom-style]="customStyle">

  <!-- Dropdown Input -->
  <div class="dropdown-input" (click)="toggleDropdown()">

    <!-- Avatar -->
    @if (hasAvatar) {
      <img [src]="avatarUrl" alt="User Avatar" class="avatar" />
    }

    <!-- Label + Subtext -->
    @if (showSubtext && subtext) {
      <div class="label-container">
        <div class="label text-common profilelabel">
          {{ selectedLabeldata }}
        </div>
        <div class="subtext text-secondary">
          {{ subtext }}
        </div>
      </div>
    } @else {
      <div class="label-container">
        <div class="label text-common Showtext">
          {{ selectedLabeldata }}
        </div>
      </div>
    }

    <!-- Arrow -->
    <div class="arrow">
      <img
        [src]="isOpen
          ? '/assets/images/icons/arrow-up.svg'
          : '/assets/images/icons/arrow-down.svg'"
        alt="Arrow"
        class="dropdown-arrow"
        width="20"
        height="20" />
    </div>
  </div>

  <!-- Dropdown List -->
  @if (isOpen) {
    <div class="dropdown-list dropdown-listdata">

      <!-- Search -->
      @if (searchable) {
        <div class="search-box">
          <img
            src="/assets/images/icons/search-normal.svg"
            alt="Search"
            class="search-icon" />

          <input
            type="text"
            [(ngModel)]="searchTerm"
            placeholder="Search..."
            class="search-input" />

          @if (searchTerm) {
            <img
              src="/assets/images/icons/close.svg"
              alt="Clear"
              class="clear-icon"
              (click)="searchTerm = ''" />
          }
        </div>
      }

      <!-- Options -->
      @for (option of filteredOptions; track option.value; let last = $last) {
        <div
          class="dropdown-item"
          (click)="!option.disabled && selectOption(option.value); $event.stopPropagation()"
          [class.no-border]="last"
[class.disabled]="option.disabled">
          @if (option.icon && option.icon.trim() !== '') {
            <img
              [src]="option.icon"
              class="item-icon" />
          }

          <span>{{ option.label }}</span>
        </div>
      }

      <!-- No Results -->
      @if (filteredOptions.length === 0) {
        <div class="no-results">
          No matching results
        </div>
      }
    </div>
  }
</div>
