 @use 'variables' as *;
@use 'typography' as *;
@use 'common' as *;

.sanction-letter-container {
  height: 100vh;
  max-width: 800px;
  margin: auto;
  padding: 40px;
  font-family: 'DM Sans', Arial, sans-serif;
  font-size: 14px;
  color: #222;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: auto;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .date {
      font-size: 13px;
      color: #333;
    }

    .logo {
      width: 120px;
      height: auto;
    }
  }

  .reference {
    margin-top: 8px;
    font-size: 13px;
  }

  .title {
    text-align: center;
    margin: 30px 0 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .info-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    td {
      border: 1px solid #ccc;
      padding: 6px 10px;
      vertical-align: top;

      &:first-child {
        font-weight: bold;
        width: 35%;
        background-color: #f7f7f7;
      }
    }
  }


  .documents {
     
    .info-table-doc{
      width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    td {
      border: 1px solid #ccc;
      padding: 6px 10px;
      vertical-align: top;

      &:first-child {
        // font-weight: bold;
      
      }
       &:empty {
        border: none;
      }
    }
     tr td:first-child:empty {
     
    }
    }
  }

  .important-note {
    background: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 6px;
    margin-bottom: 20px;

    h4 {
      margin-top: 0;
      color: #c00;
    }
  }

  .disclaimer {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    font-size: 12px;
    color: #555;

    h4 {
      margin-bottom: 5px;
    }
  }

  .footer {
    text-align: center;
    font-size: 11px;
    color: #888;
    margin-top: 40px;
  }

  .empty{
    height: 50%;
  }
}
