@use 'variables' as *;
@use 'typography' as *;
@use 'common' as *;

.vh-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.base-height {
  flex: 1;
  overflow: auto;
}

.sectiondata {
  border-radius: $border_radius_s;
  border: 1px solid $neutral-300;
  background: $bg;

  height: 69px;
  padding: 0 4px 0 20px;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}

.mt-20 {
  margin-top: $spacing_9;
}

.mt-40 {
  margin-top: $spacing_18;
}

.blue-text {
  color: $secondary-text;
  // font-weight: 700;
}

.hrclass {
  background: $neutral-300;
  margin: 10px 0
}


.table-head {
  color: $secondary-700;
}

.btncustomClass {
  width: auto !important;
  min-width: 178px;
  // max-width: 300px;
  padding: 2px 3px;
  height: 52px;


}
  .btncustomClass.searchbtn{
    min-width: 250px!important;
  }

.country {
  display: flex;
  align-items: center;
  gap: $spacing_11;
  font-weight: 400;
  margin: 2rem 0;
  border-radius: var(--border-radius-border-radius-s, 8px);
  background: var(--system-background-surface, #F5F5F5);
  width: 368px;
  justify-content: center;
  width: 100%;

  @media (max-width: 480px) {
    width: 100%;
    margin: 1rem 0;
    gap: 0;
  }
}

.flag {
  display: flex;
  padding: $spacing_7 $spacing_4;
  align-items: center;
  gap: $spacing_4;
  flex: 1 0 0;

  @media (max-width: 480px) {
    padding: $spacing_5
  }

}

.referencetitle {
  display: flex;
  padding: $spacing_9;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-radius: $border_radius_m;
  border: 1px solid $neutral_border_2;
  background: $bg;


}

// popup design
.mobilepopup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing_14;
  align-self: stretch;
}


/* FULL SCREEN MODAL */
.reference-modal {
  max-width: 90vw;
  width: 90vw;
  height: 90vh;
  // margin: auto;
}

.reference-modal .modal-content {
  height: 100%;
  border-radius: 16px;
  overflow: visible;
  position: relative;
  display: flex;
  flex-direction: column;

}

/* HEADER */
.reference-modal .modal-header {
  border-bottom: 1px solid #e6e6e6;
  padding: 24px 32px;
}

/* BODY */
.reference-modal .modal-body {
  padding: 29px $spacing_18 $spacing_18 $spacing_18;
  // overflow-y: auto;
  // flex: none!important;

  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;

}

/* FOOTER */
.reference-modal .modal-footer {
  padding: 24px 32px;
  border: none;
}

.reference-modal .modal-header,
.reference-modal .modal-footer {
  flex-shrink: 0;
}

.modal-close-btn {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #f24848;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
}



:host ::ng-deep app-inputfield input[readonly] {
  background-color: #f5f5f5;
  opacity: 0.6;
  cursor: not-allowed;
}
//suceessbox
.success {
    text-align: center;

    .card-body {
        gap: $spacing_14;

        @media(max-width:480px) {
            gap: $spacing_9;

           
        }
    }
}
.success-tick-icon {
  width: 117px;
  height: 117px;
}

.msg_data {
    gap: $spacing_9;
}