@use 'variables' as *;
@use 'typography' as *;
@use 'common' as *;

.sectiondata {
  border-radius: $border_radius_s;
  border: 1px solid $neutral-300;
  background: $bg;

  height: 69px;
  padding: 0 4px 0 20px;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}

.mt-20 {
  margin-top: $spacing_9;
}

.mt-40 {
  margin-top: $spacing_18;
}

.blue-text {
  color: $secondary-text;
  // font-weight: 700;
}

.hrclass {
  background: $neutral-300;
  margin: 10px 0 20px 0;
}

.sub-hrclass {
  background: $neutral-300;
  margin: 16px 0 20px 0;
}

// .accordion-item {
//   //  min-height: auto;
//   border-radius: $border_radius_m;
//   border: $border_1 solid $neutral-300;
//   //   background: $bg, ;
//   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
// }

.table-head {
  color: $secondary-700;
}

.btncustomClass {
  width: auto !important;
  min-width: 178px;
  // max-width: 300px;
  padding: 2px 3px;
  height: 52px;
}

.editbtn {
  display: flex;
  // width: 100px;
  height: 35px;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  // gap: 4px;
  border-radius: $border-radius-s;

}

.country {
  display: flex;
  align-items: center;
  gap: $spacing_11;
  font-weight: 400;
  margin: 2rem 0;
  border-radius: var(--border-radius-border-radius-s, 8px);
  background: var(--system-background-surface, #F5F5F5);
  width: 368px;
  justify-content: center;
  width: 100%;

  @media (max-width: 480px) {
    width: 100%;
    margin: 1rem 0;
    gap: 0;
  }
}

.flag {
  display: flex;
  padding: $spacing_7 $spacing_4;
  align-items: center;
  gap: $spacing_4;
  flex: 1 0 0;

  @media (max-width: 480px) {
    padding: $spacing_5
  }

}

.living-misc {
  display: flex;
  gap: 40px;
}

.accordion-button ,.accordion-button.collapsed {
  padding: 10px 16px;
}

.submitMainDiv{
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.successDiv{
  gap: var(--spacing-spacing_14, 30px);
  padding: var(--spacing-spacing_18, 40px);
}

 
//loading spiner

.summary-loader-wrapper {
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary-loader-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
 
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #e5eefb;
  border-top-color: #1f4e79;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}