@use 'variables' as *;
@use 'typography' as *;
@use 'common' as *;

.quick-links-container {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
}

.quick-links-tab {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #F5F5F5;
  border-radius: 12px;
  color: white;
  padding: 40px 12px;
  border-radius: 8px 0 0 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  box-shadow: -2px 2px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  z-index: 10001;
  min-height: 150px;
  justify-content: center;
}

.quick-links-tab:hover {
  padding-right: 14px;
}

.expanded .quick-links-tab {
  right: 250px;
}

.tab-text {
  writing-mode: sideways-lr;
  text-orientation: mixed;
  color: $neutral-text-primary;
}

.toggle-icon {
  font-size: 20px;
  font-weight: bold;
  color: white;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.expanded .toggle-icon {
  transform: rotate(180deg);
}

.backdrop {
  // position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9998;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.quick-links-panel {
  position: static;
  top: 0;
  height: 100%;
  min-height: 300px;
  width: 250px;
  background: $surface;
  box-shadow: -4px 0 16px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  transition: right 0.3s ease;
  border-radius: $border_radius_m 0 0 $border_radius_m;
  border-left: 1px solid $neutral_border_2;

  display: flex;
  padding: $spacing_9;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing_5;

  @media (max-width: 360px) {
    width: 150px;
  }
}

.quick-links-panel.show {
  right: 0;
}


.links-list {
  display: flex;
  flex-direction: column;
  gap: $spacing_5
}

.link-item {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.link-item:hover {
  background: #F5F5F5;
  // border-left-color: #E63946;
}



.quick-link-icon {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  border-radius: 8px;
  background: var(--Primary-Purple, #E5ECF6);
  padding: $spacing;
}



.link-label {
  line-height: 22px;
  /* 137.5% */
  letter-spacing: 0.16px;
  color: #1C1C1C;

}


/* Responsive */
@media (max-width: 768px) {
  .quick-links-panel {
    width: 260px;
    right: -260px;
  }

  .expanded .quick-links-tab {
    right: 260px;
  }
}

@media (max-width: 480px) {
  .quick-links-tab {
    padding: 24px 12px;
  }

  .quick-links-panel {
    width: 180px;
    right: -180px;
  }

  .expanded .quick-links-tab {
    right: 180px;
  }

  .links-list {
    gap: $spacing;
  }
}