<div class="base-layout">
    <form [formGroup]="educationForm" (ngSubmit)="submit()" id="kycForm" class="w-100">

        <div class=" accordion d-flex flex-column gap-4 mb-4">

            <div class="accordion-item b-0" *ngFor="let acc of accordions; let i = index">

                <h2 class="accordion-header">
                    <button class="accordion-button table-head" [class.collapsed]="!openIndex.includes(i)" type="button"
                        (click)="toggle(i)">

                        {{ acc.title }}
                    </button>
                </h2>


                <div class="accordion-collapse collapse" [class.show]="openIndex.includes(i)">

                    <div class="accordion-body p-0 ">

                        <ng-container *ngIf="i === 0">
                            <ng-container *ngTemplateOutlet="tenthTemplate; context:{index:i}">
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="i === 1">
                            <ng-container *ngTemplateOutlet="twelthTemplate; context:{index:i}">
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="i === 2">
                            <ng-container *ngTemplateOutlet="ugTemplate; context:{index:i}">
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="i === 3">
                            <ng-container *ngTemplateOutlet="pgTemplate; context:{index:i}">
                            </ng-container>
                        </ng-container>

                        <ng-container *ngIf="i === 4">
                            <ng-container *ngTemplateOutlet="ieltsTemplate; context:{index:i}">
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="i === 5">
                            <ng-container *ngTemplateOutlet="offerletterTemplate; context:{index:i}">
                            </ng-container>
                        </ng-container>



                    </div>
                </div>

            </div>

        </div>

        <ng-template #tenthTemplate let-i="index">
            <app-edusection [group]="getEducationGroup('tenth')" [title]="'10th'" [isHigher]="false" sectionType="school">
            </app-edusection>
        </ng-template>


        <ng-template #twelthTemplate let-i="index">
            <app-edusection [group]="getEducationGroup('twelth')" [title]="'12th'" [isHigher]="false" sectionType="school">
            </app-edusection>
        </ng-template>

          <ng-template #ugTemplate let-i="index">
            <app-edusection [group]="getEducationGroup('bachelors')" [title]="'UG'" [isHigher]="false" sectionType="bachelors">
            </app-edusection>
        </ng-template>

          <ng-template #pgTemplate let-i="index">
            <app-edusection [group]="getEducationGroup('postgrad')" [title]="'PG'" [isHigher]="false" sectionType="postgrad">
            </app-edusection>
        </ng-template>

        <ng-template #ieltsTemplate let-i="index">
            <div class="row  d-flex  pt-4 ieltscls  ">
                <div class="col-lg-4 col-sm-12">
                    <app-inputfield type="text" formControlName="score" [required]="true" label="Score"
                        placeholder="Enter Score" helpText="Help text" name="Score">
                    </app-inputfield>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <app-uploadbtn [config]="basicConfig" (fileChange)="onFileChange($event, 'score')" [required]="true"
                        label="Upload Certificate">
                    </app-uploadbtn>
                </div>
            </div>
        </ng-template>

        <ng-template #offerletterTemplate let-i="index">
             <div class="row  d-flex  align-items-start pt-4 common-details-box ">
                <div class="col-lg-4 col-sm-12">
                    <app-uploadbtn [config]="basicConfig" (fileChange)="onFileChange($event, 'score')" [required]="true"
                        label="Offer Letter">
                    </app-uploadbtn>
                </div>
             </div>
        </ng-template>

    </form>
</div>
<hr class="footer-hr-class">
<div class="loan-footerbtns row w-100  d-flex justify-content-between align-items-center">

    <div class="col-lg-4 ">
        <img src="../assets/images/icons/save.svg">
        <span class="text-dp-3-regular mx-2 blue-text"> Save and Exit</span>
    </div>
    <div class="col-lg-4  d-flex justify-content-end">
        <app-buttons type="button" label="Back" class="btn btncustomClass" [outline]="true" (click)="back()">
        </app-buttons>
        <app-buttons type="button" label="Next" class="btn btncustomClass" color="primary" (click)="next()">
        </app-buttons>

    </div>
</div>