<div class="vh-container">


    @switch (activeEducation) {
    @case ('10th') {
    <app-edusection [group]="educationForms['10th']" title="10th std" sectionType="school" [stepKey]="activeEducation"
        [uploadedFiles]="uploadedFiles" (fileSelected)="onFileSelectedFromSection($event)">
    </app-edusection>
    }

    @case ('12th') {
    <app-edusection [group]="educationForms['12th']" title="12th std" sectionType="school" [stepKey]="activeEducation"
        [uploadedFiles]="uploadedFiles" (fileSelected)="onFileSelectedFromSection($event)">
    </app-edusection>
    }

    @case ('diploma10') {
    <app-edusection [group]="educationForms.diploma10" title="Diploma (After 10th)" sectionType="diploma"
        [stepKey]="activeEducation" [uploadedFiles]="uploadedFiles"
        (fileSelected)="onFileSelectedFromSection($event)" />
    }

    @case ('diploma12') {
    <app-edusection [group]="educationForms.diploma12" title="Diploma (After 12th)" sectionType="diploma"
        [stepKey]="activeEducation" [uploadedFiles]="uploadedFiles"
        (fileSelected)="onFileSelectedFromSection($event)" />
    }

    @case ('ug') {
    <app-edusection [group]="educationForms.ug" title="Undergraduate" sectionType="bachelors"
        [stepKey]="activeEducation" [uploadedFiles]="uploadedFiles"
        (fileSelected)="onFileSelectedFromSection($event)" />
    }

    @case ('pg') {
    <app-edusection [group]="educationForms.pg" title="Postgraduate" sectionType="bachelors" [stepKey]="activeEducation"
        [uploadedFiles]="uploadedFiles" (fileSelected)="onFileSelectedFromSection($event)" />
    }

    @case ('others12') {
    <app-edusection [group]="educationForms.others12" title="Others (After 12th)" sectionType="others"
        [stepKey]="activeEducation" [uploadedFiles]="uploadedFiles"
        (fileSelected)="onFileSelectedFromSection($event)" />
    }
    @case ('othersdiploma') {
    <app-edusection [group]="educationForms.othersdiploma" title="Others (After Diploma)" sectionType="others"
        [stepKey]="activeEducation" [uploadedFiles]="uploadedFiles"
        (fileSelected)="onFileSelectedFromSection($event)" />
    }

    @case ('ielts') {
    <div class="base-layout base-height">
        <div class="text-datepicker blue-text d-flex flex-column gap-2 ">IELTS / PTE

            <div class="text-body-1 fw-normal">
                <span><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                        <path
                            d="M10.9997 20.1667C16.0413 20.1667 20.1663 16.0417 20.1663 11C20.1663 5.95833 16.0413 1.83333 10.9997 1.83333C5.95801 1.83333 1.83301 5.95833 1.83301 11C1.83301 16.0417 5.95801 20.1667 10.9997 20.1667Z"
                            stroke="#25262F" stroke-width="1.28125" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M11 7.33333V11.9167" stroke="#25262F" stroke-width="1.28125" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M10.9961 14.6667H11.0043" stroke="#25262F" stroke-width="1.28125"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg></span>
                Click the “Next” button to save your changes
            </div>
        </div>

        <div class="row d-flex align-items-start education-box">

            <div class="col-lg-6 col-sm-12">
                <app-inputfield type="text" [required]="true" label="Score" placeholder="Enter Score"
                    [formControl]="educationForms['ielts'].get('score')" (input)="main.restrictInput($event, 'number')">
                </app-inputfield>
                 <div class="text-danger" *ngIf="educationForms['ielts'].get('score').touched && educationForms['ielts'].get('score').invalid">

                        <div *ngIf="educationForms['ielts'].get('score').errors?.['required']">
                            score is required
                        </div>

                        

                        <div *ngIf="educationForms['ielts'].get('score').errors?.['min']">
                            Minimum 4 score required
                        </div>

                        <div *ngIf="educationForms['ielts'].get('score').errors?.['max']">
                            Maximum 10 score allowed
                        </div>

                    </div>

            </div>

            <div class="col-lg-6 col-sm-12">
                @if (hasLocalFile(activeEducation,'ielts')) {
                <label class="text-label">Passing / Leaving Certificate <span class="text-danger">*</span></label>
                <div class="addcust-img-box mt-2">
                    <p class="text-label">{{ getLocalFileName(activeEducation,'ielts') }}</p>
                    <div class="icons">
                        <span class="view" (click)="viewLocal(activeEducation,'ielts')">
                            <img src="/assets/images/icons/eyered.svg" alt="view">
                        </span>
                        <span class="download" (click)="downloadLocal(activeEducation,'ielts' )"><img
                                src="/assets/images/icons/import-red.svg" alt="Download"></span>
                        <span (click)="removeLocal(activeEducation,'ielts')">
                            <img src="/assets/images/icons/close.svg" alt="remove">
                        </span>
                    </div>
                </div>

                } @else{
                <app-uploadbtn [config]="basicConfig" [uploadViaApi]="false" [required]="true"
                    label="Upload Certificate " (fileChange)="onFileChange('ielts', 'ielts', $event)">
                </app-uploadbtn>
                }
            </div>
        </div>
    </div>
    }

    @case ('offerletter') {
    <div class="base-layout base-height">
        <div class="text-datepicker blue-text d-flex flex-column gap-2 ">University Offer Letter
            <div class="text-body-1 fw-normal">
                <span><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                        <path
                            d="M10.9997 20.1667C16.0413 20.1667 20.1663 16.0417 20.1663 11C20.1663 5.95833 16.0413 1.83333 10.9997 1.83333C5.95801 1.83333 1.83301 5.95833 1.83301 11C1.83301 16.0417 5.95801 20.1667 10.9997 20.1667Z"
                            stroke="#25262F" stroke-width="1.28125" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M11 7.33333V11.9167" stroke="#25262F" stroke-width="1.28125" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M10.9961 14.6667H11.0043" stroke="#25262F" stroke-width="1.28125"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg></span>
                Click the “Next” button to save your changes
            </div>
        </div>

        <div class="row d-flex align-items-start flex-column education-box">
            <div class="col-lg-4 col-sm-12">
                @if (hasLocalFile(activeEducation,'offerletter')) {
                <label class="text-label">Passing / Leaving Certificate <span class="text-danger">*</span></label>
                <div class="addcust-img-box mt-2">
                    <p class="text-label">{{ getLocalFileName(activeEducation,'offerletter') }}</p>
                    <div class="icons">
                        <span class="view" (click)="viewLocal(activeEducation,'offerletter')">
                            <img src="/assets/images/icons/eyered.svg" alt="view">
                        </span>
                        <span class="download" (click)="downloadLocal(activeEducation,'offerletter' )"><img
                                src="/assets/images/icons/import-red.svg" alt="Download"></span>
                        <span (click)="removeLocal(activeEducation,'offerletter')">
                            <img src="/assets/images/icons/close.svg" alt="remove">
                        </span>
                    </div>
                </div>

                } @else{
                <app-uploadbtn [config]="basicConfig" [uploadViaApi]="false" [required]="true" label="Offer Letter"
                    (fileChange)="onFileChange('offerletter', 'offerletter', $event)">
                </app-uploadbtn>
                }


            </div>
        </div>
    </div>
    }

    @default {

    }
    }






    <hr class="footer-hr-class">
    <div class="loan-footerbtns row w-100  d-flex justify-content-between align-items-center">

        <div class="col-lg-4 ">
            <img src="../assets/images/icons/save.svg">
            <span class="text-dp-3-regular mx-2 blue-text"> Save and Exit</span>
        </div>
        <div class="col-lg-4  d-flex justify-content-end">
            <app-buttons type="button" label="Back" class="btn btncustomClass" [outline]="true" (click)="back()">
            </app-buttons>
            <app-buttons type="button" label="Next" class="btn btncustomClass" color="primary" (click)="next()"
                [disabled]="!canProceedToNext()">
            </app-buttons>

        </div>
    </div>
</div>