@use 'variables' as *;
@use 'typography' as *;
@use 'common' as *;


.vh-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.base-height {
    flex: 1;
    overflow: auto; 
}
.text-datepicker{
  font-weight: 500;
}
.mt-20{
    margin-top: $spacing_9;;
}
.blue-text{
    color:$secondary-text-dark ;
// font-weight: 700;
}

.hrclass{
    background: $neutral-300;
    margin: 30px 0
}

.accordion-item {
    //  min-height: auto;
    border-radius: $border_radius_m;
  border: $border_1 solid $neutral-300;
//   background: $bg, ;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}
.table-head{
  // color: $secondary-700;
}

.btncustomClass{
     width: auto !important;
  min-width: 178px;
  // max-width: 200px;
  padding: 2px 3px;
  height: 52px;
}

.ieltscls{
 padding: $spacing_18;
  gap: $spacing_4;
}
.info-box{
  display: flex;
padding: $spacing_9;
flex-direction: column;
align-items: flex-start;
gap: $spacing_9;
align-self: stretch;
border-radius:$border_radius_m;
background: rgba(179, 228, 253, 0.30);
}

.hrclass{
    background: $neutral-300;
    margin:16px 0 0 0 ;
}
.mobiledetails {

  
  align-items: center;
  gap: $spacing_14;
  align-self: stretch;
  // max-width: 900px;
  width: 100%;

  @media (max-width:780px) {
    align-items: stretch;
    padding: $spacing_9;
  }
}

::ng-deep app-dropdown .dropdown-container .dropdown-list {
  max-height: 500px;
  
}