@use 'variables' as *;



// Base button
.btn {

  display: flex;
  padding: 12px 20px;
  width: 100%;
  height: 100%;
  //  min-height: 42px; 
  font-size: 14px;
  gap: $spacing_3;
  flex-shrink: 0;
  border: none;
  // color: #fff;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;


  &.primary {
    background-color: $primary-btn;
    color: #ffffff !important;

  }

  &.secondary {
    background-color: $secondary-btn;
    color: #fff;

  }

  &.info {
    background-color: $info-btn;
    color: #fff;

  }

  &.warning {
    background-color: $warning-btn;

    color: #fff;
  }

  &.success {
    background-color: $success-btn;
    color: #fff;

  }

  &.error {
    background-color: $error-btn;
    color: #fff;

  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

   &.primary .disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}


.btn-full {
  display: block;
  width: 100% !important;
}

.btn-auto {
  width: auto !important;
}

.btnclass {
  width: auto !important;
}


// Alignment variations
.btn-center {
  justify-content: center;
}

.btn-left {
  justify-content: flex-start;
}

.btn-right {
  justify-content: flex-end;
}

// Outline style
.btn-outline {
  background-color: transparent;
  border: 1px solid $primary-btn;
  color: $primary-500;

  &:active {
    border-color: $primary-btn;
    // color: #fff;
  }
  &.btn-label {
 color: blue;
}
}

// Icon + Label style
.btn-icon {
  display: flex;
  align-items: center;
  gap: 8px;
  /* space between icon and text */
  width: 170px !important;
}

img,
svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.border-radius {
  border-radius: $border-radius-rounded;

}

.btn .btn-label {
  flex-shrink: 0; // Don't let text shrink
  white-space: nowrap; // Keep text on one line
  color: #fff;
}
.btn.btn-outline .btn-label {
  flex-shrink: 0; // Don't let text shrink
  white-space: nowrap; // Keep text on one line
  color:  $primary-500;
}

 @media (max-width: 480px) {
   .text-dp-3-regular {
    font-size: 14px;
   }
   .btn{
    gap: 0;
   }
  }