<div class="input-container">
  <label *ngIf="label && showLabel " class="input-label">{{ label }}<span class="text-danger"
      *ngIf="required">*</span></label>

  <div class="input-wrapper" [ngClass]="{
    'error': state === 'error',
    'success': state === 'success',
    'disabled': disabled
  }">
    <!-- Search Icon (Left) -->
    <!-- <svg *ngIf="showSearch" class="icon-left" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="11" cy="11" r="8"></circle>
      <path d="m21 21-4.35-4.35"></path>
    </svg> -->
    <div *ngIf="showPhonePrefix" class="input-prefix">
      <!-- <img src="https://flagcdn.com/w20/in.webp" class="flag-icon" alt="flag"> -->
      <svg xmlns="http://www.w3.org/2000/svg" width="37" height="27" viewBox="0 0 37 27" fill="none">
        <mask id="mask0_952_40792" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="37"
          height="27">
          <rect width="37" height="27" fill="white" />
        </mask>
        <g mask="url(#mask0_952_40792)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0L0 27H37V0L0 0Z" fill="#F7FCFF" />
          <mask id="mask1_952_40792" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="37"
            height="27">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0L0 27H37V0L0 0Z" fill="white" />
          </mask>
          <g mask="url(#mask1_952_40792)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0L0 9H37V0L0 0Z" fill="#FF8C1A" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 18L0 27H37V18H0Z" fill="#5EAA22" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M18.5 9C21.0543 9 23.125 11.0147 23.125 13.5C23.125 15.9853 21.0543 18 18.5 18C15.9457 18 13.875 15.9853 13.875 13.5C13.875 11.0147 15.9457 9 18.5 9ZM18.5 10.125C16.5843 10.125 15.0312 11.636 15.0312 13.5C15.0312 15.364 16.5843 16.875 18.5 16.875C20.4157 16.875 21.9688 15.364 21.9688 13.5C21.9688 11.636 20.4157 10.125 18.5 10.125Z"
              fill="#3D58DB" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M18.4937 14.4683L17.5295 17.9262L18.0941 14.3857L15.7677 17.1631L17.7636 14.152L14.4773 15.7686L17.5594 13.8078L13.8813 13.9841L17.5167 13.4125L14.0829 12.118L17.6429 13.0345L15.0472 10.493L17.9163 12.7391L16.6074 9.39012L18.2895 12.5774L18.4937 9L18.698 12.5774L20.3801 9.39012L19.0712 12.7391L21.9403 10.493L19.3445 13.0345L22.9045 12.118L19.4708 13.4125L23.1061 13.9841L19.4281 13.8078L22.5101 15.7686L19.2238 14.152L21.2197 17.1631L18.8933 14.3857L19.458 17.9262L18.4937 14.4683Z"
              fill="#3D58DB" />
          </g>
        </g>
      </svg>
      <span *ngIf="showPhonePrefixnumber" class="text-dp-2-bold fw-normal">+91</span>

    </div>
    <div *ngIf="showaustralianflagPrefix" class="input-prefix">
      <img src="https://flagcdn.com/w20/au.webp" class="flag-icon" alt="flag">

    </div>

    <input [attr.maxlength]="maxlength" [attr.type]="currentType" [placeholder]="placeholder" [value]="value"
      (input)="onInputChange($any($event.target).value)" (blur)="onBlur()" [disabled]="disabled"
      class="input-field percent-input " [readonly]="readonly" [attr.min]="min" [attr.max]="max" [attr.step]="step"
      [ngClass]="{
        'has-left-icon': showSearch,
        'has-right-icon': showPasswordToggle || showStateIcon || showInfo || showSearch,
         'input-default': state === 'default',
        'input-error': state === 'error',
        'input-success': state === 'success',
         'has-prefix': type === 'tel' || type === 'flag',
      'has-right-btn': rightButtonText,
      'uppercase': uppercase,
      'has-suffix': type === 'number',
      }" />
    <span *ngIf="suffix" class="suffix">
      {{suffix}}
    </span>

    <!-- <app-buttons  *ngIf="rightButtonText" label="" class="btncustomClass primary right-btn" [outline]="true" (click)="onRightButtonClick()">{{ rightButtonText }}</app-buttons> -->


    <!-- Right Icons Container -->
    <div class="icon-right-container">


      <!-- Search Icon (Left) -->
      <svg *ngIf="showSearch" class="icon-right-search" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round">
        <circle cx="11" cy="11" r="8"></circle>
        <path d="m21 21-4.35-4.35"></path>
      </svg>



      <img *ngIf="type === 'password'" class="icon-right clickable"
        [src]="!passwordVisible ? 'assets/images/icons/eye-slash.webp' : 'assets/images/icons/eye.png'"
        alt="Toggle Password" width="20" height="20" />


      <!-- Success Icon -->

      <img *ngIf="state === 'success' && !showPasswordToggle" class="icon-right success-icon"
        src="/assets/images/icons/tick-circle.png" alt="Error Icon" width="20" height="20" />


      <!-- Error Icon -->


      <img *ngIf="state === 'error' && !showPasswordToggle" class="icon-right error-icon"
        src="/assets/images/icons/danger.png" alt="Error Icon" width="20" height="20" />


      <!-- Info Icon -->
      <svg *ngIf="showInfo && state === 'default' && !showPasswordToggle" class="icon-right info-icon"
        xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="16" x2="12" y2="12"></line>
        <line x1="12" y1="8" x2="12.01" y2="8"></line>
      </svg>
    </div>
  </div>

  <p *ngIf="showHelpText && helpTextValue" class="help-text" [ngClass]="{
    'error': state === 'error',
    'success': state === 'success'
  }">{{ helpText }}</p>
</div>