@use 'variables' as *;
@use 'typography' as *;


.datrpicker-label {
  text-align: start;
  color: #25262F !important;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.375rem;
  letter-spacing: 0.16px;
  margin-bottom: 0.5rem;
}

::ng-deep .mat-mdc-form-field.mat-form-field-appearance-outline .mdc-notched-outline__leading,
::ng-deep .mat-mdc-form-field.mat-form-field-appearance-outline .mdc-notched-outline__notch,
::ng-deep .mat-mdc-form-field.mat-form-field-appearance-outline .mdc-notched-outline__trailing {
  border-color: #A4A5B0 !important; // grey
}

::ng-deep .mat-mdc-form-field.mat-form-field-appearance-outline .mdc-notched-outline__leading {
  border-radius: 8px 0 0 8px;
}

::ng-deep .mat-mdc-form-field.mat-form-field-appearance-outline .mdc-notched-outline__trailing {
  border-radius: 0 8px 8px 0;
}


::ng-deep .cdk-overlay-pane .mat-datepicker-content {
  padding-top: 52px;
  /* Space for header */
  position: relative;
}

::ng-deep .cdk-overlay-pane .mat-datepicker-content::before {
  content: "Select date";
  position: absolute;
  top: 0px;
  padding: 16px;
  font-size: $font-size-body_md;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.16px;
  color: $neutral-text-secondary;
  background: white;
}

::ng-deep .cdk-overlay-pane .mat-datepicker-content::after {
  // content: attr(data-selected);
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  padding: 16px 16px 8px 10px;
  font-size: $font-size-xxl;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.3px;
  color: $neutral-text-primary;
  border-bottom: 1px solid #eee;
}

::ng-deep .cdk-overlay-pane .mat-calendar-header {
  // padding: 20px 16px 0px 10px;
  padding: 0;
  border-bottom: 1px solid #eee;
}

::ng-deep .cdk-overlay-pane .mat-calendar-content {
  padding: 8px;

}

::ng-deep .cdk-overlay-pane .mat-calendar-body-cell-content.mat-focus-indicator.mat-calendar-body-selected {
  background-color: $color-primary;
  color: #ffffff;
  box-shadow: inset 0 0 0 1px $color-primary;
  border-color: $color-primary;
}

::ng-deep .cdk-overlay-pane .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border-color: $color-primary;
}

::ng-deep .cdk-overlay-pane .mat-calendar-header.mat-calendar-controls .mdc-button.mat-mdc-button-base.mat-calendar-period-button.mat-mdc-button .mat-unthemed {
  color: #000000 !important;
}

::ng-deep .cdk-overlay-pane .mat-datepicker-actions {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #eee;
}

.date-btn {
  padding: 4px 16px;
  border-radius: 999px;
  border: none;
  background: white;
  color: red;

}

.date-btn-ok {
  border: 1px solid $secondary-text;
  color: $secondary-text;
}

/* Disabled mat-form-field background */
::ng-deep .mat-mdc-form-field.mat-form-field-disabled .mdc-notched-outline {
  background: #F5F5F5;
  color: #000000 !important;
  opacity: 0.6;
  border-color: #131a66;
}

/* Disabled input background */
::ng-deep .mat-mdc-form-field.mat-form-field-disabled .mat-mdc-input-element {
  color: #000000 !important;
  border-color: #666771;
}

 ::ng-deep .mat-mdc-form-field .mat-mdc-form-field-subscript-wrapper {
  margin-bottom: -10px;
}