@use 'variables' as *;
@use 'typography' as *;
@use 'common' as *;



.mt-20 {
    margin-top: $spacing_9;
    ;
}

.blue-text {
    color: $secondary-text;
}

.hrclass {
    background: $neutral-300;
    margin: 30px 0
}


.table-head {
    color: $secondary-700;
}

.btncustomClass {
    width: auto !important;
    min-width: 178px;
    padding: 2px 3px;
    height: 52px;
}

::ng-deep app-dropdown .dropdown-container .dropdown-list {
  max-height: 500px;
  
}
.coapplicant-layout{
    height: 60vh;
}