<div class="base-layout">

    <div class="accordion d-flex flex-column gap-4 mb-4">

        <div class="accordion-item b-0" *ngFor="let acc of accordions; let i = index">

            <h2 class="accordion-header">
                <button class="accordion-button table-head" [class.collapsed]="openIndex !== i" type="button"
                    (click)="toggle(i)">
                    {{ acc.title }}
                </button>
            </h2>

            <div class="accordion-collapse collapse" [class.show]="openIndex === i">

                <div class="accordion-body p-0" *ngIf="openIndex === i">

                    <ng-container *ngIf="i === 0">
                        <ng-container *ngTemplateOutlet="identityTemplate; context:{index:i}">
                        </ng-container>
                    </ng-container>

                </div>
            </div>

        </div>

    </div>

    <ng-template #identityTemplate let-i="index">

        <form [formGroup]="registerForm" (ngSubmit)="submit()" class="common-details-box d-flex flex-column">

            <div class="row">

                <div class="text-label fw-bold ">Last Qualification Details</div>
                <div class="col-lg-4 col-sm-12 mt-20">
                    <app-dropdown [options]="selectoccupation" [placeholder]="'Select Current Occupation'" [required]="true"
                        (selectedValueChange)="registerForm.get('occupation')?.setValue($event)" [avatarUrl]="avatarUrl"
                        formControlName="occupation" [hasAvatar]="hasAvatar" [label]="occupationlabel">
                    </app-dropdown>

                </div>
                <div class="col-lg-4 col-sm-12 mt-20">
                    <app-dropdown [options]="seleactqualification" [placeholder]="'Select '+ qualification"
                        formControlName="qualification" [required]="true"
                        (selectedValueChange)="registerForm.get('qualification')?.setValue($event)" [searchable]="true"
                        [avatarUrl]="avatarUrl" [hasAvatar]="hasAvatar" [label]="qualification">
                    </app-dropdown>

                </div>
                <div class="col-lg-4 col-sm-12 mt-20">
                    <app-inputfield formControlName="institutionName" label="Last Institution Name" [required]="true"
                        placeholder="Enter Institution Name" name="institutionName">
                    </app-inputfield>

                    <div class="text-danger" *ngIf="f['institutionName'].touched && f['institutionName'].invalid">

                        <div *ngIf="f['institutionName'].errors?.['required']">
                            Institution Name is required
                        </div>
                         <div *ngIf="f['institutionName'].errors?.['minlength'] ||f['institutionName'].errors?.['maxlength']">
                            Institution name must be 2–100 characters
                        </div>

                      

                    </div>

                </div>

                <hr class="hrclass">


                <div class="text-label fw-bold ">Course Datails</div>
                <!-- Country NAME -->
                <div class="col-lg-4 col-sm-12 mt-20">
                    <app-inputfield type="text" [required]="true" label="Country" [required]="true"  
                        placeholder="Australia" helpText="Help text" [disabled]="true" name="country" >
                    </app-inputfield>

                </div>

                <!-- State NAME -->
                <div class="col-lg-4 col-sm-12 mt-20">
                    <app-dropdown [options]="Australianstate" [placeholder]="'Select '+state" [required]="true"
                        (selectedValueChange)="selectPerState($event)"  [avatarUrl]="avatarUrl"
                        formControlName="state" [hasAvatar]="hasAvatar" [label]="state" [searchable]="true">
                    </app-dropdown>
                </div>

                <!-- University NAME -->
                <div class="col-lg-4 col-sm-12 mt-20">
                    <app-dropdown [options]="AustralianUniversities" [placeholder]="'Select '+university" [required]="true"
                        (selectedValueChange)="selecteduniversity($event)"[avatarUrl]="avatarUrl"
                        formControlName="university" [hasAvatar]="hasAvatar" [label]="university" [searchable]="true">
                    </app-dropdown>
                </div>

                <!-- course type -->
                <div class="col-lg-6 col-sm-12 mt-20">
                    <app-dropdown [options]="selectcourse" [placeholder]="'Select '+coursetype" [required]="true"
                         (selectedValueChange)="selectedcoursetype($event)"  [avatarUrl]="avatarUrl" 
                        formControlName="coursetype" [hasAvatar]="hasAvatar" [label]="coursetype">
                    </app-dropdown>
                </div>
                <!-- course name -->
                <div class="col-lg-6 col-sm-12 mt-20">
                    <app-dropdown [options]="selectcoursename" [placeholder]="'Select '+coursename" [required]="true"
                        (selectedValueChange)="selectedCoursename($event)" [avatarUrl]="avatarUrl" [searchable]="true"
                        formControlName="coursename" [hasAvatar]="hasAvatar" [label]="coursename">
                    </app-dropdown>
                </div>
                <!-- Course Duration -->
                <div class="col-lg-4 col-sm-12 mt-20">
                    <app-dropdown [options]="selectcourseduration" [placeholder]="'Select '+courseduration" [required]="true"
                        (selectedValueChange)="registerForm.get('courseduration')?.setValue($event)"
                        [avatarUrl]="avatarUrl" formControlName="courseduration" [hasAvatar]="hasAvatar"
                        [label]="courseduration">
                    </app-dropdown>
                </div>



                <!-- Course Start Date* -->
                <div class="col-lg-4 col-sm-12 mt-20">
                    <app-datepickernew formControlName="coursestartdate" label="Course Start Date" placeholder="DD/MM/YYYY" [disablePastDates]="true">
                    </app-datepickernew >
                </div>
                <!-- Course End Date* -->
                <div class="col-lg-4 col-sm-12 mt-20">
                    <app-datepickernew formControlName="courseenddate" label="Course End Date"  placeholder="DD/MM/YYYY" [disabled]="true" [disablePastDates]="true">
                    </app-datepickernew>
                </div>

                <!-- Do you have Assets? -->
                <div class="col-lg-12 mt-20">
                    <div class=" d-flex flex-column">

                        <div class="dropdown-label1 all-label ">Do you have Assets?<span class="text-danger">*</span>
                        </div>
                        <div class="d-flex flex-row">
                            <app-radiobuttons name="optionsGroup1" label="Yes" value="Yes" formControlName="checkedasset"
                            (checkedChange)="checkassetOnChange('Yes')">
                            </app-radiobuttons>


                            <app-radiobuttons name="optionsGroup1" 
                                (checkedChange)="checkassetOnChange('No')" label="No" value="No" formControlName="checkedasset">
                            </app-radiobuttons>
                        </div>
                    </div>
                </div>

                <!-- Lending Partner -->
                <div class="col-lg-12 col-sm-12 mt-20">
                    <app-dropdown [options]="selectlendingpartner" [placeholder]="'Select '+lendingpartner" [required]="true"
                        (selectedValueChange)="registerForm.get('lendingpartner')?.setValue($event)"
                        [avatarUrl]="avatarUrl" formControlName="lendingpartner" [hasAvatar]="hasAvatar"
                        [label]="lendingpartner">
                    </app-dropdown>
                </div>
            </div>
            
          


        </form>

    </ng-template>
</div>
  <hr class="footer-hr-class">
      <div class="loan-footerbtns row w-100  d-flex justify-content-between align-items-center">

                <div class="col-lg-4 ">
                    <img src="../assets/images/icons/save.svg">
                    <span class="text-dp-3-regular mx-2 blue-text"> Save and Exit</span>
                </div>
                <div class="col-lg-4  d-flex justify-content-end">
                    <app-buttons type="button" label="Back" class="btn btncustomClass" [outline]="true" (click)="back()">
                    </app-buttons>
                     <!-- <app-buttons type="button" label="Next" class="btn btncustomClass" color="primary" (click)="next1()" ></app-buttons> -->
                    <app-buttons type="button" label="Next" class="btn btncustomClass" color="primary" (click)="next()" [disabled]="!registerForm.valid || !checkboxasset"> </app-buttons>
                  
                </div>
            </div>
