<div class="base-layout" [ngClass]="{'coapplicant-layout': isCoApplicant}">

    <div class="header w-100" >
        <div class="d-flex justify-content-between">
            <div class="text-datepicker blue-text d-flex flex-column gap-2 ">General Information
                <div class="text-body-1 fw-normal" *ngIf="!isFromSummary">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"
                            fill="none">
                            <path
                                d="M10.9997 20.1667C16.0413 20.1667 20.1663 16.0417 20.1663 11C20.1663 5.95833 16.0413 1.83333 10.9997 1.83333C5.95801 1.83333 1.83301 5.95833 1.83301 11C1.83301 16.0417 5.95801 20.1667 10.9997 20.1667Z"
                                stroke="#25262F" stroke-width="1.28125" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M11 7.33333V11.9167" stroke="#25262F" stroke-width="1.28125" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M10.9961 14.6667H11.0043" stroke="#25262F" stroke-width="1.28125"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg></span>
                    Click the “Next” button to save your changes
                </div>
            </div>

            <div>
                <app-buttons
                    *ngIf="isFromSummary && !isEditMode"
                    type="button"
                    label="Edit"
                    class="btn btn-icon edit btncustomClass editBtnClass"
                    color="primary"
                    (click)="enableForm()"
                    [disabled]="!isViewMode"
                    [ngClass]="{'disabled-div' : !isViewMode}">
                    <img src="assets/images/icons/edit-white.svg" alt="edit">
                </app-buttons>
            </div>
        </div>
    </div>
    <div class="accordion d-flex flex-column gap-4 mb-4">

        <div class="accordion-item b-0" *ngFor="let acc of accordions; let i = index">

            <h2 class="accordion-header">
                <button class="accordion-button table-head" [class.collapsed]="openIndex !== i" type="button"
                    (click)="toggle(i)">
                    {{ acc.title }}
                </button>
            </h2>

            <div class="accordion-collapse collapse" [class.show]="openIndex === i">

                <div class="accordion-body p-0" *ngIf="openIndex === i">

                    <!-- <ng-container *ngIf="i === 0">
                        <ng-container *ngTemplateOutlet="identityTemplate; context:{index:i}">
                        </ng-container>
                    </ng-container> -->

                    <ng-container *ngIf="i === 0">
                        <ng-container
                            *ngTemplateOutlet="isCoApplicant ? coapplicantTemplate : identityTemplate"></ng-container>
                    </ng-container>


                </div>
            </div>

        </div>

    </div>

    <ng-template #identityTemplate let-i="index">

        <form [formGroup]="registerForm" (ngSubmit)="submit()" class="common-details-box d-flex flex-column">
            <div class="container-fluid">
                <div class="row">

                    <!-- <div class="text-label fw-bold ">Last Qualification Details</div> -->
                    <div class="col-lg-12 col-sm-12">
                        <app-dropdown [options]="selectoccupation" [placeholder]="'Select Current Occupation'"
                            [required]="true"
                            (selectedValueChange)="registerForm.get('occupation')?.setValue($event);handleOccupationChange($event)"
                            [avatarUrl]="avatarUrl" formControlName="occupation" [hasAvatar]="hasAvatar"
                            [label]="occupationlabel" [disabled]="isViewMode" >
                        </app-dropdown>

                    </div>





                    <div class="text-label fw-bold mt-20">Course Details</div>
                    <!-- Country NAME -->

                    <div class="col-lg-12 col-sm-12 mt-20">
                        <div class="row g-3">
                            <div [ngClass]="{'col-4': isOtherstate, 'col-6': !isOtherstate  }">

                                <app-inputfield type="text" [required]="true" label="Country" [required]="true"
                                    placeholder="Australia" helpText="Help text" [disabled]="true" name="country">
                                </app-inputfield>
                            </div>


                            <div [ngClass]="{'col-4': isOtherstate, 'col-6': !isOtherstate  }">

                                <app-dropdown [options]="Australianstate" [placeholder]="'Select '+state"
                                    [required]="true" (selectedValueChange)="selectPerState($event)"
                                    [avatarUrl]="avatarUrl" formControlName="state" [hasAvatar]="hasAvatar"
                                    [label]="state" [searchable]="true" [disabled]="isViewMode">
                                </app-dropdown>
                            </div>

                            <div class="col-4" *ngIf="isOtherstate">
                                <div class="form-group">
                                    <app-inputfield formControlName="otherstatetitle" name="otherstatetitle"
                                        (input)="mainservice.restrictInput($event,'text')" label="Other State Name"
                                        placeholder="Enter Title" [required]="true">
                                    </app-inputfield>

                                    <div class="text-danger"
                                        *ngIf="registerForm.get('otherstatetitle')?.touched && registerForm.get('otherstatetitle')?.invalid">
                                        State Name is required
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- University NAME -->
                    <div class="col-lg-12 col-sm-12 mt-20">
                       

                        <div class="row g-3">
                            <div [ngClass]="{'col-6': isOtherUniversity, 'col-12': !isOtherUniversity  }">

                                <app-dropdown [options]="AustralianUniversities" [placeholder]="'Select '+university"
                                    [required]="true" (selectedValueChange)="selecteduniversity($event)"
                                    [avatarUrl]="avatarUrl" formControlName="university" [hasAvatar]="hasAvatar"
                                    [label]="university" [searchable]="true" [disabled]="isViewMode">
                                </app-dropdown>
                            </div>

                            <div class="col-6" *ngIf="isOtherUniversity">
                                <div class="form-group">
                                    <app-inputfield formControlName="otherunititle" name="otherunititle"
                                        (input)="mainservice.restrictInput($event,'text')" label="Other university Name"
                                        placeholder="Enter Title" [required]="true">
                                    </app-inputfield>

                                    <div class="text-danger"
                                        *ngIf="registerForm.get('otherunititle')?.touched && registerForm.get('otherunititle')?.invalid">
                                        university Name is required
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <!-- course type -->
                    <div class="col-lg-12 col-sm-12 mt-20">
                       

                        <div class="row g-3">
                            <div [ngClass]="{'col-6': isOthercoursetype, 'col-12': !isOthercoursetype  }">

                                <app-dropdown [options]="selectcourse" [placeholder]="'Select '+coursetype"
                                    [required]="true" (selectedValueChange)="selectedcoursetype($event)"
                                    [avatarUrl]="avatarUrl" formControlName="coursetype" [hasAvatar]="hasAvatar"
                                    [label]="coursetype" [disabled]="isViewMode">
                                </app-dropdown>
                            </div>

                            <div class="col-6" *ngIf="isOthercoursetype">
                                <div class="form-group">
                                    <app-inputfield formControlName="othercoursetypetitle" name="othercoursetypetitle"
                                        (input)="mainservice.restrictInput($event,'text')"
                                        label="Other Course Type Name" placeholder="Enter Title" [required]="true">
                                    </app-inputfield>

                                    <div class="text-danger"
                                        *ngIf="registerForm.get('othercoursetypetitle')?.touched && registerForm.get('othercoursetypetitle')?.invalid">
                                        Course Type Name is required
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- course name -->
                    <div class="col-lg-12 col-sm-12 mt-20">
                       

                        <div class="row g-3">
                            <div [ngClass]="{'col-6': isOthercoursename, 'col-12': !isOthercoursename  }">

                                <app-dropdown [options]="selectcoursename" [placeholder]="'Select '+coursename"
                                    [required]="true" (selectedValueChange)="selectedCoursename($event)"
                                    [avatarUrl]="avatarUrl" [searchable]="true" formControlName="coursename"
                                    [hasAvatar]="hasAvatar" [label]="coursename" [disabled]="isViewMode">
                                </app-dropdown>
                            </div>

                            <div class="col-6" *ngIf="isOthercoursename">
                                <div class="form-group">
                                    <app-inputfield formControlName="othercoursenametitle" name="othercoursenametitle"
                                        (input)="mainservice.restrictInput($event,'text')" label="Other Course Name"
                                        placeholder="Enter Title" [required]="true" >
                                    </app-inputfield>

                                    <div class="text-danger"
                                        *ngIf="registerForm.get('othercoursenametitle')?.touched && registerForm.get('othercoursenametitle')?.invalid">
                                        Course Name is required
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                  


                  <!-- Course Start Date* -->
                    <div class="col-lg-6 col-sm-12 mt-20">
                        <app-datepickernew formControlName="coursestartdate" label="Course Start Date"
                            placeholder="DD/MM/YYYY" [disablePastDates]="true"  [ngClass]="{'disabled-div' : isViewMode}" (dateChanged)="onDateChanged($event)">
                        </app-datepickernew>
                        <div class="text-danger"
                            *ngIf="f['coursestartdate'].touched && f['coursestartdate'].errors?.['minDateError']">
                            Start date cannot be in the past
                        </div>
                        <div class="text-danger"
                            *ngIf="f['coursestartdate'].touched && f['coursestartdate'].errors?.['zeroDateError']">
                            Please enter a valid course start date
                        </div>
                    </div>
                    <!-- Course End Date* -->
                    <div class="col-lg-6 col-sm-12 mt-20">
                        <app-datepickernew formControlName="courseenddate" label="Course End Date"  [ngClass]="{'disabled-div' : isViewMode}"
                            placeholder="DD/MM/YYYY" [disabled]="!f['coursestartdate'].value" [disablePastDates]="true">
                        </app-datepickernew>
                        <div class="text-danger"
                            *ngIf="f['courseenddate'].touched && f['courseenddate'].errors?.['invalidEndDate']"> End
                            date must be after start date
                        </div>
                        <div class="text-danger"
                            *ngIf="f['courseenddate'].touched && f['courseenddate'].errors?.['zeroDateError']">
                            Please enter a valid course end date
                        </div>
                    </div>
 

                    <!-- Do you have Assets? -->
                    <div class="col-lg-12 mt-20">
                        <div class=" d-flex flex-column">

                            <div class="dropdown-label1 all-label ">Do you have Assets?<span
                                    class="text-danger">*</span>
                            </div>
                            <div class="d-flex flex-row">
                                <app-radiobuttons name="optionsGroup1" label="Yes" value="Yes" [disabled]="isViewMode"
                                    formControlName="checkedasset" (checkedChange)="checkassetOnChange('Yes')">
                                </app-radiobuttons>


                                <app-radiobuttons name="optionsGroup1" (checkedChange)="checkassetOnChange('No')" [disabled]="isViewMode"
                                    label="No" value="No" formControlName="checkedasset">
                                </app-radiobuttons>
                            </div>
                        </div>
                    </div>

                    <!-- Lending Partner -->
                    <div class="col-lg-12 col-sm-12 mt-20">
                        <app-dropdown [options]="selectlendingpartner" [placeholder]="'Select '+lendingpartner"
                            [required]="true"
                            (selectedValueChange)="registerForm.get('lendingpartner')?.setValue($event)"
                            [avatarUrl]="avatarUrl" formControlName="lendingpartner" [hasAvatar]="hasAvatar"
                            [label]="lendingpartner" [disabled]="isViewMode">
                        </app-dropdown>
                    </div>
                </div>
            </div>



        </form>

    </ng-template>

    <ng-template #coapplicantTemplate let-i="index">

        <form [formGroup]="coapp_registerForm" (ngSubmit)="submit()" class="common-details-box d-flex flex-column">
            <div class="container-fluid">
                <div class="row">
                    <div [ngClass]="{'col-3': isOtherRelationship, 'col-4': !isOtherRelationship  }">
                        <!-- <div class="col-lg-4 col-sm-12 mt-20"> -->
                        <app-dropdown [options]="selectoccupation" [placeholder]="'Select Current Occupation'"
                            [required]="true" [disabled]="isViewMode" [selectedValue]="coapp_registerForm.get('occupation')?.value"
                            (selectedValueChange)="coapp_registerForm.get('occupation')?.setValue($event);handleCoApplicantOccupationChange($event)"
                            [avatarUrl]="avatarUrl" formControlName="occupation" [hasAvatar]="hasAvatar"
                            [label]="occupationlabel">
                        </app-dropdown>

                    </div>
                    <!-- </div> -->
                    <div [ngClass]="{'col-3': isOtherRelationship, 'col-4': !isOtherRelationship  }">
                        <app-dropdown [options]="selectAnnualIncome" [placeholder]="'Select Annual Income'"
                            [required]="true" [disabled]="isViewMode"
                            (selectedValueChange)="coapp_registerForm.get('annualincome')?.setValue($event)"
                            [avatarUrl]="avatarUrl" formControlName="annualincome" [hasAvatar]="hasAvatar"
                            [label]="'Annual Income'">
                        </app-dropdown>

                    </div>
                    <div [ngClass]="{'col-3': isOtherRelationship, 'col-4': !isOtherRelationship  }">
                        <app-dropdown [options]="selectrelationship" [placeholder]="'Select Relation'" [required]="true"
                            (selectedValueChange)="Selectedrelation($event);" [disabled]="isViewMode"
                            [avatarUrl]="avatarUrl" formControlName="relationship" [hasAvatar]="hasAvatar"
                            [label]="'Relation with Applicant'">
                        </app-dropdown>

                    </div>
                    <div class="col-3" *ngIf="isOtherRelationship">
                        <div class="form-group">
                            <app-inputfield formControlName="OtherRelationship" name="OtherRelationship" label="Other Relation"
                                [maxlength]="100" placeholder="Enter Relation Name" [required]="true">
                            </app-inputfield>

                            <div class="text-danger"
                            *ngIf="coapp_registerForm.get('OtherRelationship')?.touched && coapp_registerForm.get('OtherRelationship')?.invalid">
                            Relation is required
                        </div>
                        <div class="text-danger" *ngIf="coapp_registerForm.get('OtherRelationship')?.errors?.['minlength']">
                            Minimum 2 characters required
                        </div>
                        <div class="text-danger" *ngIf="coapp_registerForm.get('OtherRelationship')?.errors?.['maxlength']">
                            Maximum 100 characters allowed
                        </div>
                        </div>

                    </div>

                    <div class="col-lg-12 mt-20">
                        <div class=" d-flex flex-column">

                            <div class="dropdown-label1 all-label ">Do you have Assets?<span
                                    class="text-danger">*</span>
                            </div>
                            <div class="d-flex flex-row">
                                <app-radiobuttons name="optionsGroup1" label="Yes" value="Yes" [disabled]="isViewMode"
                                    formControlName="co_checkedasset" (checkedChange)="co_checkassetOnChange('Yes')">
                                </app-radiobuttons>


                                <app-radiobuttons name="optionsGroup1" (checkedChange)="co_checkassetOnChange('No')" [disabled]="isViewMode"
                                    label="No" value="No" formControlName="co_checkedasset">
                                </app-radiobuttons>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>

</div>
<hr class="footer-hr-class">
<div class="loan-footerbtns row w-100  d-flex justify-content-between align-items-center">

    <ng-container *ngIf="!isFromSummary">
        <div class="col-lg-4 pointer">
            <img src="../assets/images/icons/save.svg">
            <span class="text-dp-3-regular mx-2 blue-text" (click)="saveExit()"> Save and Exit</span>
        </div>
        <div class="col-lg-4  d-flex justify-content-end">
            <app-buttons type="button" label="Back" class="btn btncustomClass" [outline]="true" (click)="back()">
            </app-buttons>
            <!-- <app-buttons type="button" label="Next" class="btn btncustomClass" color="primary" (click)="next()"
                [disabled]="!registerForm.valid || !checkboxasset"> </app-buttons> -->
            <app-buttons type="button" label="Next" class="btn btncustomClass" color="primary" (click)="next()" [ngClass]="{'disabled-div' : !activeForm.valid || !checkboxasset}"
                [disabled]="!activeForm.valid || !checkboxasset"> </app-buttons>

        </div>
    </ng-container>

    <ng-container *ngIf="isFromSummary && isEditMode">
        <div class="col-lg-12 d-flex justify-content-end gap-2">

        <app-buttons
            type="button"
            label="Cancel"
            class="btn btncustomClass"
            [outline]="true"
            (click)="cancelSummaryEdit()">
        </app-buttons>

        <app-buttons
           
            type="button"
            label="Save"
            class="btn btncustomClass"
            color="primary"
            (click)="saveSummaryEdit()"
            [disabled]="!activeForm.valid || !checkboxasset" [ngClass]="{'disabled-div' : !activeForm.valid || !checkboxasset}">
        </app-buttons>

        </div>
  </ng-container>
</div>
<div class="edit-success-modal" *ngIf="editSuccess">
    <div class="edit-modal-overlay"></div>

    <div class="edit-modal-container">
      <button class="edit-close-btn" (click)="onCancel()">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <path d="M3 3L15 15L3 3Z" fill="#F4F6FF" />
          <path d="M3 3L15 15" stroke="#F4F6FF" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M3 15L15 3" stroke="#F4F6FF" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round" />
        </svg></button>

      <app-successbox [title]="description1"
        [buttons]="[
            { label: 'OK', action: 'OK', outline: false, color: 'primary',class: 'btncustomClass w-50'  },
        ]" (actionClick)="handleSuccessAction($event)"
    >
    </app-successbox>

    </div>
</div>